Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

lint
  .gitguardian.yaml
  .github/workflows/app.yml
  frontend/app/.gitignore
  frontend/app/tsconfig.build.json
  frontend/app/tsconfig.cypress.json
  hack/ci/start-api.sh
  hack/ci/start-engine.sh
  hack/ci/wait-for-http.sh
  hack/ci/write-e2e-env.sh
Due: frontend-app-lint

lint
  .github/workflows/app.yml
Due: none

Update .github/workflows/app.yml
  .github/workflows/app.yml
Due: none

upgrade Go version
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/sdk-python.yml
  .github/workflows/sdk-typescript.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  build/package/frontend.dockerfile
  build/package/loadtest.dockerfile
  build/package/servers.dockerfile
Due: none

fix migration name
  cmd/hatchet-migrate/migrate/migrations/20251218123817_v1_0_62.sql
Due: none

fix CI
  .github/workflows/sdk-go.yml
Due: none

fix lint CI
  .pre-commit-config.yaml
Due: none

golangci-lint fix
  .golangci.yml
Due: none

fix: rare cases of duplicate writes causing stuck updates
  cmd/hatchet-migrate/migrate/migrations/20251218153621_v1_0_62.sql
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  sql/schema/v1-olap.sql
Due: none

fix: filter + pagination state handling hack
  frontend/app/src/hooks/use-pagination.tsx
  frontend/app/src/hooks/use-zod-column-filters.ts
  frontend/app/src/lib/router-helpers.tsx
  frontend/app/src/pages/main/v1/filters/hooks/use-filters.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-filters.tsx
Due: frontend-app-lint

wip
  cmd/hatchet-cli/cli/docker/docker.go
  cmd/hatchet-cli/cli/docker/hatchet.go
  cmd/hatchet-cli/cli/docker/postgres.go
  cmd/hatchet-cli/cli/root.go
  cmd/hatchet-cli/cli/server.go
  cmd/hatchet-cli/main.go
  go.mod
  go.sum
Due: none

update to go 1.25
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/sdk-python.yml
  .github/workflows/sdk-typescript.yml
  .github/workflows/test.yml
  build/package/frontend.dockerfile
  build/package/loadtest.dockerfile
  build/package/servers.dockerfile
Due: none

fix: add version to sdk-go.yml
  .github/workflows/sdk-go.yml
Due: none

fix: use location.pathname
  frontend/app/src/lib/router-helpers.tsx
Due: frontend-app-lint

chore: add cypres e2e testing to dashboard (#2676)
  .gitguardian.yaml
  .github/workflows/app.yml
  Taskfile.yaml
  cmd/hatchet-admin/cli/seed.go
  cmd/hatchet-admin/cli/seed/seed-cypress.go
  frontend/app/.eslintrc.json
  frontend/app/.gitignore
  frontend/app/cypress.config.ts
  frontend/app/cypress/e2e/auth/login.cy.ts
  frontend/app/cypress/e2e/auth/logout.cy.ts
  frontend/app/cypress/e2e/auth/register.cy.ts
  frontend/app/cypress/e2e/auth/tenant-create.cy.ts
  frontend/app/cypress/e2e/auth/tenant-switching.cy.ts
  frontend/app/cypress/support/commands.ts
  frontend/app/cypress/support/e2e.ts
  frontend/app/cypress/support/flows/auth.ts
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/app/src/components/molecules/nav-bar/nav-bar.tsx
  frontend/app/src/components/v1/molecules/nav-bar/tenant-switcher.tsx
  frontend/app/tsconfig.build.json
  frontend/app/tsconfig.cypress.json
  frontend/app/tsconfig.json
  frontend/app/vite.config.ts
  hack/ci/start-api.sh
  hack/ci/start-engine.sh
  hack/ci/wait-for-http.sh
  hack/ci/write-e2e-env.sh
Due: frontend-app-lint

Fix: filter + pagination state handling hack (#2682)
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/sdk-go.yml
  .github/workflows/sdk-python.yml
  .github/workflows/sdk-typescript.yml
  .github/workflows/test.yml
  build/package/frontend.dockerfile
  build/package/loadtest.dockerfile
  build/package/servers.dockerfile
  frontend/app/src/hooks/use-pagination.tsx
  frontend/app/src/hooks/use-zod-column-filters.ts
  frontend/app/src/lib/router-helpers.tsx
  frontend/app/src/pages/main/v1/filters/hooks/use-filters.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-filters.tsx
Due: frontend-app-lint

feat: Send create:user event from OAuth flow
  api/v1/server/handlers/users/create.go
  api/v1/server/handlers/users/github_oauth_callback.go
  api/v1/server/handlers/users/google_oauth_callback.go
Due: none

fix: rare cases of duplicate writes causing stuck updates (#2681)
  cmd/hatchet-migrate/migrate/migrations/20251218153621_v1_0_62.sql
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  sql/schema/v1-olap.sql
Due: none

dedicated subscription
  frontend/app/src/components/v1/cloud/billing/subscription.tsx
Due: frontend-app-lint

feat: Implement user and tenant creation events in callbacks
  api/v1/server/handlers/tenants/create.go
  api/v1/server/handlers/users/create.go
  api/v1/server/handlers/users/github_oauth_callback.go
  api/v1/server/handlers/users/google_oauth_callback.go
  pkg/config/loader/loader.go
  pkg/repository/postgres/tenant.go
  pkg/repository/postgres/user.go
  pkg/repository/tenant.go
  pkg/repository/user.go
Due: none

fix: typescript tasks canceled status
  sdks/typescript/src/v1/client/worker/worker-internal.ts
Due: none

improve prom metrics setup guide
  frontend/docs/pages/self-hosting/prometheus-metrics.mdx
Due: frontend-docs-lint

schedule run bulk actions
  api-contracts/openapi/components/schemas/_index.yaml
  api-contracts/openapi/components/schemas/workflow_run.yaml
  api-contracts/openapi/openapi.yaml
  api-contracts/openapi/paths/workflow/workflow.yaml
  api/v1/server/handlers/workflows/bulk_delete_scheduled.go
  api/v1/server/handlers/workflows/bulk_update_scheduled.go
  api/v1/server/handlers/workflows/delete_scheduled.go
  api/v1/server/handlers/workflows/get_scheduled.go
  api/v1/server/handlers/workflows/update_scheduled.go
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/components/molecules/confirm-dialog.tsx
  frontend/app/src/lib/api/generated/Api.ts
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/pages/main/v1/scheduled-runs/components/bulk-delete-scheduled-runs.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/components/bulk-reschedule-scheduled-runs.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/components/scheduled-runs-columns.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/index.tsx
  pkg/client/rest/gen.go
  pkg/repository/postgres/workflow_run.go
  pkg/repository/workflow_run.go
  sdks/typescript/src/v1/client/features/schedules.ts
  sdks/typescript/src/v1/examples/simple/schedule.ts
Due: frontend-app-lint

lint
  frontend/app/src/pages/main/v1/scheduled-runs/components/scheduled-runs-columns.tsx
Due: frontend-app-lint

typescript
  sdks/typescript/src/clients/rest/generated/Api.ts
  sdks/typescript/src/clients/rest/generated/data-contracts.ts
  sdks/typescript/src/v1/client/features/schedules.ts
Due: none

improve prom metrics setup guide (#2686)
  frontend/docs/pages/self-hosting/prometheus-metrics.mdx
Due: frontend-docs-lint

python
  sdks/python/hatchet_sdk/clients/rest/__init__.py
  sdks/python/hatchet_sdk/clients/rest/api/workflow_api.py
  sdks/python/hatchet_sdk/clients/rest/models/__init__.py
  sdks/python/hatchet_sdk/clients/rest/models/scheduled_workflows_bulk_delete_filter.py
  sdks/python/hatchet_sdk/clients/rest/models/scheduled_workflows_bulk_delete_request.py
  sdks/python/hatchet_sdk/clients/rest/models/scheduled_workflows_bulk_delete_response.py
  sdks/python/hatchet_sdk/clients/rest/models/scheduled_workflows_bulk_error.py
  sdks/python/hatchet_sdk/clients/rest/models/scheduled_workflows_bulk_update_item.py
  sdks/python/hatchet_sdk/clients/rest/models/scheduled_workflows_bulk_update_request.py
  sdks/python/hatchet_sdk/clients/rest/models/scheduled_workflows_bulk_update_response.py
  sdks/python/hatchet_sdk/clients/rest/models/update_scheduled_workflow_run_request.py
  sdks/python/hatchet_sdk/features/scheduled.py
  sdks/python/poetry.lock
Due: none

lint
  sdks/python/hatchet_sdk/features/scheduled.py
  sdks/typescript/src/v1/examples/simple/replay-cancel.ts
  sdks/typescript/src/v1/examples/simple/schedule.ts
Due: none

feat: offset cleanup queries
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: tenanted routes in alerts
  internal/integrations/alerting/alerter.go
  internal/integrations/alerting/email.go
Due: none

fix: janky fe-side redirects
  frontend/app/src/router.tsx
Due: frontend-app-lint

chore: rm log
  frontend/app/src/router.tsx
Due: frontend-app-lint

chore: lint
  frontend/app/src/router.tsx
Due: frontend-app-lint

feat: wire it up
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

chore: review
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/app/src/router.tsx
Due: frontend-app-lint

fix: extend lease interval
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
Due: none

feat: new function for diffing rows
  cmd/hatchet-migrate/migrate/migrations/20251219181211_v1_0_63.sql
  sql/schema/v1-core.sql
  sql/schema/v1-olap.sql
Due: none

feat: queries
  cmd/hatchet-migrate/migrate/migrations/20251219181211_v1_0_63.sql
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-olap.sql
Due: none

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
