Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

chore: move slack to v1 repository
  api/v1/server/handlers/slack-app/oauth_callback.go
  api/v1/server/handlers/slack-app/slack_delete.go
  api/v1/server/handlers/slack-app/slack_list.go
  api/v1/server/oas/transformers/slack.go
  api/v1/server/run/run.go
  pkg/repository/postgres/dbsqlc/sqlc.yaml
  pkg/repository/postgres/repository.go
  pkg/repository/postgres/slack.go
  pkg/repository/repository.go
  pkg/repository/slack.go
  pkg/repository/v1/repository.go
  pkg/repository/v1/security_check.go
  pkg/repository/v1/slack.go
  pkg/repository/v1/sqlcv1/slack.sql
  pkg/repository/v1/sqlcv1/slack.sql.go
  pkg/repository/v1/sqlcv1/sqlc.yaml
Due: none

chore: move sns implementation to v1 repository
  api/v1/server/handlers/ingestors/sns.go
  api/v1/server/handlers/ingestors/sns_create.go
  api/v1/server/handlers/ingestors/sns_delete.go
  api/v1/server/handlers/ingestors/sns_list.go
  api/v1/server/oas/transformers/sns.go
  api/v1/server/run/run.go
  pkg/repository/postgres/dbsqlc/sqlc.yaml
  pkg/repository/postgres/repository.go
  pkg/repository/postgres/sns.go
  pkg/repository/repository.go
  pkg/repository/sns.go
  pkg/repository/v1/repository.go
  pkg/repository/v1/sns.go
  pkg/repository/v1/sqlcv1/sns.sql
  pkg/repository/v1/sqlcv1/sns.sql.go
  pkg/repository/v1/sqlcv1/sqlc.yaml
Due: none

chore: gen python
  sdks/python/hatchet_sdk/clients/rest/__init__.py
  sdks/python/hatchet_sdk/clients/rest/models/__init__.py
  sdks/python/hatchet_sdk/clients/rest/models/create_tenant_request.py
  sdks/python/hatchet_sdk/clients/rest/models/scheduled_workflows_bulk_delete_filter.py
  sdks/python/hatchet_sdk/clients/rest/models/tenant.py
  sdks/python/hatchet_sdk/clients/rest/models/update_tenant_request.py
  sdks/python/hatchet_sdk/clients/rest/models/v1_task_event_type.py
  sdks/python/hatchet_sdk/features/scheduled.py
  sdks/python/lint.sh
  sdks/python/poetry.lock
Due: none

chore: start generating ts
  sdks/typescript/src/clients/rest/generated/Api.ts
  sdks/typescript/src/clients/rest/generated/data-contracts.ts
Due: none

chore: regen ts
  api-contracts/openapi/components/schemas/_index.yaml
  sdks/typescript/package.json
  sdks/typescript/src/clients/rest/generated/Api.ts
  sdks/typescript/src/clients/rest/generated/data-contracts.ts
  sdks/typescript/src/clients/rest/generated/http-client.ts
Due: none

chore: changelog
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/package.json
Due: none

JSON optimizations part 1
  go.mod
  go.sum
  internal/dagutils/checksum.go
  internal/datautils/map.go
  internal/datautils/map_bench_test.go
  internal/digest/compute.go
  internal/digest/compute_bench_test.go
  pkg/repository/v1/match_data.go
  pkg/repository/v1/match_data_bench_test.go
  pkg/repository/v1/task.go
  pkg/repository/v1/task_bench_test.go
  pkg/repository/v1/workflow.go
Due: none

fix: copilot
  sdks/python/lint.sh
Due: none

hotfix: handle panic
  internal/services/controllers/v1/olap/controller.go
Due: none

fix: bump urllib3
  sdks/python/poetry.lock
  sdks/python/pyproject.toml
Due: none

fix: mdast-util-to-hast
  frontend/docs/package.json
  frontend/docs/pnpm-lock.yaml
Due: frontend-docs-lint

fix: js-yaml
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/docs/package.json
  frontend/docs/pnpm-lock.yaml
Due: frontend-app-lint, frontend-docs-lint

fix: js-yaml
  sdks/typescript/package.json
  sdks/typescript/pnpm-lock.yaml
Due: none

fix: unfreeze refetch interval on changing interval
  frontend/app/src/contexts/refetch-interval-context.tsx
Due: frontend-app-lint

fix: unfreeze on navigation
  frontend/app/src/contexts/refetch-interval-context.tsx
Due: frontend-app-lint

fix: lint
  frontend/app/src/contexts/refetch-interval-context.tsx
Due: frontend-app-lint

fix: rm dropdown
  frontend/app/src/pages/main/v1/task-runs-v1/actions.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/header.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/task-runs-table/table-actions.tsx
Due: frontend-app-lint

fix: tooltip
  frontend/app/src/pages/main/v1/task-runs-v1/actions.tsx
Due: frontend-app-lint

fix: more broken tooltips
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-node.tsx
Due: frontend-app-lint

fix: rm some state
  frontend/app/src/pages/main/v1/task-runs-v1/actions.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/task-runs-table/table-actions.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/runs-provider.tsx
Due: frontend-app-lint

fix: rm some components
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/task-runs-table/table-actions.tsx
Due: frontend-app-lint

fix: shrink task run graph
  frontend/app/src/components/v1/molecules/charts/zoomable.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
Due: frontend-app-lint

fix: make a little bigger
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
Due: frontend-app-lint

fix: make point metrics line up with badges
  api/v1/server/handlers/v1/tasks/get_point_metrics.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

clean up step repository
  cmd/hatchet-engine/engine/run.go
  internal/services/ingestor/ingestor.go
  pkg/config/loader/loader.go
  pkg/repository/postgres/dbsqlc/sqlc.yaml
  pkg/repository/postgres/dbsqlc/step_runs.sql
  pkg/repository/postgres/dbsqlc/step_runs.sql.go
  pkg/repository/postgres/dbsqlc/workflows.sql
  pkg/repository/postgres/dbsqlc/workflows.sql.go
  pkg/repository/postgres/repository.go
  pkg/repository/postgres/step.go
  pkg/repository/postgres/step_run.go
  pkg/repository/repository.go
  pkg/repository/step.go
Due: none

chore: move tenant invite to v1 repository
  api/v1/server/handlers/tenants/create_invite.go
  api/v1/server/handlers/tenants/delete_invite.go
  api/v1/server/handlers/tenants/list_invites.go
  api/v1/server/handlers/tenants/update_invite.go
  api/v1/server/handlers/users/accept_invite.go
  api/v1/server/handlers/users/list_tenant_invites.go
  api/v1/server/handlers/users/reject_invite.go
  api/v1/server/oas/transformers/tenant_invite.go
  api/v1/server/run/run.go
  pkg/repository/postgres/dbsqlc/sqlc.yaml
  pkg/repository/postgres/repository.go
  pkg/repository/postgres/tenant_invite.go
  pkg/repository/repository.go
  pkg/repository/tenant_invite.go
  pkg/repository/v1/repository.go
  pkg/repository/v1/sqlcv1/sqlc.yaml
  pkg/repository/v1/sqlcv1/tenant_invites.sql
  pkg/repository/v1/sqlcv1/tenant_invites.sql.go
  pkg/repository/v1/tenant_invite.go
Due: none

fix: use bar instead of area chart
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
Due: frontend-app-lint

Chore: Resolve dependabot alerts (#2734)
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/docs/package.json
  frontend/docs/pnpm-lock.yaml
  sdks/python/poetry.lock
  sdks/python/pyproject.toml
  sdks/typescript/package.json
  sdks/typescript/pnpm-lock.yaml
Due: frontend-app-lint, frontend-docs-lint

Chore: Regen SDKs (#2731)
  api-contracts/openapi/components/schemas/_index.yaml
  sdks/python/CHANGELOG.md
  sdks/python/hatchet_sdk/clients/rest/__init__.py
  sdks/python/hatchet_sdk/clients/rest/models/__init__.py
  sdks/python/hatchet_sdk/clients/rest/models/create_tenant_request.py
  sdks/python/hatchet_sdk/clients/rest/models/scheduled_workflows_bulk_delete_filter.py
  sdks/python/hatchet_sdk/clients/rest/models/tenant.py
  sdks/python/hatchet_sdk/clients/rest/models/update_tenant_request.py
  sdks/python/hatchet_sdk/clients/rest/models/v1_task_event_type.py
  sdks/python/hatchet_sdk/features/scheduled.py
  sdks/python/lint.sh
  sdks/python/pyproject.toml
  sdks/typescript/package.json
  sdks/typescript/src/clients/rest/generated/Api.ts
  sdks/typescript/src/clients/rest/generated/data-contracts.ts
  sdks/typescript/src/clients/rest/generated/http-client.ts
Due: none

Fix: Remove action dropdown, fix a couple broken tooltips (#2737)
  frontend/app/src/pages/main/v1/task-runs-v1/actions.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/header.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-node.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/task-runs-table/table-actions.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/runs-provider.tsx
Due: frontend-app-lint

Fix: Frozen refetch state gets stuck (#2736)
  frontend/app/src/contexts/refetch-interval-context.tsx
Due: frontend-app-lint

fix: info log
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

feat: allow cron aliases
  sdks/python/hatchet_sdk/features/cron.py
Due: none

fix: flaky test
  sdks/python/examples/bulk_operations/test_bulk_replay.py
Due: none

chore: changelog, version
  sdks/python/CHANGELOG.md
Due: none

fix: lint
  sdks/python/examples/bulk_operations/test_bulk_replay.py
Due: none

[Python]: Improved exception logging, cron aliases, flaky test fix (#2735)
  sdks/python/CHANGELOG.md
  sdks/python/examples/bulk_operations/test_bulk_replay.py
  sdks/python/hatchet_sdk/features/cron.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
