Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

Feat: Log Search Frontend, Part I (#2830)
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/app/src/components/v1/cloud/logging/components/Terminal.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/parser.ts
  frontend/app/src/components/v1/cloud/logging/log-search/types.ts
  frontend/app/src/components/v1/cloud/logging/log-search/use-logs.tsx
  frontend/app/src/components/v1/cloud/logging/log-viewer.tsx
  frontend/app/src/components/v1/cloud/logging/logs.tsx
  frontend/app/src/index.css
  frontend/app/src/pages/main/v1/managed-workers/$managed-worker/components/managed-worker-build-logs.tsx
  frontend/app/src/pages/main/v1/managed-workers/$managed-worker/components/managed-worker-iac-logs.tsx
  frontend/app/src/pages/main/v1/managed-workers/$managed-worker/components/managed-worker-logs.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-logs.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/task-run-logs.tsx
Due: frontend-app-lint

add: go build tags
  pkg/integrations/email/smtp/mock_smtp_test.go
  pkg/integrations/email/smtp/smtp_test.go
Due: none

fix: don't toggle selection if a user is dragging
  frontend/app/src/components/v1/cloud/logging/components/Terminal.tsx
Due: frontend-app-lint

Make sure we query for pending invites in the create tenant page (#2883)
  frontend/app/cypress/e2e/auth/01-login.cy.ts
  frontend/app/cypress/e2e/auth/02-logout.cy.ts
  frontend/app/cypress/e2e/auth/03-register.cy.ts
  frontend/app/cypress/e2e/auth/04-tenant-create.cy.ts
  frontend/app/cypress/e2e/auth/05-tenant-invite-accept.cy.ts
  frontend/app/cypress/e2e/auth/06-tenant-switching.cy.ts
  frontend/app/cypress/e2e/auth/07-create-tenant-invites-redirect.cy.ts
  frontend/app/cypress/e2e/auth/08-tenant-invite-decline.cy.ts
  frontend/app/cypress/support/flows/auth.ts
  frontend/app/src/hooks/use-pending-invites.ts
  frontend/app/src/pages/auth/hooks/use-cloud.ts
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
  frontend/app/src/pages/onboarding/invites/index.tsx
Due: frontend-app-lint

fix: command selection state
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
Due: frontend-app-lint

fix: close search bar on enter
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
Due: frontend-app-lint

fix: improve search bar styling a bit, make it more consistent with designs
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/types.ts
Due: frontend-app-lint

make sure there are no hatchet processes left after a cypress run
  Taskfile.yaml
  hack/ci/e2e-frontend.sh
Due: none

chore: tsc
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
Due: frontend-app-lint

feat: grpc-side triggers
  internal/services/admin/admin.go
  internal/services/admin/server_v1.go
  internal/services/admin/v1/admin.go
  internal/services/admin/v1/server.go
  internal/services/controllers/task/controller.go
  internal/services/controllers/task/trigger/trigger.go
  internal/services/ingestor/ingestor.go
  internal/services/ingestor/ingestor_v1.go
  internal/services/shared/tasktypes/v1/event.go
  pkg/config/server/server.go
  pkg/repository/callbacks.go
  pkg/repository/optimistic_tx.go
  pkg/repository/shared.go
  pkg/repository/trigger.go
Due: none

fix: config and sem logic
  cmd/hatchet-engine/engine/run.go
  internal/services/controllers/task/trigger/trigger.go
Due: none

fix: propagate retry count through properly
  sdks/python/hatchet_sdk/clients/events.py
  sdks/python/hatchet_sdk/context/context.py
  sdks/python/hatchet_sdk/runnables/contextvars.py
  sdks/python/hatchet_sdk/worker/action_listener_process.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/hatchet_sdk/worker/runner/utils/capture_logs.py
Due: none

fix: respect optimistic scheduling env var
  cmd/hatchet-engine/engine/run.go
  internal/services/admin/admin.go
  internal/services/admin/v1/admin.go
  internal/services/ingestor/ingestor.go
Due: none

feat: attempt switcher
  frontend/app/src/components/v1/cloud/logging/log-search/attempt-switcher.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/use-logs.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/task-run-logs.tsx
Due: frontend-app-lint

fix: attempt numbers
  frontend/app/src/components/v1/cloud/logging/log-search/use-logs.tsx
Due: frontend-app-lint

feat: add attempt param to log query
  api-contracts/openapi/paths/v1/tasks/tasks.yaml
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/Api.ts
  pkg/client/rest/gen.go
  pkg/repository/log_line.go
  pkg/repository/sqlcv1/log_line.sql
  pkg/repository/sqlcv1/log_line.sql.go
Due: frontend-app-lint

feat: wiring
  api/v1/server/handlers/v1/tasks/list_logs.go
  pkg/repository/log_line.go
Due: none

add optimistic to testing matrix, remove pg-only mode
  .github/workflows/release.yaml
  .github/workflows/test.yml
  pkg/testing/harness/engine.go
Due: none

management tokens that never expire
  frontend/app/src/lib/api/generated/cloud/data-contracts.ts
  frontend/app/src/pages/organizations/$organization/components/create-token-modal.tsx
  frontend/app/src/pages/organizations/$organization/index.tsx
Due: frontend-app-lint

feat: attempt filter
  frontend/app/src/components/v1/cloud/logging/log-search/attempt-switcher.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/parser.ts
  frontend/app/src/components/v1/cloud/logging/log-search/types.ts
  frontend/app/src/components/v1/cloud/logging/log-search/use-logs.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/task-run-logs.tsx
Due: frontend-app-lint

chore: changelog
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

fix: use the button component
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
Due: frontend-app-lint

make sure there are no hatchet processes left after a cypress run (#2887)
  Taskfile.yaml
  hack/ci/e2e-frontend.sh
Due: none

fix: only close on enter when in FTS mode
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
Due: frontend-app-lint

fix: pass retry count and log level in Go
  pkg/client/event.go
  pkg/worker/context.go
Due: none

fix: feedback
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

chore: lint
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

fix: rm cruft comment
  frontend/app/src/components/v1/cloud/logging/log-search/use-logs.tsx
Due: frontend-app-lint

fix cleanup of pubbuffers
  cmd/hatchet-engine/engine/run.go
  internal/services/admin/admin.go
  internal/services/admin/v1/admin.go
  internal/services/ingestor/ingestor.go
Due: none

add: SMTP server guide
  frontend/docs/pages/self-hosting/_meta.js
  frontend/docs/pages/self-hosting/smtp-server.mdx
Due: frontend-docs-lint

feat: include rendering in tests, fix race with mock server, and register subject templates to tmpl registry
  pkg/integrations/email/email.go
  pkg/integrations/email/smtp/mock_smtp_test.go
  pkg/integrations/email/smtp/smtp.go
  pkg/integrations/email/smtp/smtp_test.go
  pkg/integrations/email/smtp/templates.go
Due: none

split up SMTP and postmark config
  pkg/config/loader/loader.go
  pkg/config/server/server.go
Due: none

fix
  pkg/repository/sqlcv1/queue.sql
  pkg/repository/sqlcv1/queue.sql.go
  pkg/repository/task.go
Due: none

fix: add type override in sqlc.yaml
  pkg/repository/sqlcv1/sqlc.yaml
Due: none

chore: gen sqlc
  pkg/repository/sqlcv1/api_token.sql.go
  pkg/repository/sqlcv1/concurrency.sql.go
  pkg/repository/sqlcv1/dags.sql.go
  pkg/repository/sqlcv1/dispatcher.sql.go
  pkg/repository/sqlcv1/filters.sql.go
  pkg/repository/sqlcv1/health.sql.go
  pkg/repository/sqlcv1/idempotency-keys.sql.go
  pkg/repository/sqlcv1/interval_settings.sql.go
  pkg/repository/sqlcv1/lease.sql.go
  pkg/repository/sqlcv1/log_line.sql.go
  pkg/repository/sqlcv1/matches.sql.go
  pkg/repository/sqlcv1/models.go
  pkg/repository/sqlcv1/mq.sql.go
  pkg/repository/sqlcv1/olap.sql.go
  pkg/repository/sqlcv1/payload-store.sql.go
  pkg/repository/sqlcv1/queue.sql.go
  pkg/repository/sqlcv1/rate_limits.sql.go
  pkg/repository/sqlcv1/security_check.sql.go
  pkg/repository/sqlcv1/slack.sql.go
  pkg/repository/sqlcv1/sleep.sql.go
  pkg/repository/sqlcv1/sns.sql.go
  pkg/repository/sqlcv1/tasks.sql.go
  pkg/repository/sqlcv1/tenant_invites.sql.go
  pkg/repository/sqlcv1/tenant_limits.sql.go
  pkg/repository/sqlcv1/tenants.sql.go
  pkg/repository/sqlcv1/ticker.sql.go
  pkg/repository/sqlcv1/triggers.sql.go
  pkg/repository/sqlcv1/users.sql.go
  pkg/repository/sqlcv1/webhooks.sql.go
  pkg/repository/sqlcv1/workers.sql.go
  pkg/repository/sqlcv1/workflow_schedules.sql.go
  pkg/repository/sqlcv1/workflows.sql.go
Due: none

chore: more
  api/v1/server/oas/transformers/v1/tasks.go
  api/v1/server/oas/transformers/v1/workflow_runs.go
  internal/services/admin/v1/server.go
  internal/services/controllers/olap/controller.go
  internal/services/controllers/olap/process_dag_status_updates.go
  internal/services/controllers/olap/process_task_status_updates.go
  internal/services/controllers/olap/prometheus_worker.go
  internal/services/dispatcher/server.go
  internal/services/otelcol/server.go
  internal/services/shared/tasktypes/v1/task.go
Due: none

fix: clean up bunch of outdated `.Valid` refs
  api/v1/server/handlers/workflows/get.go
  api/v1/server/handlers/workflows/update_scheduled.go
  api/v1/server/oas/transformers/event.go
  api/v1/server/oas/transformers/rate_limits.go
  api/v1/server/oas/transformers/v1/tasks.go
  api/v1/server/oas/transformers/v1/worker.go
  api/v1/server/oas/transformers/v1/workflow_runs.go
  api/v1/server/oas/transformers/worker.go
  api/v1/server/oas/transformers/workflow.go
  api/v1/server/oas/transformers/workflow_run.go
  api/v1/server/run/run.go
  internal/services/controllers/task/controller.go
  internal/services/controllers/task/process_reassignments.go
  internal/services/dispatcher/server.go
  internal/services/dispatcher/subscribed_worker_v1.go
  pkg/repository/match.go
  pkg/repository/olap.go
  pkg/repository/output.go
  pkg/repository/task.go
  pkg/repository/workflow.go
  pkg/scheduling/v1/slot.go
Due: none

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
