Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

Update frontend onboarding steps (#2478)
  frontend/app/src/pages/main/index.tsx
  frontend/app/src/pages/main/v1/index.tsx
  frontend/app/src/pages/onboarding/get-started/index.tsx
Due: frontend-app-lint

[Python] Feat: Dataclass Support (#2476)
  sdks/python/CHANGELOG.md
  sdks/python/examples/dataclasses/test_dataclasses.py
  sdks/python/examples/dataclasses/trigger.py
  sdks/python/examples/dataclasses/worker.py
  sdks/python/examples/worker.py
  sdks/python/hatchet_sdk/context/context.py
  sdks/python/hatchet_sdk/exceptions.py
  sdks/python/hatchet_sdk/hatchet.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/types.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/utils/typing.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/hatchet_sdk/worker/worker.py
  sdks/python/pyproject.toml
Due: none

feat: add health and metrics api on typescript sdk worker (#2457)
  sdks/typescript/package.json
  sdks/typescript/pnpm-lock.yaml
  sdks/typescript/src/clients/hatchet-client/client-config.ts
  sdks/typescript/src/clients/hatchet-client/fixtures/.hatchet.yaml
  sdks/typescript/src/clients/hatchet-client/hatchet-client.test.ts
  sdks/typescript/src/util/config-loader/config-loader.test.ts
  sdks/typescript/src/util/config-loader/config-loader.ts
  sdks/typescript/src/util/config-loader/fixtures/.hatchet.yaml
  sdks/typescript/src/v1/client/worker/health-server.ts
  sdks/typescript/src/v1/client/worker/worker-internal.ts
Due: none

ignore
  go.mod
  internal/services/admin/v1/server.go
Due: none

cron input in Go SDK
  go.mod
  pkg/client/create/tasks.go
  sdks/go/internal/declaration.go
  sdks/go/workflow.go
Due: none

cache prb
  pkg/repository/v1/task.go
Due: none

address comments
  pkg/repository/v1/task.go
Due: none

default
  pkg/repository/v1/task.go
Due: none

add example
  examples/go/cron/main.go
  sdks/go/examples/cron/main.go
  sdks/go/workflow.go
Due: none

cache probability stuff
  pkg/repository/v1/task.go
Due: none

track misses
  pkg/repository/v1/task.go
Due: none

move down one ln
  pkg/repository/v1/task.go
Due: none

Fix Go SDK cron inputs (#2481)
  examples/go/cron/main.go
  go.mod
  pkg/client/create/tasks.go
  sdks/go/examples/cron/main.go
  sdks/go/internal/declaration.go
  sdks/go/workflow.go
Due: none

fix: pass tx down to retrieve
  internal/services/dispatcher/dispatcher_v1.go
  pkg/repository/v1/ids.go
  pkg/repository/v1/match.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/task.go
  pkg/repository/v1/trigger.go
Due: none

fix: attempt 2, another pool use
  pkg/repository/v1/payloadstore.go
Due: none

fix: spans and debugging for task statuses
  pkg/repository/v1/olap.go
Due: none

attempted hotfix on olap statuses
  internal/services/controllers/v1/olap/controller.go
  internal/services/controllers/v1/olap/process_dag_status_updates.go
  internal/services/controllers/v1/olap/process_task_status_updates.go
  internal/services/controllers/v1/olap/prometheus_worker.go
  pkg/repository/v1/olap.go
Due: none

py version
  frontend/snippets/.python-version
Due: none

Add logo + proper color setup
  frontend/docs/next-env.d.ts
  frontend/docs/package-lock.json
  frontend/docs/package.json
  frontend/docs/postcss.config.js
  frontend/docs/public/logo.svg
  frontend/docs/styles/global.css
  frontend/docs/styles/nextra.css
  frontend/docs/tailwind.config.js
  frontend/docs/theme.config.tsx
Due: frontend-docs-lint

remove nextra.css
  frontend/docs/styles/nextra.css
Due: frontend-docs-lint

prettier config
  frontend/docs/.prettierrc
  frontend/docs/styles/nextra.css
  frontend/docs/tailwind.config.js
Due: frontend-docs-lint

push pnpm-lock
  frontend/docs/pnpm-lock.yaml
Due: frontend-docs-lint

Add local docs prettier rc
  frontend/docs/.prettierrc
  frontend/docs/package-lock.json
Due: frontend-docs-lint

Add fonts + fix nextra theming tasks, borders, codeblocks
  frontend/docs/components/code/CodeBlock.tsx
  frontend/docs/styles/fonts/F37Judge-MediumExtended.woff2
  frontend/docs/styles/fonts/F37Judge-Regular.woff2
  frontend/docs/styles/global.css
Due: frontend-docs-lint

rm svg ratio
  frontend/docs/theme.config.tsx
Due: frontend-docs-lint

fix: docs cmd
  frontend/docs/next-env.d.ts
  frontend/docs/package.json
Due: frontend-docs-lint

process tenants in parallel in prom worker
  internal/services/controllers/v1/olap/prometheus_worker.go
Due: none

Fix: Pass tx down into payload retrieve (#2483)
  internal/services/controllers/v1/olap/controller.go
  internal/services/controllers/v1/olap/process_dag_status_updates.go
  internal/services/controllers/v1/olap/process_task_status_updates.go
  internal/services/controllers/v1/olap/prometheus_worker.go
  internal/services/dispatcher/dispatcher_v1.go
  pkg/repository/v1/ids.go
  pkg/repository/v1/match.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/task.go
  pkg/repository/v1/trigger.go
Due: none

move debugger package, clean up init
  pkg/config/loader/loader.go
  pkg/repository/debugger/debugger.go
Due: none

remove probability factor logic
  pkg/repository/v1/task.go
Due: none

remove debug
  internal/services/controllers/v1/olap/controller.go
Due: none

fix: debugger instantiation
  pkg/config/loader/loader.go
Due: none

fix: deadlocks on trigger, olap prometheus background worker, otel improvements (#2475)
  internal/services/admin/server_v1.go
  internal/services/controllers/v1/olap/controller.go
  internal/services/controllers/v1/olap/process_dag_status_updates.go
  internal/services/controllers/v1/olap/process_task_status_updates.go
  internal/services/controllers/v1/olap/prometheus_worker.go
  internal/services/dispatcher/dispatcher_v1.go
  pkg/config/loader/debugger.go
  pkg/config/loader/loader.go
  pkg/repository/debugger/debugger.go
  pkg/repository/v1/ids.go
  pkg/repository/v1/match.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/task.go
  pkg/repository/v1/trigger.go
Due: none

fix: pagination scroll, when task is running, remove stale pagination data when logs tab inactive
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-logs.tsx
Due: frontend-app-lint

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
