Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

fix: one more
  pkg/repository/v1/olap.go
Due: none

feat: env vars for dual writes
  pkg/config/loader/loader.go
  pkg/config/server/server.go
  pkg/repository/v1/payloadstore.go
Due: none

fix: tx commit
  pkg/repository/v1/payloadstore.go
Due: none

debug: logging
  pkg/repository/v1/olap.go
Due: none

fix: border + padding
  frontend/app/src/components/side-panel.tsx
Due: frontend-app-lint

feat: improve getters, olap getter
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

fix: revert debug
  pkg/repository/postgres/sqlchelpers/tx.go
Due: none

fix: refs
  api/v1/server/handlers/v1/events/list.go
  api/v1/server/handlers/v1/tasks/get.go
  api/v1/server/handlers/v1/tasks/list_by_dag_id.go
  api/v1/server/handlers/v1/workflow-runs/get.go
  api/v1/server/handlers/v1/workflow-runs/list-task-events.go
Due: none

fix: include payloads wiring
  api/v1/server/handlers/v1/workflow-runs/list.go
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs.tsx
  pkg/repository/v1/olap.go
Due: frontend-app-lint

feat: add include payloads params to python for tests
  sdks/python/hatchet_sdk/features/runs.py
Due: none

Revert "debug: stuck queries"
  pkg/repository/v1/olap.go
Due: none

feat: analyze for payloads
  pkg/repository/v1/olap.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

feat: py sdk wrapper
  sdks/python/hatchet_sdk/features/runs.py
  sdks/python/hatchet_sdk/utils/iterables.py
Due: none

fix: side panel header pinned
  frontend/app/src/components/side-panel.tsx
Due: frontend-app-lint

fix: revert debug
  pkg/repository/v1/olap.go
Due: none

debug: overwrite properly
  pkg/repository/v1/olap.go
Due: none

chore: regen api
  sdks/python/hatchet_sdk/clients/rest/__init__.py
  sdks/python/hatchet_sdk/clients/rest/api/task_api.py
  sdks/python/hatchet_sdk/clients/rest/api/tenant_api.py
  sdks/python/hatchet_sdk/clients/rest/api/user_api.py
  sdks/python/hatchet_sdk/clients/rest/api/webhook_api.py
  sdks/python/hatchet_sdk/clients/rest/api/workflow_api.py
  sdks/python/hatchet_sdk/clients/rest/api/workflow_runs_api.py
  sdks/python/hatchet_sdk/clients/rest/configuration.py
  sdks/python/hatchet_sdk/clients/rest/models/__init__.py
  sdks/python/hatchet_sdk/clients/rest/models/registered_workflow.py
  sdks/python/hatchet_sdk/clients/rest/models/tenant.py
  sdks/python/hatchet_sdk/clients/rest/models/tenant_environment.py
  sdks/python/hatchet_sdk/clients/rest/models/update_cron_workflow_trigger_request.py
  sdks/python/hatchet_sdk/clients/rest/models/update_tenant_member_request.py
  sdks/python/hatchet_sdk/clients/rest/models/v1_filter.py
  sdks/python/hatchet_sdk/clients/rest/models/v1_update_webhook_request.py
  sdks/python/hatchet_sdk/clients/rest/models/worker.py
Due: none

fix: start fixing bugs
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

fix: bug, docs
  api/v1/server/handlers/v1/workflow-runs/list.go
  frontend/docs/pages/sdks/python/client.mdx
  frontend/docs/pages/sdks/python/context.mdx
  frontend/docs/pages/sdks/python/feature-clients/filters.mdx
  frontend/docs/pages/sdks/python/feature-clients/runs.mdx
  frontend/docs/pages/sdks/python/runnables.mdx
  pkg/repository/v1/olap.go
Due: frontend-docs-lint

debug: yet more logs
  pkg/repository/postgres/sqlchelpers/tx.go
Due: none

debug: more logging
  pkg/repository/v1/olap.go
Due: none

feat: side panel for scheduled runs
  frontend/app/src/hooks/use-side-panel.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/components/expanded-scheduled-run-content.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/components/scheduled-runs-columns.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/index.tsx
Due: frontend-app-lint

fix: conn leak in putpayloads
  pkg/repository/postgres/sqlchelpers/tx.go
  pkg/repository/v1/olap.go
Due: none

fix: function sig
  pkg/repository/v1/olap.go
Due: none

chore: lint
  pkg/repository/v1/sqlcv1/olap.sql
Due: none

feat: first pass at pulling olap payloads from the payload store
  api/v1/server/handlers/v1/tasks/get.go
  api/v1/server/handlers/v1/tasks/list_by_dag_id.go
  api/v1/server/handlers/v1/workflow-runs/get.go
  api/v1/server/handlers/v1/workflow-runs/list-task-events.go
  api/v1/server/handlers/v1/workflow-runs/list.go
  api/v1/server/oas/transformers/v1/tasks.go
  api/v1/server/oas/transformers/v1/workflow_runs.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

feat: wire up external id list
  api-contracts/openapi/paths/v1/workflow-runs/workflow_run.yaml
  api/v1/server/handlers/v1/workflow-runs/list.go
  api/v1/server/oas/gen/openapi.gen.go
  api/v1/server/oas/transformers/v1/workflow_runs.go
  frontend/app/src/lib/api/generated/Api.ts
  pkg/client/rest/gen.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: frontend-app-lint

refactor: clean up task prop drilling a bit
  api/v1/server/handlers/v1/tasks/list_by_dag_id.go
  api/v1/server/handlers/v1/workflow-runs/get.go
  api/v1/server/handlers/v1/workflow-runs/list.go
  api/v1/server/oas/transformers/v1/tasks.go
  api/v1/server/oas/transformers/v1/workflow_runs.go
  pkg/repository/v1/olap.go
Due: none

fix: rename BulkRetrieve -> Retrieve
  internal/services/dispatcher/dispatcher_v1.go
  pkg/repository/v1/ids.go
  pkg/repository/v1/match.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/task.go
  pkg/repository/v1/trigger.go
Due: none

fix: not null constraint
  pkg/repository/v1/olap.go
Due: none

fix: rm extra file
  frontend/app/src/pages/main/v1/scheduled-runs/components/scheduled-runs-table.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/index.tsx
Due: frontend-app-lint

fix: comments
  sql/schema/v1-core.sql
  sql/schema/v1-olap.sql
Due: none

fix: simplify writes more + write event payloads
  internal/services/shared/tasktypes/v1/olap.go
  pkg/repository/v1/olap.go
Due: none

feat: endpoint for listing external ids
  api-contracts/openapi/components/schemas/_index.yaml
  api-contracts/openapi/components/schemas/v1/task.yaml
  api-contracts/openapi/openapi.yaml
  api-contracts/openapi/paths/v1/workflow-runs/workflow_run.yaml
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/Api.ts
  frontend/app/src/lib/api/generated/data-contracts.ts
  pkg/client/rest/gen.go
Due: frontend-app-lint

fix: log
  sdks/python/hatchet_sdk/features/runs.py
Due: none

feat: docs
  frontend/docs/pages/sdks/python/feature-clients/runs.mdx
  sdks/python/docs/feature-clients/runs.md
Due: frontend-docs-lint

fix: improve defaults for statuses
  sdks/python/hatchet_sdk/features/runs.py
Due: none

feat: docs
  sdks/python/hatchet_sdk/features/runs.py
Due: none
