Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

fix: signature, start wiring up
  cmd/hatchet-migrate/migrate/migrations/20251219181211_v1_0_63.sql
  pkg/repository/v1/sqlcv1/olap-overwrite.sql.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store-overwrite.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
  sql/schema/v1-olap.sql
Due: none

improved error boundaries
  frontend/app/cypress/e2e/errors/error-pages.cy.ts
  frontend/app/cypress/support/e2e.ts
  frontend/app/src/pages/error/components/generic-error.tsx
  frontend/app/src/pages/error/components/layout.tsx
  frontend/app/src/pages/error/components/new-version-available.tsx
  frontend/app/src/pages/error/components/not-found.tsx
  frontend/app/src/pages/error/components/tenant-forbidden.tsx
  frontend/app/src/pages/error/index.tsx
  frontend/app/src/router.tsx
Due: frontend-app-lint

feat: wire up diffing logic at the end
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/olap-overwrite.sql.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store-overwrite.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

dont panic on invalid uuid..
  api/v1/server/run/run.go
Due: none

chore: longer lease
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
Due: none

resources
  frontend/app/cypress/e2e/errors/error-pages.cy.ts
  frontend/app/src/pages/error/components/resource-not-found.tsx
  frontend/app/src/pages/main/v1/managed-workers/$managed-worker/index.tsx
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/index.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/index.tsx
  frontend/app/src/pages/organizations/$organization/index.tsx
Due: frontend-app-lint

chore: fix type
  cmd/hatchet-migrate/migrate/migrations/20251219181211_v1_0_63.sql
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

rm bad test
  frontend/app/cypress/e2e/errors/error-pages.cy.ts
Due: frontend-app-lint

lint
  frontend/app/cypress/support/e2e.ts
  frontend/app/src/pages/error/components/resource-not-found.tsx
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/index.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/index.tsx
Due: frontend-app-lint

docs
  examples/python/scheduled/programatic-sync.py
  examples/typescript/simple/schedule.ts
  frontend/docs/pages/home/scheduled-runs.mdx
  sdks/python/examples/scheduled/programatic-sync.py
  sdks/typescript/src/v1/examples/simple/schedule.ts
Due: frontend-docs-lint

fix: couple bugs
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: columns
  cmd/hatchet-migrate/migrate/migrations/20251219181211_v1_0_63.sql
  sql/schema/v1-core.sql
  sql/schema/v1-olap.sql
Due: none

fix: dupe
  pkg/repository/v1/sqlcv1/olap.sql
Due: none

chore: rm unused function
  pkg/repository/v1/sqlcv1/olap-overwrite.sql.go
Due: none

fix: err
  pkg/repository/v1/olap.go
Due: none

feat: profiles
  cmd/hatchet-admin/cli/token.go
  cmd/hatchet-cli/cli/internal/config/cli/init.go
  cmd/hatchet-cli/cli/internal/config/cli/lockfile.go
  cmd/hatchet-cli/cli/internal/config/cli/profile.go
  cmd/hatchet-cli/cli/internal/config/cli/profile_test.go
  cmd/hatchet-cli/cli/profile.go
  cmd/hatchet-cli/cli/root.go
  pkg/client/loader/loader.go
  pkg/config/cli/config.go
  pkg/config/loader/loaderutils/token.go
  pkg/config/loader/loaderutils/token_test.go
Due: none

reuse msg buffer semaphore timer
  internal/msgqueue/v1/mq_pub_buffer.go
  internal/msgqueue/v1/mq_sub_buffer.go
  internal/msgqueue/v1/mq_sub_buffer_test.go
Due: none

goroutine
  internal/msgqueue/v1/mq_pub_buffer.go
  internal/msgqueue/v1/mq_sub_buffer.go
Due: none

comments
  internal/msgqueue/v1/mq_pub_buffer.go
  internal/msgqueue/v1/mq_sub_buffer.go
Due: none

msgqueue msg IDs as constants for ease of navigation and readability
  internal/msgqueue/v1/message_ids.go
  internal/services/admin/v1/server.go
  internal/services/controllers/v1/olap/process_dag_status_updates.go
  internal/services/controllers/v1/olap/process_task_status_updates.go
  internal/services/controllers/v1/task/controller.go
  internal/services/ingestor/ingestor_v1.go
  internal/services/ingestor/server_v1.go
  internal/services/scheduler/v1/scheduler.go
  internal/services/shared/tasktypes/v1/event.go
  internal/services/shared/tasktypes/v1/olap.go
  internal/services/shared/tasktypes/v1/scheduler.go
  internal/services/shared/tasktypes/v1/task.go
  pkg/repository/v1/olappayload.go
Due: none

send metrics to OTel collector
  cmd/hatchet-engine/engine/run.go
  internal/services/controllers/metrics/collector.go
  pkg/repository/v1/pg_health.go
  pkg/telemetry/metrics.go
Due: none

last autovac
  internal/services/controllers/metrics/collector.go
  pkg/repository/v1/pg_health.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/telemetry/metrics.go
Due: none

flag
  cmd/hatchet-engine/engine/run.go
  frontend/docs/pages/self-hosting/configuration-options.mdx
  pkg/config/server/server.go
  pkg/config/shared/shared.go
Due: frontend-docs-lint

feedback
  api/v1/server/run/run.go
  frontend/app/src/lib/error-utils.ts
  frontend/app/src/lib/router-helpers.tsx
  frontend/app/src/pages/error/components/not-found.tsx
  frontend/app/src/pages/error/components/resource-not-found.tsx
  frontend/app/src/pages/error/components/tenant-forbidden.tsx
  frontend/app/src/pages/error/index.tsx
  frontend/app/src/pages/main/v1/managed-workers/$managed-worker/index.tsx
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/index.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/index.tsx
  frontend/app/src/pages/organizations/$organization/index.tsx
Due: frontend-app-lint

lint docs
  frontend/docs/pages/home/scheduled-runs.mdx
Due: frontend-docs-lint

lint
  sdks/python/examples/priority/test_priority.py
  sdks/python/hatchet_sdk/features/scheduled.py
Due: none

feat: profile examples
  cmd/hatchet-cli/cli/profile.go
Due: none

cleanup
  cmd/hatchet-migrate/migrate/migrations/20251218153622_v1_0_63.go
Due: none

fix: reduce memory footprint by a bunch
  pkg/repository/v1/payloadstore.go
Due: none

Fix: Last bits of payload job cleanup (#2690)
  cmd/hatchet-migrate/migrate/migrations/20251219181211_v1_0_63.sql
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/olap-overwrite.sql.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store-overwrite.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
  sql/schema/v1-olap.sql
Due: none

feat: docker driver, lipgloss
  cmd/hatchet-cli/cli/docker/docker.go
  cmd/hatchet-cli/cli/docker/hatchet.go
  cmd/hatchet-cli/cli/docker/postgres.go
  cmd/hatchet-cli/cli/internal/drivers/docker/docker.go
  cmd/hatchet-cli/cli/internal/drivers/docker/ensure.go
  cmd/hatchet-cli/cli/internal/drivers/docker/hatchet_lite.go
  cmd/hatchet-cli/cli/internal/drivers/docker/network.go
  cmd/hatchet-cli/cli/internal/drivers/docker/token.go
  cmd/hatchet-cli/cli/internal/styles/styles.go
  cmd/hatchet-cli/cli/profile.go
  cmd/hatchet-cli/cli/server.go
Due: none

easy feedback
  api-contracts/dispatcher/dispatcher.proto
  cmd/hatchet-migrate/migrate/migrations/20251219181212_batching_consolidated.sql
  internal/services/dispatcher/contracts/dispatcher.pb.go
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/repository/v1/task.go
  sdks/python/hatchet_sdk/clients/dispatcher/action_listener.py
  sdks/python/hatchet_sdk/contracts/dispatcher_pb2.py
  sdks/python/hatchet_sdk/contracts/dispatcher_pb2.pyi
  sdks/python/hatchet_sdk/contracts/dispatcher_pb2_grpc.py
Due: none

feedback
  internal/services/dispatcher/dispatcher_v1.go
  internal/services/scheduler/v1/scheduler.go
  internal/services/shared/tasktypes/v1/scheduler.go
Due: none

logging updates
  internal/services/controllers/metrics/collector.go
  pkg/repository/v1/pg_health.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/pg_health.sql
  pkg/repository/v1/sqlcv1/pg_health.sql.go
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/telemetry/metrics.go
Due: none

feedback
  internal/services/scheduler/v1/scheduler.go
  pkg/repository/v1/sqlcv1/queue.sql
  pkg/repository/v1/sqlcv1/queue.sql.go
Due: none

fixed index
  cmd/hatchet-migrate/migrate/migrations/20251219181212_batching_consolidated.sql
  sql/schema/v1-core.sql
Due: none

py feedback
  sdks/python/hatchet_sdk/clients/dispatcher/action_listener.py
  sdks/python/hatchet_sdk/hatchet.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

linter
  sdks/python/docs/generator/markdown_export.py
  sdks/python/examples/priority/test_priority.py
  sdks/python/hatchet_sdk/clients/listeners/workflow_listener.py
  sdks/python/hatchet_sdk/contracts/dispatcher_pb2_grpc.pyi
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/tests/test_batch_task_unit.py
Due: none

typed
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

feedback
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none
