Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

loader and fixed for managed compute
  frontend/app/src/hooks/use-tenant.tsx
  frontend/app/src/lib/atoms.ts
  frontend/app/src/lib/can/features/managed-compute.ts
  frontend/app/src/pages/main/v1/managed-workers/index.tsx
Due: frontend-app-lint

Update DB queries
  internal/integrations/alerting/alerter.go
  internal/integrations/alerting/slack.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

feedback
  cmd/hatchet-migrate/migrate/migrations/20251209220630_feat_batch_flush.sql
  cmd/hatchet-migrate/migrate/migrations/20251209220631_v1_batched_queue_items.sql
  cmd/hatchet-migrate/migrate/migrations/20251209220632_fix_batch_redirect_function.sql
  cmd/hatchet-migrate/migrate/migrations/20251209220634_rename_v1_task_batch_run.sql
  cmd/hatchet-migrate/migrate/migrations/20251215195000_v1_batching_consolidated.sql
  pkg/repository/v1/scheduler.go
  pkg/repository/v1/scheduler_queue.go
  pkg/repository/v1/sqlcv1/queue.sql
  pkg/repository/v1/sqlcv1/queue.sql.go
  pkg/scheduling/v1/batch_scheduler.go
  pkg/scheduling/v1/batch_scheduler_test.go
  pkg/scheduling/v1/lease_manager.go
  pkg/scheduling/v1/lease_manager_test.go
  pkg/scheduling/v1/queuer.go
  pkg/scheduling/v1/scheduler.go
  pkg/scheduling/v1/tenant_manager.go
  sql/schema/v1-core.sql
Due: none

Fix: Pagination by bounds (#2654)
  cmd/hatchet-migrate/migrate/migrations/20251212170748_v1_0_59.sql
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
  sql/schema/v1-olap.sql
Due: none

fix: task release
  cmd/hatchet-migrate/migrate/migrations/20251215195000_v1_batching_consolidated.sql
  internal/services/scheduler/v1/scheduler.go
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/repository/v1/task.go
  pkg/repository/v1/task_test.go
  sdks/typescript/src/v1/examples/batch_assign/task.ts
  sql/schema/v1-core.sql
Due: none

fix: root redirect
  frontend/app/src/pages/root-redirect.tsx
Due: frontend-app-lint

chore: lint
  frontend/app/src/pages/root-redirect.tsx
Due: frontend-app-lint

lint
  cmd/hatchet-migrate/migrate/migrations/20251215195000_v1_batching_consolidated.sql
Due: none

Fix: Root redirect with last tenant atom (#2664)
  frontend/app/src/pages/root-redirect.tsx
Due: frontend-app-lint

batch dag step
  sdks/typescript/src/v1/declaration.ts
  sdks/typescript/src/v1/examples/batch_assign/run.ts
  sdks/typescript/src/v1/examples/batch_assign/worker.ts
  sdks/typescript/src/v1/examples/batch_assign/workflow.ts
Due: none

lint
  sdks/typescript/src/v1/examples/batch_assign/workflow.ts
Due: none

lint
  sdks/typescript/src/v1/examples/batch_assign/run.ts
Due: none

simplify proto
  api-contracts/dispatcher/dispatcher.proto
  internal/services/dispatcher/contracts/dispatcher.pb.go
  internal/services/dispatcher/dispatcher_v1.go
  sdks/typescript/src/protoc/dispatcher/dispatcher.ts
  sdks/typescript/src/v1/client/worker/worker-internal.ts
Due: none

python sdk
  pkg/repository/v1/sqlcv1/queue.sql
  pkg/repository/v1/sqlcv1/queue.sql.go
  pkg/scheduling/v1/batch_scheduler.go
  pkg/scheduling/v1/batch_scheduler_test.go
  sdks/python/examples/batch_task/trigger.py
  sdks/python/examples/batch_task/worker.py
  sdks/python/hatchet_sdk/clients/dispatcher/action_listener.py
  sdks/python/hatchet_sdk/clients/rest/models/v1_task_event.py
  sdks/python/hatchet_sdk/clients/rest/models/v1_task_event_type.py
  sdks/python/hatchet_sdk/contracts/dispatcher_pb2.py
  sdks/python/hatchet_sdk/contracts/dispatcher_pb2.pyi
  sdks/python/hatchet_sdk/contracts/v1/workflows_pb2.py
  sdks/python/hatchet_sdk/contracts/v1/workflows_pb2.pyi
  sdks/python/hatchet_sdk/hatchet.py
  sdks/python/hatchet_sdk/runnables/action.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/worker/action_listener_process.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/poetry.lock
  sdks/python/tests/test_batch_task_unit.py
Due: none

fix: prevent static rate limits from resetting
  pkg/repository/v1/scheduler_queue.go
Due: none

defaults
  api-contracts/v1/workflows.proto
  internal/services/admin/v1/server.go
  pkg/repository/v1/sqlcv1/queue.sql
  pkg/repository/v1/sqlcv1/queue.sql.go
  pkg/repository/v1/sqlcv1/tasks-overwrite.go
  pkg/repository/v1/sqlcv1/tasks-overwrite.sql
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/scheduling/v1/batch_scheduler.go
  pkg/scheduling/v1/batch_scheduler_test.go
Due: none

revert v0
  pkg/repository/postgres/dbsqlc/workers.sql
Due: none

lint
  sdks/python/examples/batch_task/trigger.py
  sdks/python/examples/batch_task/worker.py
Due: none

fix: add missing index
  cmd/hatchet-migrate/migrate/migrations/20251112171708_v1_0_53.sql
Due: none

Fix: Event lookup table PK (#2517)
  cmd/hatchet-migrate/migrate/migrations/20251112202112_v1_0_54.sql
  sql/schema/v1-olap.sql
Due: none

chore: rm migration
  cmd/hatchet-migrate/migrate/migrations/20251112171708_v1_0_53.sql
Due: none

chore: rename
  cmd/hatchet-migrate/migrate/migrations/20251215180000_v1_0_60.sql
Due: none

feat: v1 event get api
  api-contracts/openapi/components/schemas/_index.yaml
  api-contracts/openapi/openapi.yaml
  api-contracts/openapi/paths/v1/events/event.yaml
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/Api.ts
  pkg/client/rest/gen.go
Due: frontend-app-lint

feat: initial api work
  api/v1/server/handlers/v1/events/get.go
  api/v1/server/oas/transformers/v1/events.go
  api/v1/server/run/run.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

refactor: clean up existing impl
  api/v1/server/run/run.go
  pkg/repository/v1/olap.go
Due: none

chore: gen python
  sdks/python/hatchet_sdk/clients/rest/api/event_api.py
Due: none

feat: event get on the events client
  sdks/python/hatchet_sdk/clients/events.py
Due: none

fix: order
  api/v1/server/run/run.go
Due: none

chore: another handler
  api-contracts/openapi/openapi.yaml
  api-contracts/openapi/paths/event/event.yaml
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/Api.ts
  pkg/client/rest/gen.go
Due: frontend-app-lint

chore: new populator hack
  api/v1/server/handlers/events/get_data.go
  api/v1/server/run/run.go
Due: none

fix: populator
  api-contracts/openapi/openapi.yaml
  api-contracts/openapi/paths/event/event.yaml
  api/v1/server/handlers/events/get_data.go
  api/v1/server/oas/gen/openapi.gen.go
  api/v1/server/run/run.go
  frontend/app/src/lib/api/generated/Api.ts
  pkg/client/rest/gen.go
Due: frontend-app-lint

chore: gen
  sdks/python/hatchet_sdk/clients/rest/api/event_api.py
Due: none

chore: version
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

PR comments
  frontend/app/src/components/v1/cloud/billing/subscription.tsx
  frontend/app/src/pages/main/v1/managed-workers/components/billing-required.tsx
  frontend/app/src/pages/main/v1/managed-workers/components/monthly-usage-card.tsx
  frontend/docs/pages/self-hosting/configuration-options.mdx
Due: frontend-app-lint, frontend-docs-lint

align docs with feature
  frontend/docs/pages/home/batch-assignment.mdx
Due: frontend-docs-lint

add missing tenant index
  cmd/hatchet-migrate/migrate/migrations/20251216160649_empty_migration.go
  cmd/hatchet-migrate/migrate/run.go
  sql/schema/v1-olap.sql
Due: none

fix span name
  api/v1/server/handlers/v1/workflow-runs/list.go
Due: none

parallelize
  pkg/repository/postgres/workflow_run.go
Due: none

feat: update core func
  cmd/hatchet-migrate/migrate/migrations/20251216163945_v1_0_60.sql
  sql/schema/v1-core.sql
Due: none

instrument tenant id attribute
  api/v1/server/middleware/populator/populator.go
Due: none
