Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

fix: rm cruft comments, make badges full width
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/v1/task-runs-columns.tsx
Due: frontend-app-lint

Hotfix: Stable ordering for flattened tasks + child tasks (#2334)
  pkg/repository/v1/olap.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

feat: hide some files from linguist, mark others as generated (#2331)
  .gitattributes
Due: none

FE Polish, III: More state management fixes, worker pages (#2332)
  frontend/app/src/pages/main/v1/index.tsx
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
  frontend/app/src/pages/main/v1/workers/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/task-runs-metrics.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/v1/task-runs-columns.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/runs-provider.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-filters.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-state.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs.tsx
Due: frontend-app-lint

feat: portal tooltip that's not affected by table overflow
  frontend/app/src/components/v1/molecules/relative-date.tsx
  frontend/app/src/components/v1/shared/duration.tsx
  frontend/app/src/components/v1/ui/portal-tooltip.tsx
Due: frontend-app-lint

fix: scrolling task events
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/events-columns.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-events-for-workflow-run.tsx
Due: frontend-app-lint

fix: rm cruft
  frontend/app/src/components/v1/molecules/relative-date.tsx
Due: frontend-app-lint

fix: remove runs table on hover
  frontend/app/src/pages/main/v1/events/components/event-columns.tsx
Due: frontend-app-lint

fix: use `SplitN` instead of `Split`
  api/v1/server/handlers/events/list.go
  api/v1/server/handlers/v1/events/list.go
  api/v1/server/handlers/v1/tasks/get_metrics.go
  api/v1/server/handlers/v1/workflow-runs/list.go
  internal/services/admin/v1/server.go
Due: none

Fix: use `SplitN` instead of `Split` (#2336)
  api/v1/server/handlers/events/list.go
  api/v1/server/handlers/v1/events/list.go
  api/v1/server/handlers/v1/tasks/get_metrics.go
  api/v1/server/handlers/v1/workflow-runs/list.go
  internal/services/admin/v1/server.go
Due: none

FE Polish, IV: Tooltips, task event scrolling (#2335)
  frontend/app/src/components/v1/molecules/relative-date.tsx
  frontend/app/src/components/v1/shared/duration.tsx
  frontend/app/src/components/v1/ui/portal-tooltip.tsx
  frontend/app/src/pages/main/v1/events/components/event-columns.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/events-columns.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-events-for-workflow-run.tsx
Due: frontend-app-lint

feat: query for getting event in v1
  pkg/repository/v1/olap.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

feat: extend populator to fetch v1 event
  api/v1/server/run/run.go
Due: none

fix: rm debug
  api/v1/server/run/run.go
Due: none

fix: simplify join
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

fix: ctx
  api/v1/server/run/run.go
Due: none

Fix: Event getter backwards compat (#2337)
  api/v1/server/run/run.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

fix: rm event line
  frontend/docs/pages/home/migration-guide-engine.mdx
Due: frontend-docs-lint

fix: rm event line (#2338)
  frontend/docs/pages/home/migration-guide-engine.mdx
Due: frontend-docs-lint

refactor: remove v0 paths
  frontend/app/src/router.tsx
Due: frontend-app-lint

refactor: ✂️ some more
  frontend/app/src/components/cloud/billing/index.ts
  frontend/app/src/components/cloud/billing/payment-methods.tsx
  frontend/app/src/components/cloud/billing/subscription.tsx
  frontend/app/src/components/cloud/logging/logs.tsx
  frontend/app/src/components/hooks/use-toast.ts
  frontend/app/src/components/molecules/brush-chart/area-chart.tsx
  frontend/app/src/components/molecules/charts/zoomable.tsx
  frontend/app/src/components/molecules/combobox/combobox.tsx
  frontend/app/src/components/molecules/data-table/data-table-column-header.tsx
  frontend/app/src/components/molecules/data-table/data-table-faceted-filter.tsx
  frontend/app/src/components/molecules/data-table/data-table-pagination.tsx
  frontend/app/src/components/molecules/data-table/data-table-row-actions.tsx
  frontend/app/src/components/molecules/data-table/data-table-toolbar.tsx
  frontend/app/src/components/molecules/data-table/data-table-view-options.tsx
  frontend/app/src/components/molecules/data-table/data-table.tsx
  frontend/app/src/components/molecules/nav-bar/tenant-switcher.tsx
  frontend/app/src/components/molecules/relative-date.tsx
  frontend/app/src/components/molecules/time-picker/date-time-picker.tsx
  frontend/app/src/components/molecules/time-picker/time-picker-input.tsx
  frontend/app/src/components/molecules/time-picker/time-picker-utils.ts
  frontend/app/src/components/molecules/time-picker/time-picker.tsx
  frontend/app/src/components/v1/molecules/brush-chart/area-chart.tsx
  frontend/app/src/components/v1/molecules/data-table/data-table-faceted-filter.tsx
  frontend/app/src/components/v1/molecules/data-table/data-table-view-options.tsx
  frontend/app/src/components/v1/molecules/support-chat.tsx
  frontend/app/src/pages/main/v1/events/components/filter-payload-popover.tsx
Due: frontend-app-lint

refactor: more
  frontend/app/src/components/v1/cloud/billing/payment-methods.tsx
  frontend/app/src/components/v1/hooks/use-toast.ts
  frontend/app/src/components/v1/molecules/time-picker/time-picker-input.tsx
  frontend/app/src/components/v1/molecules/time-picker/time-picker-utils.ts
  frontend/app/src/components/v1/shared/duration.tsx
  frontend/app/src/hooks/use-side-panel.tsx
  frontend/app/src/hooks/use-tenant.tsx
  frontend/app/src/lib/atoms.ts
  frontend/app/src/lib/hooks.ts
  frontend/app/src/lib/outlet.ts
  frontend/app/src/pages/auth/hooks/use-error-param.ts
  frontend/app/src/pages/main/v1/recurring/components/delete-cron.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/components/delete-scheduled-runs.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/components/scheduled-runs-columns.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/components/scheduled-runs-table.tsx
  frontend/app/src/pages/main/v1/task-runs-v1/actions.tsx
  frontend/app/src/pages/main/v1/tenant-settings/api-tokens/components/create-token-dialog.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/header.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-output.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-node.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/view-toggle.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/run-statuses.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-filters.tsx
  frontend/app/src/pages/onboarding/get-started/platforms/defaults/default-onboarding-workflow.tsx
  frontend/app/src/router.tsx
Due: frontend-app-lint

refactor: more and more
  frontend/app/src/lib/atoms.ts
  frontend/app/src/lib/outlet.ts
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/header.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-output.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-node.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/view-toggle.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/run-statuses.tsx
Due: frontend-app-lint

refactor: ✂️
  frontend/app/src/components/v1/molecules/combobox/combobox.tsx
  frontend/app/src/components/v1/molecules/time-picker/time-picker-utils.ts
  frontend/app/src/pages/main/v1/filters/components/filter-create-form.tsx
  frontend/app/src/pages/main/v1/task-runs-v1/actions.tsx
  frontend/app/src/pages/main/v1/webhooks/components/auth-setup.tsx
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
  frontend/app/src/pages/main/v1/workers/components/worker-columns.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/header.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/mini-map.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-output.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/run-statuses.tsx
  frontend/app/src/pages/main/v1/workflow-runs/components/run-statuses.tsx
Due: frontend-app-lint

refactor: move more pages out
  frontend/app/src/components/molecules/data-table/data-table-options.tsx
  frontend/app/src/components/molecules/data-table/data-table-toolbar.tsx
  frontend/app/src/components/molecules/data-table/data-table.tsx
  frontend/app/src/hooks/use-side-panel.tsx
  frontend/app/src/pages/main/events/hooks/use-events.tsx
  frontend/app/src/pages/main/events/index.tsx
  frontend/app/src/pages/main/scheduled-runs/components/scheduled-runs-table.tsx
  frontend/app/src/pages/main/task-runs-v1/actions.tsx
  frontend/app/src/pages/main/workers/$worker/index.tsx
  frontend/app/src/pages/main/workflow-runs-v1/components/run-statuses.tsx
  frontend/app/src/pages/main/workflow-runs/$run/index.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/events-columns.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/header.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/mini-map.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/step-run-detail/step-run-logs.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/step-run-detail/step-run-output.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/step-run-detail/workflow-definition.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/step-run-events-for-workflow-run.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/step-run-node.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/view-toggle.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/waterfall.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/workflow-run-input.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/workflow-run-visualizer-v2.tsx
  frontend/app/src/pages/main/workflow-runs/components/run-statuses.tsx
  frontend/app/src/pages/main/workflow-runs/components/runs-table.tsx
  frontend/app/src/pages/main/workflow-runs/components/task-runs-metrics.tsx
  frontend/app/src/pages/main/workflow-runs/components/task-runs-table/table-actions.tsx
  frontend/app/src/pages/main/workflow-runs/components/v1/task-runs-columns.tsx
  frontend/app/src/pages/main/workflow-runs/hooks/runs-provider.tsx
  frontend/app/src/pages/main/workflow-runs/hooks/use-metrics.tsx
  frontend/app/src/pages/main/workflow-runs/hooks/use-runs-table-filters.tsx
  frontend/app/src/pages/main/workflow-runs/hooks/use-runs.tsx
  frontend/app/src/pages/main/workflow-runs/hooks/use-toolbar-filters.tsx
  frontend/app/src/pages/main/workflow-runs/hooks/use-workflow-details.tsx
  frontend/app/src/pages/main/workflow-runs/hooks/use-workflows.tsx
  frontend/app/src/pages/main/workflow-runs/index.tsx
  frontend/app/src/pages/main/workflows/$workflow/index.tsx
  frontend/app/src/router.tsx
Due: frontend-app-lint

refactor: more moving up
  frontend/app/src/components/molecules/data-table/data-table-options.tsx
  frontend/app/src/components/molecules/data-table/data-table-toolbar.tsx
  frontend/app/src/components/molecules/data-table/data-table.tsx
  frontend/app/src/pages/main/task-runs/actions.tsx
  frontend/app/src/pages/main/workers/$worker/index.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/header.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/workflow-runs/components/runs-table.tsx
  frontend/app/src/pages/main/workflow-runs/components/task-runs-columns.tsx
  frontend/app/src/pages/main/workflow-runs/components/task-runs-table/table-actions.tsx
  frontend/app/src/pages/main/workflow-runs/hooks/runs-provider.tsx
  frontend/app/src/pages/main/workflow-runs/hooks/use-runs-table-filters.tsx
  frontend/app/src/pages/main/workflow-runs/hooks/use-toolbar-filters.tsx
  frontend/app/src/pages/main/workflows/$workflow/index.tsx
Due: frontend-app-lint

fix: remove lots of handling of `TenantVersion.V0`
  frontend/app/src/components/molecules/nav-bar/nav-bar.tsx
  frontend/app/src/components/molecules/nav-bar/organization-selector.tsx
  frontend/app/src/components/molecules/nav-bar/tenant-switcher.tsx
  frontend/app/src/lib/atoms.ts
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/pages/main/tenant-settings/overview/index.tsx
Due: frontend-app-lint

fix: tsc
  frontend/app/src/pages/onboarding/verify-email/index.tsx
Due: frontend-app-lint

fix: add back index
  frontend/app/src/router.tsx
Due: frontend-app-lint

fix: rm useTenant hook
  frontend/app/src/components/molecules/analytics-provider.tsx
  frontend/app/src/components/molecules/nav-bar/nav-bar.tsx
  frontend/app/src/components/molecules/support-chat.tsx
  frontend/app/src/lib/atoms.ts
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/step-run-detail/workflow-definition.tsx
  frontend/app/src/pages/onboarding/get-started/index.tsx
Due: frontend-app-lint

feat: search for workflows
  frontend/app/src/pages/main/v1/workflows/hooks/use-workflows.tsx
  frontend/app/src/pages/main/v1/workflows/index.tsx
Due: frontend-app-lint

fix: allow fts for workflow name
  pkg/repository/postgres/dbsqlc/workflows.sql
  pkg/repository/postgres/dbsqlc/workflows.sql.go
  pkg/repository/postgres/workflow.go
Due: none

feat: add back metadata tab to details
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
Due: frontend-app-lint

feat: dynamic copy
  frontend/app/src/index.css
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
Due: frontend-app-lint

chore: lint
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
Due: frontend-app-lint

FE Polish V: Searchable workflows, additional metadata tab (#2342)
  frontend/app/src/index.css
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/v1/workflows/hooks/use-workflows.tsx
  frontend/app/src/pages/main/v1/workflows/index.tsx
  pkg/repository/postgres/dbsqlc/workflows.sql
  pkg/repository/postgres/dbsqlc/workflows.sql.go
  pkg/repository/postgres/workflow.go
Due: frontend-app-lint
