Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

more explcity
  cmd/hatchet-engine/engine/run.go
Due: none

try moving around coded init
  cmd/hatchet-engine/engine/run.go
  internal/services/grpc/server.go
Due: none

very explicit
  cmd/hatchet-engine/engine/run.go
  internal/services/grpc/server.go
Due: none

Try another function to ensure
  cmd/hatchet-engine/engine/run.go
  internal/services/grpc/server.go
Due: none

Try forcing an init function
  internal/services/grpc/server.go
Due: none

this is wrong but i wanna see if it works
  internal/services/grpc/server.go
  sdks/python/hatchet_sdk/connection.py
  sdks/python/hatchet_sdk/metadata.py
Due: none

add debug logs
  internal/services/grpc/server.go
Due: none

try more janky stuff
  internal/services/grpc/server.go
Due: none

chore(python-sdk): update changelog and bump the patch version to 1.21.4
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

Fix: Doc Linters (#2577)
  frontend/docs/components/DynamicLottie.tsx
  frontend/docs/components/InstallCommand.tsx
  frontend/docs/components/UniversalTabs.tsx
  frontend/docs/components/code/CodeStyleRender.tsx
  frontend/docs/components/code/CodeTabs.tsx
  frontend/docs/components/code/Snippet.tsx
  frontend/docs/components/code/codeParser.tsx
  frontend/docs/components/mailing-list-subscription.tsx
  frontend/docs/components/ui/button.tsx
  frontend/docs/components/ui/card.tsx
  frontend/docs/components/ui/cookie-banner.tsx
  frontend/docs/components/ui/input.tsx
  frontend/docs/package.json
  frontend/docs/pages/api/subscribe.ts
Due: frontend-docs-lint

Fix Dev Setup for Linux Environment Compatibility (#2556)
  Taskfile.yaml
  frontend/snippets/generate.py
Due: none

feat: event for sent to worker
  internal/services/dispatcher/dispatcher_v1.go
Due: none

fix: simplify a bit
  internal/services/dispatcher/dispatcher_v1.go
Due: none

fix: don't pub on err
  internal/services/dispatcher/dispatcher_v1.go
Due: none

Feat: Add sent to worker event in the dispatcher (#2584)
  internal/services/dispatcher/dispatcher_v1.go
Due: none

feat: Setup posthog and integrate with cookie banner component
  frontend/docs/components/ui/cookie-banner.tsx
  frontend/docs/context/ConsentContext.tsx
  frontend/docs/pages/_app.tsx
  frontend/docs/providers/posthog.tsx
Due: frontend-docs-lint

refactor: Improved error handling
  frontend/docs/components/ui/cookie-banner.tsx
Due: frontend-docs-lint

Setup PostHog and Integrate with Cookie Banner Component (#2557)
  frontend/docs/components/ui/cookie-banner.tsx
  frontend/docs/context/ConsentContext.tsx
  frontend/docs/pages/_app.tsx
  frontend/docs/providers/posthog.tsx
Due: frontend-docs-lint

feat: initial payload cutover job
  cmd/hatchet-migrate/migrate/migrations/20251128190238_v1_0_54.sql
  internal/services/controllers/v1/task/process_payload_wal.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
Due: none

refactor: fix a couple things
  internal/services/controllers/v1/task/process_payload_wal.go
  pkg/repository/v1/payloadstore.go
Due: none

feat: start wiring up writes
  pkg/repository/v1/payloadstore.go
Due: none

feat: only run job if external store is enabled
  pkg/repository/v1/payloadstore.go
Due: none

fix: add some notes, add loop
  internal/services/controllers/v1/task/process_payload_wal.go
  pkg/repository/v1/payloadstore.go
Due: none

feat: function for reading out payloads
  cmd/hatchet-migrate/migrate/migrations/20251128190238_v1_0_54.sql
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
Due: none

fix: date handling, logging
  cmd/hatchet-migrate/migrate/migrations/20251128190238_v1_0_54.sql
  internal/services/controllers/v1/task/process_payload_wal.go
  pkg/repository/v1/payloadstore.go
  sql/schema/v1-core.sql
Due: none

feat: remove wal and immediate offloads
  pkg/repository/v1/payloadstore.go
Due: none

feat: Implement cross-domain tracking (docs -> app)
  frontend/app/src/components/molecules/analytics-provider.tsx
  frontend/docs/components/CrossDomainLinkHandler.tsx
  frontend/docs/mdx-components.js
  frontend/docs/mdx-components.tsx
  frontend/docs/pages/_app.tsx
Due: frontend-app-lint, frontend-docs-lint

feat: advisory lock
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

feat: partition swap logic
  cmd/hatchet-migrate/migrate/migrations/20251128190238_v1_0_54.sql
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
Due: none

fix: rm debug
  pkg/repository/v1/payloadstore.go
Due: none

fix: add todo
  pkg/repository/v1/payloadstore.go
Due: none

fix: Eslint config path issue
  frontend/app/.eslintrc.json
Due: frontend-app-lint

fix: sql cleanup
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: sql cleanup, ii
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

feat: Implement posthog provider
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/app/src/components/molecules/analytics-provider.tsx
  frontend/app/src/hooks/use-analytics.tsx
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/providers/posthog.tsx
Due: frontend-app-lint

add downgrading guide and migrate cmd
  cmd/hatchet-migrate/main.go
  cmd/hatchet-migrate/migrate/run.go
  frontend/docs/pages/self-hosting/_meta.js
  frontend/docs/pages/self-hosting/downgrading-versions.mdx
Due: frontend-docs-lint

cleanup
  cmd/hatchet-migrate/migrate/run.go
Due: none

shuffle
  sdks/typescript/package.json
  sdks/typescript/src/v1/client/worker/worker.ts
Due: none

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
