Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

fix: rm more
  frontend/app/src/components/molecules/charts/zoomable.tsx
  frontend/app/src/components/molecules/combobox/combobox.tsx
  frontend/app/src/components/molecules/data-table/data-table-column-header.tsx
  frontend/app/src/components/molecules/data-table/data-table-faceted-filter.tsx
  frontend/app/src/components/molecules/data-table/data-table-pagination.tsx
  frontend/app/src/components/molecules/data-table/data-table-toolbar.tsx
  frontend/app/src/components/molecules/data-table/data-table-view-options.tsx
  frontend/app/src/components/molecules/data-table/data-table.tsx
  frontend/app/src/components/molecules/nav-bar/banner.tsx
  frontend/app/src/components/molecules/nav-bar/tenant-switcher.tsx
  frontend/app/src/components/molecules/relative-date.tsx
  frontend/app/src/components/molecules/time-picker/date-time-picker.tsx
  frontend/app/src/components/molecules/time-picker/time-picker-input.tsx
  frontend/app/src/components/molecules/time-picker/time-picker-utils.ts
  frontend/app/src/components/molecules/time-picker/time-picker.tsx
Due: frontend-app-lint

Fix slack challage
  api/v1/server/handlers/v1/webhooks/receive.go
Due: none

ensure we continue if its not a challange
  api/v1/server/handlers/v1/webhooks/receive.go
Due: none

fix
  api/v1/server/handlers/v1/webhooks/receive.go
Due: none

update doc string
  api/v1/server/handlers/v1/webhooks/receive.go
Due: none

PR feedback + lint
  api/v1/server/handlers/v1/webhooks/receive.go
Due: none

fix: more unused stuff
  frontend/app/src/components/molecules/nav-bar/nav-bar.tsx
  frontend/app/src/components/molecules/support-chat.tsx
  frontend/app/src/components/v1/ui/code-editor.tsx
  frontend/app/src/components/v1/ui/dropdown-menu.tsx
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/lib/api/generated/http-client.ts
  frontend/app/src/lib/atoms.ts
  frontend/app/src/lib/outlet.ts
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/run-statuses.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/workflow-definition.tsx
  frontend/app/src/pages/onboarding/get-started/index.tsx
  frontend/app/src/providers/posthog.tsx
  frontend/app/src/router.tsx
Due: frontend-app-lint

chore: gen
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/lib/api/generated/http-client.ts
Due: frontend-app-lint

fix: redirect from root
  frontend/app/src/pages/root-redirect.tsx
  frontend/app/src/router.tsx
Due: frontend-app-lint

fix: revert doc changes
  frontend/docs/components/mailing-list-subscription.tsx
  frontend/docs/pages/_app.tsx
  frontend/docs/pages/blog/connections-throughput.tsx
  frontend/docs/pages/blog/latency-bench.tsx
Due: frontend-docs-lint

more debug logs
  api/v1/server/handlers/v1/webhooks/receive.go
Due: none

more logging
  api/v1/server/handlers/v1/webhooks/receive.go
Due: none

clean
  api/v1/server/handlers/v1/webhooks/receive.go
Due: none

feat: process old partitions in a loop
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store-overwrite.sql.go
Due: none

better slack webhook onboarding
  frontend/app/src/pages/main/v1/webhooks/components/auth-setup.tsx
  frontend/app/src/pages/main/v1/webhooks/components/webhook-columns.tsx
  frontend/app/src/pages/main/v1/webhooks/index.tsx
Due: frontend-app-lint

fix: param
  pkg/repository/v1/sqlcv1/payload-store-overwrite.sql.go
Due: none

fix: query return
  pkg/repository/v1/sqlcv1/payload-store-overwrite.sql.go
Due: none

lint
  frontend/app/src/pages/main/v1/webhooks/components/webhook-columns.tsx
Due: frontend-app-lint

feat: add spans
  pkg/repository/v1/payloadstore.go
Due: none

lint again
  frontend/app/src/index.css
  frontend/app/src/pages/main/v1/webhooks/components/webhook-columns.tsx
  frontend/app/src/pages/main/v1/webhooks/index.tsx
Due: frontend-app-lint

lint again
  frontend/app/src/pages/main/v1/webhooks/components/webhook-columns.tsx
  frontend/app/src/pages/main/v1/webhooks/index.tsx
Due: frontend-app-lint

fix: naming
  internal/services/controllers/v1/task/process_payload_wal.go
  pkg/repository/v1/payloadstore.go
Due: none

lint again?
  frontend/app/src/pages/main/v1/webhooks/components/webhook-columns.tsx
Due: frontend-app-lint

chore: lint
  frontend/app/src/pages/main/v1/webhooks/components/webhook-columns.tsx
  frontend/app/src/pages/main/v1/webhooks/index.tsx
Due: frontend-app-lint

fix: raise on illegal output
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

chore: version, changelog
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

feat: add logs client for go sdk, logs client go example (#2550)
  sdks/go/client.go
  sdks/go/examples/logs_test/main.go
  sdks/go/features/logs.go
Due: none

chore: regenerate examples
  examples/go/logs_test/main.go
Due: none

revert challange stuff + update error message
  api/v1/server/handlers/v1/webhooks/receive.go
Due: none

fix
  frontend/app/src/pages/main/v1/webhooks/components/webhook-columns.tsx
Due: frontend-app-lint

Pr feedback
  frontend/app/src/pages/main/v1/webhooks/components/webhook-columns.tsx
Due: frontend-app-lint

Add guide for downgrading versions (#2588)
  cmd/hatchet-migrate/main.go
  cmd/hatchet-migrate/migrate/run.go
  frontend/docs/pages/self-hosting/_meta.js
  frontend/docs/pages/self-hosting/downgrading-versions.mdx
Due: frontend-docs-lint

progress around redesign
  frontend/app/src/components/v1/cloud/billing/subscription.tsx
  frontend/app/src/hooks/use-tenant.tsx
  frontend/app/src/lib/api/generated/cloud/data-contracts.ts
  frontend/app/src/lib/atoms.ts
  frontend/app/src/pages/main/v1/managed-workers/components/billing-required.tsx
  frontend/app/src/pages/main/v1/managed-workers/index.tsx
  frontend/app/src/pages/main/v1/tenant-settings/resource-limits/index.tsx
Due: frontend-app-lint

[Python] Fix: Raise on un-serializable task output (#2562)
  sdks/python/CHANGELOG.md
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/pyproject.toml
Due: none

Update log + error message
  api/v1/server/handlers/v1/webhooks/receive.go
Due: none

Feat: Process all old partitions in a loop (#2613)
  internal/services/controllers/v1/task/process_payload_wal.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store-overwrite.sql.go
Due: none

Update Expression Page + Slack Webhook Onboarding (#2614)
  frontend/app/src/index.css
  frontend/app/src/pages/main/v1/webhooks/components/auth-setup.tsx
  frontend/app/src/pages/main/v1/webhooks/components/webhook-columns.tsx
  frontend/app/src/pages/main/v1/webhooks/index.tsx
Due: frontend-app-lint

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
