Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

fix: run status badges
  frontend/app/src/components/v1/ui/badge.tsx
  frontend/app/src/pages/main/v1/workflow-runs/components/run-statuses.tsx
Due: frontend-app-lint

fix: more colors
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/run-statuses.tsx
Due: frontend-app-lint

fix: more badge colors
  frontend/app/src/pages/main/v1/events/components/event-columns.tsx
Due: frontend-app-lint

Fix: Frontend polish, Part II (#2327)
  frontend/app/src/components/side-panel.tsx
  frontend/app/src/components/v1/docs/docs-button.tsx
  frontend/app/src/components/v1/molecules/data-table/data-table-options.tsx
  frontend/app/src/components/v1/molecules/data-table/data-table-toolbar.tsx
  frontend/app/src/components/v1/molecules/data-table/data-table.tsx
  frontend/app/src/components/v1/ui/badge.tsx
  frontend/app/src/hooks/use-side-panel.tsx
  frontend/app/src/index.css
  frontend/app/src/pages/main/v1/events/components/event-columns.tsx
  frontend/app/src/pages/main/v1/events/index.tsx
  frontend/app/src/pages/main/v1/recurring/components/recurring-columns.tsx
  frontend/app/src/pages/main/v1/recurring/components/recurring-table.tsx
  frontend/app/src/pages/main/v1/recurring/hooks/use-crons.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/components/scheduled-runs-columns.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/components/scheduled-runs-table.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/hooks/use-scheduled-runs.tsx
  frontend/app/src/pages/main/v1/task-runs-v1/actions.tsx
  frontend/app/src/pages/main/v1/webhooks/components/webhook-columns.tsx
  frontend/app/src/pages/main/v1/webhooks/index.tsx
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/run-statuses.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/task-runs-metrics.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/v1/task-runs-columns.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/runs-provider.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-filters.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-state.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-toolbar-filters.tsx
  frontend/app/src/pages/main/v1/workflow-runs/components/run-statuses.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/components/trigger-workflow-form.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/index.tsx
  frontend/app/src/pages/main/workflow-runs/$run/v2components/workflow-definition.tsx
Due: frontend-app-lint

feat: logs on fallback to input from task
  internal/services/dispatcher/dispatcher_v1.go
  pkg/repository/v1/olap.go
Due: none

drive-by: couple more status badge colors
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs/components/run-statuses.tsx
Due: frontend-app-lint

fix: durable sleep matches
  pkg/repository/v1/task.go
Due: none

Feat: Add error level logs if we fall back to the task input for monitoring (#2328)
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs/components/run-statuses.tsx
  internal/services/dispatcher/dispatcher_v1.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/task.go
Due: frontend-app-lint

fix: remove effect hook
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-filters.tsx
Due: frontend-app-lint

fix: filter counts
  frontend/app/src/components/v1/molecules/data-table/data-table-options.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-filters.tsx
Due: frontend-app-lint

fix: x mark button
  frontend/app/src/components/v1/molecules/data-table/data-table-options.tsx
Due: frontend-app-lint

chore: changelog
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

fix: rm unused deps
  sdks/python/poetry.lock
  sdks/python/pyproject.toml
Due: none

chore: changelog
  sdks/python/CHANGELOG.md
Due: none

fix: add back urllib3 direct dep
  sdks/python/poetry.lock
  sdks/python/pyproject.toml
Due: none

Fix: Rogue effect hook, some more cleanup (#2329)
  frontend/app/src/components/v1/molecules/data-table/data-table-options.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-filters.tsx
Due: frontend-app-lint

feat: hide some files from linguist, mark others as generated
  .gitattributes
Due: none

fix: use pagination hook instead of managing it in runs provider
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/runs-provider.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-state.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs.tsx
Due: frontend-app-lint

feat: fix the rest of the state management logic
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/runs-provider.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-filters.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-state.tsx
Due: frontend-app-lint

fix: show queue metrics button
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/task-runs-metrics.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/runs-provider.tsx
Due: frontend-app-lint

stat porting loadtest to using Go SDK v1
  cmd/hatchet-loadtest/emit.go
  cmd/hatchet-loadtest/rampup/emit.go
  cmd/hatchet-loadtest/rampup/run.go
  cmd/hatchet-loadtest/run.go
Due: none

serve management API swagger docs
  frontend/docs/lib/management.openapi.yaml
  frontend/docs/package.json
  frontend/docs/pages/api/management.tsx
  frontend/docs/pnpm-lock.yaml
Due: frontend-docs-lint

fix lint
  frontend/docs/pages/api/management.tsx
Due: frontend-docs-lint

fix: zod for workers
  frontend/app/src/pages/main/v1/workers/index.tsx
Due: frontend-app-lint

chore: lint
  frontend/app/src/pages/main/v1/workers/index.tsx
Due: frontend-app-lint

fix: copilot
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs-table-filters.tsx
Due: frontend-app-lint

fix: copilot
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-runs.tsx
Due: frontend-app-lint

fix: copilot
  frontend/app/src/pages/main/v1/workers/index.tsx
Due: frontend-app-lint

fix: remove a bit of vertical padding
  frontend/app/src/pages/main/v1/index.tsx
Due: frontend-app-lint

fix: workers table in memory pagination
  frontend/app/src/pages/main/v1/workers/index.tsx
Due: frontend-app-lint

feat: improve worker detail page styling
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
Due: frontend-app-lint

feat: link to workflows from workers
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
Due: frontend-app-lint

chore: lint
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
Due: frontend-app-lint

fix: copy
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
Due: frontend-app-lint

fix: stable ordering with flattened tasks / child tasks
  pkg/repository/v1/olap.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

fix: `Equal` method
  pkg/repository/v1/olap.go
Due: none

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
