Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

feat: add sentinel to pydantic de/serialization (#2800)
  sdks/python/CHANGELOG.md
  sdks/python/examples/serde/test_serde.py
  sdks/python/examples/serde/worker.py
  sdks/python/examples/worker.py
  sdks/python/hatchet_sdk/__init__.py
  sdks/python/hatchet_sdk/context/context.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/serde/__init__.py
  sdks/python/hatchet_sdk/serde/pydantic.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/pyproject.toml
Due: none

chore: regenerate examples
  examples/python/serde/worker.py
  examples/python/worker.py
Due: none

fix: modify log line query to use external id
  api/v1/server/handlers/v1/tasks/list_logs.go
  pkg/repository/log_line.go
  pkg/repository/task.go
Due: none

pass in task external id
  internal/services/ingestor/server_v1.go
  pkg/repository/log_line.go
Due: none

fix: remove poetry scripts
  sdks/python/pyproject.toml
Due: none

chore: version
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

improvements
  frontend/docs/pages/home/worker-healthchecks.mdx
  frontend/docs/pages/self-hosting/worker-configuration-options.mdx
  sdks/python/hatchet_sdk/config.py
  sdks/python/hatchet_sdk/worker/action_listener_process.py
  sdks/python/hatchet_sdk/worker/worker.py
  sdks/python/tests/worker_fixture.py
Due: frontend-docs-lint

version bump
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

lint
  frontend/docs/pages/self-hosting/worker-configuration-options.mdx
  sdks/python/hatchet_sdk/worker/action_listener_process.py
Due: frontend-docs-lint

docs
  frontend/docs/pages/home/worker-healthchecks.mdx
Due: frontend-docs-lint

Update sdks/python/hatchet_sdk/worker/action_listener_process.py
  sdks/python/hatchet_sdk/worker/action_listener_process.py
Due: none

nits
  sdks/python/hatchet_sdk/worker/action_listener_process.py
Due: none

updates
  .github/dependabot.yml
  cmd/hatchet-cli/cli/templates/python/poetry/poetry.lock
  cmd/hatchet-cli/cli/templates/typescript/pnpm/package.json
  cmd/hatchet-cli/cli/templates/typescript/pnpm/pnpm-lock.yaml
  examples/python/quickstart/poetry.lock
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/docs/package-lock.json
  frontend/docs/package.json
  frontend/docs/pnpm-lock.yaml
  sdks/python/examples/quickstart/poetry.lock
  sdks/python/poetry.lock
  sdks/ruby/examples/Gemfile.lock
  sdks/ruby/src/Gemfile.lock
  sdks/typescript/package.json
  sdks/typescript/pnpm-lock.yaml
Due: frontend-app-lint, frontend-docs-lint

rm deadcode
  sdks/python/hatchet_sdk/worker/worker.py
Due: none

refactor: have log line lookups use external id (#2822)
  api/v1/server/handlers/v1/tasks/list_logs.go
  internal/services/ingestor/server_v1.go
  pkg/repository/log_line.go
  pkg/repository/task.go
Due: none

feat(cli): run hatchet locally
  cmd/hatchet-cli/cli/internal/drivers/local/config.go
  cmd/hatchet-cli/cli/internal/drivers/local/local.go
  cmd/hatchet-cli/cli/internal/drivers/local/local_test.go
  cmd/hatchet-cli/cli/server.go
Due: none

use embedded-postgres; download hatchet-api and hatchet-engine
  cmd/hatchet-cli/.goreleaser.yml
  cmd/hatchet-cli/cli/internal/drivers/local/download.go
  cmd/hatchet-cli/cli/internal/drivers/local/local.go
  cmd/hatchet-cli/cli/internal/drivers/local/local_test.go
  cmd/hatchet-cli/cli/internal/drivers/local/postgres.go
  cmd/hatchet-cli/cli/internal/drivers/local/subprocess.go
  cmd/hatchet-cli/cli/server.go
  go.mod
  go.sum
Due: none

improve cli; fix subprocess for windows
  cmd/hatchet-cli/.goreleaser.yml
  cmd/hatchet-cli/cli/internal/drivers/local/subprocess.go
  cmd/hatchet-cli/cli/internal/drivers/local/subprocess_unix.go
  cmd/hatchet-cli/cli/internal/drivers/local/subprocess_windows.go
  cmd/hatchet-cli/cli/server.go
Due: none

improve postgres port error
  cmd/hatchet-cli/cli/internal/drivers/local/postgres.go
Due: none

dual writes
  cmd/hatchet-engine/engine/run.go
  internal/msgqueue/olap_tee_queue.go
  internal/msgqueue/rabbitmq/rabbitmq.go
  pkg/config/loader/loader.go
  pkg/config/server/server.go
Due: none

pull all bins for running locally
  cmd/hatchet-cli/.goreleaser.yml
  cmd/hatchet-cli/cli/internal/drivers/local/config.go
  cmd/hatchet-cli/cli/internal/drivers/local/local.go
  cmd/hatchet-cli/cli/internal/drivers/local/local_test.go
  cmd/hatchet-cli/cli/server.go
Due: none

reduce bin size to 40mb
  cmd/hatchet-cli/cli/internal/drivers/local/local.go
  go.mod
Due: none

improve process cleanup
  cmd/hatchet-cli/cli/internal/drivers/local/local.go
  cmd/hatchet-cli/cli/internal/drivers/local/postgres.go
  cmd/hatchet-cli/cli/server.go
Due: none

no read
  cmd/hatchet-engine/engine/run.go
  internal/msgqueue/olap_tee_queue.go
  internal/msgqueue/prefixed_queue.go
  pkg/config/loader/loader.go
  pkg/config/server/server.go
Due: none

no prefix
  internal/msgqueue/olap_tee_queue.go
  internal/msgqueue/prefixed_queue.go
  pkg/config/loader/loader.go
  pkg/config/server/server.go
Due: none

feat: try to use ghostty-web for rendering log lines instead of ansiToHtml
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/app/src/components/v1/cloud/logging/components/Terminal.tsx
  frontend/app/src/components/v1/cloud/logging/hooks/useTerminal.ts
  frontend/app/src/components/v1/cloud/logging/logs.tsx
Due: frontend-app-lint

force unauthorized access to billing page for non-owners
  frontend/app/src/pages/main/v1/index.tsx
  frontend/app/src/pages/main/v1/side-nav-items.tsx
  frontend/app/src/pages/main/v1/tenant-settings/resource-limits/index.tsx
Due: frontend-app-lint

only unauthorized for billing information
  frontend/app/src/pages/main/v1/index.tsx
  frontend/app/src/pages/main/v1/side-nav-items.tsx
  frontend/app/src/pages/main/v1/tenant-settings/resource-limits/index.tsx
Due: frontend-app-lint

[hotfix] Indicate unauthorized access to billing page for non-owners (#2833)
  frontend/app/src/pages/main/v1/tenant-settings/resource-limits/index.tsx
Due: frontend-app-lint

disable cache
  pkg/repository/cache/cache.go
Due: none

simpler fix
  pkg/auth/token/token_test.go
  pkg/repository/cache/cache.go
Due: none

fix: flaky integration test (#2834)
  pkg/auth/token/token_test.go
  pkg/repository/cache/cache.go
Due: none

feat: add log levels and search query to log query
  api-contracts/openapi/paths/v1/tasks/tasks.yaml
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/Api.ts
  pkg/client/rest/gen.go
Due: frontend-app-lint

feat: pass levels, search through
  api/v1/server/handlers/v1/tasks/list_logs.go
Due: none

feat: add log level to query
  pkg/repository/sqlcv1/log_line.sql
  pkg/repository/sqlcv1/log_line.sql.go
Due: none

feat: wire up levels and search query
  pkg/repository/log_line.go
  pkg/repository/sqlcv1/log_line.sql
  pkg/repository/sqlcv1/log_line.sql.go
Due: none

updates (#2827)
  .github/dependabot.yml
  cmd/hatchet-cli/cli/templates/python/poetry/poetry.lock
  cmd/hatchet-cli/cli/templates/typescript/pnpm/package.json
  cmd/hatchet-cli/cli/templates/typescript/pnpm/pnpm-lock.yaml
  examples/python/quickstart/poetry.lock
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  frontend/docs/package-lock.json
  frontend/docs/package.json
  frontend/docs/pnpm-lock.yaml
  sdks/python/examples/quickstart/poetry.lock
  sdks/python/poetry.lock
  sdks/ruby/examples/Gemfile.lock
  sdks/ruby/src/Gemfile.lock
  sdks/typescript/package.json
  sdks/typescript/pnpm-lock.yaml
Due: frontend-app-lint, frontend-docs-lint

more updates
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  sdks/typescript/package.json
  sdks/typescript/pnpm-lock.yaml
Due: frontend-app-lint

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
