Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

enum
  sdks/python/hatchet_sdk/worker/action_listener_process.py
Due: none

no getattr
  sdks/python/hatchet_sdk/worker/action_listener_process.py
Due: none

timedelta
  sdks/python/hatchet_sdk/config.py
  sdks/python/hatchet_sdk/worker/action_listener_process.py
Due: none

lint
  sdks/python/hatchet_sdk/config.py
Due: none

continuous lag
  sdks/python/hatchet_sdk/worker/action_listener_process.py
Due: none

stuck starting unhealthy
  sdks/python/hatchet_sdk/worker/action_listener_process.py
Due: none

[Python] Chore: Remove Poetry scripts from the Python package (#2825)
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

feat: python health check improvements (#2826)
  frontend/docs/pages/home/worker-healthchecks.mdx
  frontend/docs/pages/self-hosting/worker-configuration-options.mdx
  sdks/python/CHANGELOG.md
  sdks/python/hatchet_sdk/config.py
  sdks/python/hatchet_sdk/worker/action_listener_process.py
  sdks/python/hatchet_sdk/worker/worker.py
  sdks/python/pyproject.toml
  sdks/python/tests/worker_fixture.py
Due: frontend-docs-lint

more updates (#2836)
  frontend/app/package.json
  frontend/app/pnpm-lock.yaml
  sdks/typescript/package.json
  sdks/typescript/pnpm-lock.yaml
Due: frontend-app-lint

feat: light theme and a bunch of perf improvements
  frontend/app/src/components/v1/cloud/logging/components/Terminal.tsx
  frontend/app/src/components/v1/cloud/logging/hooks/useTerminal.ts
  frontend/app/src/components/v1/cloud/logging/logs.tsx
  frontend/app/src/components/v1/cloud/logging/terminalThemes.ts
Due: frontend-app-lint

Feat: Add search and levels to logs API (#2835)
  api-contracts/openapi/paths/v1/tasks/tasks.yaml
  api/v1/server/handlers/v1/tasks/list_logs.go
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/Api.ts
  pkg/client/rest/gen.go
  pkg/repository/log_line.go
  pkg/repository/sqlcv1/log_line.sql
  pkg/repository/sqlcv1/log_line.sql.go
Due: frontend-app-lint

take exclusive lock
  cmd/hatchet-migrate/migrate/migrations/20260119123835_v1_0_69.sql
Due: none

chore: simplify a bunch
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/parser.ts
  frontend/app/src/components/v1/cloud/logging/log-search/types.ts
  frontend/app/src/components/v1/cloud/logging/log-search/use-log-search.ts
  frontend/app/src/components/v1/cloud/logging/log-search/use-metadata-keys.ts
  frontend/app/src/components/v1/cloud/logging/logs.tsx
Due: frontend-app-lint

refactor: more cleanup
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/parser.ts
  frontend/app/src/components/v1/cloud/logging/log-search/types.ts
  frontend/app/src/components/v1/cloud/logging/log-search/use-log-search.ts
  frontend/app/src/components/v1/cloud/logging/log-search/use-metadata-keys.ts
Due: frontend-app-lint

chore: fix tsc
  frontend/app/src/components/v1/cloud/logging/log-search/use-logs.ts
Due: frontend-app-lint

feat: initial work on new logs component
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
  frontend/app/src/components/v1/cloud/logging/log-search/index.ts
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/parser.ts
  frontend/app/src/components/v1/cloud/logging/log-search/types.ts
  frontend/app/src/components/v1/cloud/logging/log-search/use-log-search.ts
  frontend/app/src/components/v1/cloud/logging/log-search/use-metadata-keys.ts
  frontend/app/src/components/v1/cloud/logging/logs.tsx
Due: frontend-app-lint

chore: comments
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
  frontend/app/src/components/v1/cloud/logging/log-search/parser.ts
Due: frontend-app-lint

refactor: remove some unused stuff
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/logs.tsx
Due: frontend-app-lint

refactor: create use logs hook, simplify step-run-logs.tsx
  frontend/app/src/components/v1/cloud/logging/filterable-logs.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/use-log-search.ts
  frontend/app/src/components/v1/cloud/logging/log-search/use-logs.ts
  frontend/app/src/components/v1/cloud/logging/log-viewer.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-logs.tsx
Due: frontend-app-lint

chore: rename
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/task-run-logs.tsx
Due: frontend-app-lint

chore: cleanup
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/use-log-search.ts
  frontend/app/src/components/v1/cloud/logging/logs.tsx
Due: frontend-app-lint

feat: add a flag to enable the new experience
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/task-run-logs.tsx
Due: frontend-app-lint

feat: improve autocomplete, refactor a bit
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
  frontend/app/src/components/v1/cloud/logging/log-search/index.ts
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/types.ts
  frontend/app/src/components/v1/cloud/logging/logs.tsx
Due: frontend-app-lint

fix: tsc
  frontend/app/src/components/v1/cloud/logging/log-search/types.ts
  frontend/app/src/components/v1/cloud/logging/log-search/use-log-search.ts
Due: frontend-app-lint

fix: on click handler
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
Due: frontend-app-lint

chore: remove a bunch more stuff
  frontend/app/src/components/v1/cloud/logging/log-search/autocomplete.ts
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/parser.ts
  frontend/app/src/components/v1/cloud/logging/log-search/types.ts
Due: frontend-app-lint

fix: revert existing log component, add new filterable one
  frontend/app/src/components/v1/cloud/logging/filterable-logs.tsx
  frontend/app/src/components/v1/cloud/logging/logs.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-logs.tsx
Due: frontend-app-lint

refactor: remove duped data, do some cleanup
  frontend/app/src/components/v1/cloud/logging/logs.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-logs.tsx
Due: frontend-app-lint

chore: lint
  frontend/app/src/components/v1/cloud/logging/log-search/use-logs.ts
  frontend/app/src/components/v1/cloud/logging/log-viewer.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
Due: frontend-app-lint

fix: pass level through
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-logs.tsx
Due: frontend-app-lint

chore: rename
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/task-run-logs.tsx
Due: frontend-app-lint

take exclusive lock (#2837)
  cmd/hatchet-migrate/migrate/migrations/20260119123835_v1_0_69.sql
Due: none

feat: provider
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
  frontend/app/src/components/v1/cloud/logging/log-search/use-logs.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/task-run-logs.tsx
Due: frontend-app-lint

integrate log viewer with terminal viewer
  frontend/app/src/components/v1/cloud/logging/components/Terminal.tsx
  frontend/app/src/components/v1/cloud/logging/log-viewer.tsx
Due: frontend-app-lint

chore: lint
  frontend/app/src/components/v1/cloud/logging/log-search/use-logs.tsx
Due: frontend-app-lint

fix: cursor jumping
  frontend/app/src/components/v1/cloud/logging/log-search/log-search-input.tsx
Due: frontend-app-lint

fix: lint
  frontend/app/src/components/v1/cloud/logging/components/Terminal.tsx
  frontend/app/src/components/v1/cloud/logging/hooks/useTerminal.ts
  frontend/app/src/components/v1/cloud/logging/log-viewer.tsx
Due: frontend-app-lint

fixes
  cmd/hatchet-migrate/migrate/migrations/20260121120000_v1_0_70.sql
  pkg/repository/shared.go
  pkg/repository/sqlcv1/concurrency.sql
  pkg/repository/sqlcv1/concurrency.sql.go
  pkg/repository/task.go
Due: none

lint
  cmd/hatchet-migrate/migrate/migrations/20260121120000_v1_0_70.sql
Due: none

pr review comments
  frontend/app/src/components/v1/cloud/logging/components/Terminal.tsx
  frontend/app/src/components/v1/cloud/logging/hooks/useTerminal.ts
  frontend/app/src/components/v1/cloud/logging/log-viewer.tsx
Due: frontend-app-lint

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
