Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

address PR comments
  cmd/hatchet-engine/engine/run.go
  frontend/docs/pages/self-hosting/configuration-options.mdx
  internal/services/controllers/metrics/collector.go
  pkg/config/server/server.go
  pkg/repository/v1/pg_health.go
  pkg/repository/v1/sqlcv1/pg_health.sql
  pkg/repository/v1/sqlcv1/pg_health.sql.go
Due: frontend-docs-lint

fail case
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

feedback
  api-contracts/openapi/components/schemas/workflow_run.yaml
  api/v1/server/handlers/workflows/bulk_delete_scheduled.go
  api/v1/server/handlers/workflows/bulk_update_scheduled.go
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/data-contracts.ts
  pkg/client/rest/gen.go
Due: frontend-app-lint

fix lint
  api/v1/server/handlers/workflows/bulk_delete_scheduled.go
Due: none

rm unused chunk
  api/v1/server/handlers/workflows/bulk_delete_scheduled.go
Due: none

rm statues
  frontend/app/src/pages/main/v1/scheduled-runs/index.tsx
Due: frontend-app-lint

Feat: Hatchet Metrics Monitoring, I (#2480)
  Taskfile.yaml
  api/v1/server/handlers/v1/webhooks/receive.go
  cmd/hatchet-admin/cli/seed/seed-cypress.go
  cmd/hatchet-engine/engine/run.go
  frontend/docs/pages/self-hosting/configuration-options.mdx
  go.mod
  go.sum
  internal/msgqueue/v1/rabbitmq/rabbitmq.go
  internal/services/controllers/metrics/collector.go
  internal/services/controllers/v1/task/process_payload_wal.go
  internal/services/dispatcher/dispatcher_v1.go
  pkg/client/dispatcher.go
  pkg/config/server/server.go
  pkg/config/shared/shared.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/pg_health.go
  pkg/repository/v1/repository.go
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/pg_health.sql
  pkg/repository/v1/sqlcv1/pg_health.sql.go
  pkg/repository/v1/sqlcv1/sqlc.yaml
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/repository/v1/sqlcv1/workers.sql
  pkg/repository/v1/sqlcv1/workers.sql.go
  pkg/repository/v1/task.go
  pkg/repository/v1/worker.go
  pkg/telemetry/metrics.go
  pkg/telemetry/telemetry.go
  sql/schema/pg-stubs.sql
Due: frontend-docs-lint

i dont understand python linting sometimes
  sdks/python/docs/generator/markdown_export.py
Due: none

feat: quickstarts and worker dev commands
  cmd/hatchet-cli/cli/internal/config/worker/config.go
  cmd/hatchet-cli/cli/internal/glob/glob.go
  cmd/hatchet-cli/cli/internal/templater/templater.go
  cmd/hatchet-cli/cli/quickstart.go
  cmd/hatchet-cli/cli/templates/python/README.md
  cmd/hatchet-cli/cli/templates/python/__init__.py
  cmd/hatchet-cli/cli/templates/python/hatchet.yaml
  cmd/hatchet-cli/cli/templates/python/poetry.lock
  cmd/hatchet-cli/cli/templates/python/pyproject.toml
  cmd/hatchet-cli/cli/templates/python/src/__init__.py
  cmd/hatchet-cli/cli/templates/python/src/hatchet_client.py
  cmd/hatchet-cli/cli/templates/python/src/run.py
  cmd/hatchet-cli/cli/templates/python/src/worker.py
  cmd/hatchet-cli/cli/templates/python/src/workflows/__init__.py
  cmd/hatchet-cli/cli/templates/python/src/workflows/first_workflow.py
  cmd/hatchet-cli/cli/worker.go
  go.mod
  go.sum
Due: none

feedback
  frontend/app/src/lib/error-utils.ts
  frontend/app/src/pages/main/v1/managed-workers/$managed-worker/index.tsx
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/index.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-workflow-details.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/index.tsx
Due: frontend-app-lint

fix: table name
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

Revert "Feat: Hatchet Metrics Monitoring, I (#2480)"
  Taskfile.yaml
  api/v1/server/handlers/v1/webhooks/receive.go
  cmd/hatchet-admin/cli/seed/seed-cypress.go
  cmd/hatchet-engine/engine/run.go
  frontend/docs/pages/self-hosting/configuration-options.mdx
  go.mod
  go.sum
  internal/msgqueue/v1/rabbitmq/rabbitmq.go
  internal/services/controllers/metrics/collector.go
  internal/services/controllers/v1/task/process_payload_wal.go
  internal/services/dispatcher/dispatcher_v1.go
  pkg/client/dispatcher.go
  pkg/config/server/server.go
  pkg/config/shared/shared.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/pg_health.go
  pkg/repository/v1/repository.go
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/pg_health.sql
  pkg/repository/v1/sqlcv1/pg_health.sql.go
  pkg/repository/v1/sqlcv1/sqlc.yaml
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/repository/v1/sqlcv1/workers.sql
  pkg/repository/v1/sqlcv1/workers.sql.go
  pkg/repository/v1/task.go
  pkg/repository/v1/worker.go
  pkg/telemetry/metrics.go
  pkg/telemetry/telemetry.go
  sql/schema/pg-stubs.sql
Due: frontend-docs-lint

Revert "Feat: Hatchet Metrics Monitoring, I (#2480)" (#2698)
  Taskfile.yaml
  api/v1/server/handlers/v1/webhooks/receive.go
  cmd/hatchet-admin/cli/seed/seed-cypress.go
  cmd/hatchet-engine/engine/run.go
  frontend/docs/pages/self-hosting/configuration-options.mdx
  go.mod
  go.sum
  internal/msgqueue/v1/rabbitmq/rabbitmq.go
  internal/services/controllers/metrics/collector.go
  internal/services/controllers/v1/task/process_payload_wal.go
  internal/services/dispatcher/dispatcher_v1.go
  pkg/client/dispatcher.go
  pkg/config/server/server.go
  pkg/config/shared/shared.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/pg_health.go
  pkg/repository/v1/repository.go
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/pg_health.sql
  pkg/repository/v1/sqlcv1/pg_health.sql.go
  pkg/repository/v1/sqlcv1/sqlc.yaml
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/repository/v1/sqlcv1/workers.sql
  pkg/repository/v1/sqlcv1/workers.sql.go
  pkg/repository/v1/task.go
  pkg/repository/v1/worker.go
  pkg/telemetry/metrics.go
  pkg/telemetry/telemetry.go
  sql/schema/pg-stubs.sql
Due: frontend-docs-lint

fix: table name (#2697)
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

Revert "Revert "Feat: Hatchet Metrics Monitoring, I (#2480)" (#2698)"
  Taskfile.yaml
  api/v1/server/handlers/v1/webhooks/receive.go
  cmd/hatchet-admin/cli/seed/seed-cypress.go
  cmd/hatchet-engine/engine/run.go
  frontend/docs/pages/self-hosting/configuration-options.mdx
  go.mod
  go.sum
  internal/msgqueue/v1/rabbitmq/rabbitmq.go
  internal/services/controllers/metrics/collector.go
  internal/services/controllers/v1/task/process_payload_wal.go
  internal/services/dispatcher/dispatcher_v1.go
  pkg/client/dispatcher.go
  pkg/config/server/server.go
  pkg/config/shared/shared.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/pg_health.go
  pkg/repository/v1/repository.go
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/pg_health.sql
  pkg/repository/v1/sqlcv1/pg_health.sql.go
  pkg/repository/v1/sqlcv1/sqlc.yaml
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/repository/v1/sqlcv1/workers.sql
  pkg/repository/v1/sqlcv1/workers.sql.go
  pkg/repository/v1/task.go
  pkg/repository/v1/worker.go
  pkg/telemetry/metrics.go
  pkg/telemetry/telemetry.go
  sql/schema/pg-stubs.sql
Due: frontend-docs-lint

initial pass
  frontend/app/src/components/molecules/nav-bar/nav-bar.tsx
  frontend/app/src/index.css
  frontend/app/src/pages/auth/login/index.tsx
  frontend/app/src/pages/auth/register/index.tsx
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/pages/main/v1/index.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/index.tsx
  frontend/app/src/pages/root.tsx
  frontend/app/src/router.tsx
Due: frontend-app-lint

feat: function for pulling chunk size in bytes
  cmd/hatchet-migrate/migrate/migrations/20251222220531_v1_0_64.sql
Due: none

chore: schema
  sql/schema/v1-core.sql
  sql/schema/v1-olap.sql
Due: none

feat: queries
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

iterating towards good
  frontend/app/src/components/layout/app-layout.tsx
  frontend/app/src/components/layout/three-column-layout.tsx
  frontend/app/src/pages/auth/components/auth-layout.tsx
  frontend/app/src/pages/auth/components/auth-legal-text.tsx
  frontend/app/src/pages/auth/login/index.tsx
  frontend/app/src/pages/auth/register/index.tsx
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/pages/main/v1/index.tsx
Due: frontend-app-lint

fix: filewatcher bugs and embed bug
  cmd/hatchet-cli/cli/internal/glob/glob.go
  cmd/hatchet-cli/cli/internal/patternmatcher/dir.go
  cmd/hatchet-cli/cli/internal/patternmatcher/dir_test.go
  cmd/hatchet-cli/cli/internal/patternmatcher/patternmatcher.go
  cmd/hatchet-cli/cli/internal/patternmatcher/patternmatcher_test.go
  cmd/hatchet-cli/cli/internal/templater/templater.go
  cmd/hatchet-cli/cli/worker.go
Due: none

feat: typescript template
  cmd/hatchet-cli/cli/templates/typescript/Dockerfile
  cmd/hatchet-cli/cli/templates/typescript/README.md
  cmd/hatchet-cli/cli/templates/typescript/hatchet.yaml
  cmd/hatchet-cli/cli/templates/typescript/package.json
  cmd/hatchet-cli/cli/templates/typescript/pnpm-lock.yaml
  cmd/hatchet-cli/cli/templates/typescript/src/hatchet-client.ts
  cmd/hatchet-cli/cli/templates/typescript/src/run.ts
  cmd/hatchet-cli/cli/templates/typescript/src/worker.ts
  cmd/hatchet-cli/cli/templates/typescript/src/workflows/first-workflow.ts
  cmd/hatchet-cli/cli/templates/typescript/tsconfig.json
Due: none

chore: rework function
  cmd/hatchet-migrate/migrate/migrations/20251222220531_v1_0_64.sql
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
  sql/schema/v1-olap.sql
Due: none

viewport tests
  frontend/app/cypress/e2e/layout/viewports.cy.ts
  frontend/app/src/pages/auth/components/auth-legal-text.tsx
  frontend/app/src/pages/main/v1/index.tsx
Due: frontend-app-lint

feat: impl
  pkg/repository/v1/payloadstore.go
Due: none

url state test
  frontend/app/cypress/e2e/runs/rows-per-page.cy.ts
Due: frontend-app-lint

fix: ptr
  pkg/repository/v1/payloadstore.go
Due: none

feat: olap side
  pkg/repository/v1/olap.go
Due: none

fix: lint
  cmd/hatchet-cli/cli/internal/config/cli/init.go
  cmd/hatchet-cli/cli/internal/config/cli/lockfile.go
  cmd/hatchet-cli/cli/internal/config/cli/profile.go
  cmd/hatchet-cli/cli/internal/drivers/docker/ensure.go
  cmd/hatchet-cli/cli/internal/drivers/docker/hatchet_lite.go
  cmd/hatchet-cli/cli/internal/patternmatcher/patternmatcher.go
  cmd/hatchet-cli/cli/profile.go
  cmd/hatchet-cli/cli/quickstart.go
  cmd/hatchet-cli/cli/templates/typescript/Dockerfile
  cmd/hatchet-cli/cli/templates/typescript/README.md
  cmd/hatchet-cli/cli/templates/typescript/src/workflows/first-workflow.ts
  cmd/hatchet-cli/cli/worker.go
Due: none

dev panel
  frontend/app/src/components/layout/app-layout.tsx
  frontend/app/src/devtools.tsx
  frontend/app/src/main.tsx
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/router.tsx
Due: frontend-app-lint

fix: handle nulls
  cmd/hatchet-migrate/migrate/migrations/20251222220531_v1_0_64.sql
  sql/schema/v1-core.sql
  sql/schema/v1-olap.sql
Due: none

feat: go template
  cmd/hatchet-cli/cli/templates/go/.env.sample
  cmd/hatchet-cli/cli/templates/go/.gitignore
  cmd/hatchet-cli/cli/templates/go/README.md
  cmd/hatchet-cli/cli/templates/go/client/client.go.embed
  cmd/hatchet-cli/cli/templates/go/cmd/run/main.go.embed
  cmd/hatchet-cli/cli/templates/go/cmd/worker/main.go.embed
  cmd/hatchet-cli/cli/templates/go/go.mod.embed
  cmd/hatchet-cli/cli/templates/go/go.sum
  cmd/hatchet-cli/cli/templates/go/hatchet.yaml
  cmd/hatchet-cli/cli/templates/go/workflows/first_workflow.go.embed
Due: none

logo
  frontend/app/index.html
  frontend/app/public/favicon.ico
  frontend/app/public/favicon.svg
  frontend/app/src/assets/hatchet.png
  frontend/app/src/assets/hatchet_logo.png
  frontend/app/src/assets/hatchet_logo_dark.png
  frontend/app/src/components/molecules/nav-bar/nav-bar.tsx
  frontend/app/src/components/v1/ui/hatchet-logo.tsx
Due: frontend-app-lint

Fix: Dynamically-sized chunks on payload read (#2700)
  cmd/hatchet-migrate/migrate/migrations/20251222220531_v1_0_64.sql
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
  sql/schema/v1-olap.sql
Due: none

init auth layout
  frontend/app/src/components/molecules/nav-bar/nav-bar.tsx
  frontend/app/src/components/v1/ui/hatchet-logo.tsx
  frontend/app/src/pages/auth/components/auth-layout.tsx
  frontend/app/src/pages/auth/components/auth-legal-text.tsx
  frontend/app/src/pages/auth/components/auth-page.tsx
  frontend/app/src/pages/auth/components/social-auth.tsx
  frontend/app/src/pages/auth/login/components/user-login-form.tsx
  frontend/app/src/pages/auth/login/index.tsx
  frontend/app/src/pages/auth/register/components/user-register-form.tsx
  frontend/app/src/pages/auth/register/index.tsx
Due: frontend-app-lint

iterating
  frontend/app/src/pages/auth/components/auth-page.tsx
  frontend/app/src/pages/auth/login/components/user-login-form.tsx
  frontend/app/src/pages/auth/login/index.tsx
  frontend/app/src/pages/auth/register/components/user-register-form.tsx
  frontend/app/src/pages/auth/register/index.tsx
Due: frontend-app-lint

final layout
  frontend/app/src/pages/auth/components/auth-layout.tsx
  frontend/app/src/pages/auth/components/auth-legal-text.tsx
  frontend/app/src/pages/auth/components/auth-page.tsx
  frontend/app/src/pages/auth/components/hero-panel.tsx
  frontend/app/src/pages/auth/components/social-auth.tsx
  frontend/app/src/pages/auth/login/index.tsx
  frontend/app/src/pages/auth/register/components/user-register-form.tsx
  frontend/app/src/pages/auth/register/index.tsx
Due: frontend-app-lint

lint
  frontend/app/src/components/v1/ui/hatchet-logo.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/index.tsx
Due: frontend-app-lint

fix docs pannel
  frontend/app/cypress/e2e/layout/side-panel-full-height.cy.ts
  frontend/app/src/components/side-panel.tsx
Due: frontend-app-lint
