Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

refactor: fix a few more
  internal/services/admin/v1/server.go
  internal/services/grpc/middleware/rate_limit.go
  internal/services/shared/tasktypes/v1/event.go
  internal/services/shared/tasktypes/v1/task.go
  pkg/client/rest/gen.go
  pkg/repository/filters.go
  pkg/repository/log_line.go
  pkg/repository/match.go
  pkg/repository/tenant.go
  pkg/repository/trigger.go
  pkg/repository/worker.go
  pkg/repository/workflow.go
Due: none

fix: config loader
  pkg/client/loader/loader.go
Due: none

fix: revert some changes
  pkg/client/admin.go
  pkg/client/client.go
  pkg/client/cloud/rest/gen.go
  pkg/client/dispatcher.go
  pkg/client/event.go
  pkg/client/listener.go
  pkg/client/loader/loader.go
  pkg/client/rest/gen.go
  pkg/client/workflow.go
  pkg/config/cli/config.go
  pkg/config/client/client.go
  pkg/config/loader/loaderutils/token.go
  pkg/config/server/server.go
  pkg/repository/olap.go
  pkg/repository/repository.go
  pkg/repository/shared.go
  pkg/repository/tenant_limit.go
Due: none

fix: tests
  cmd/hatchet-admin/cli/k8s.go
  cmd/hatchet-admin/cli/token.go
  internal/cel/cel.go
  internal/cel/cel_test.go
  internal/services/dispatcher/stream_event_buffer_test.go
  pkg/client/durable_listener.go
  pkg/scheduling/v1/lease_manager_test.go
  pkg/scheduling/v1/slot_test.go
  pkg/v1/config.go
Due: none

fix: test
  internal/services/dispatcher/stream_event_buffer_test.go
Due: none

docs: clarify minimal configuration required for Python quickstart
  sdks/python/examples/quickstart/README.md
Due: none

refactor: Remove generic methods from EmailService
  pkg/integrations/email/email.go
  pkg/integrations/email/postmark/postmark.go
  pkg/integrations/email/smtp/smtp.go
Due: none

fix: make postmark the default email provider
  pkg/config/server/server.go
Due: none

chore: proto
  internal/services/dispatcher/v1/server.go
  internal/services/shared/proto/v1/dispatcher.pb.go
Due: none

fix: durable listener
  pkg/client/durable_listener.go
Due: none

fix: some more string types
  internal/services/dispatcher/dispatcher.go
  internal/services/dispatcher/server.go
Due: none

fix: python health worker sleep
  sdks/python/tests/worker_fixture.py
Due: none

fix: remove a bunch of `MustParse`s from the various gRPC servers
  internal/services/dispatcher/server.go
  internal/services/dispatcher/server_v1.go
  internal/services/dispatcher/v1/server.go
Due: none

fix: rm more uuid.MustParse calls
  internal/services/admin/server_v1.go
  internal/services/admin/v1/server.go
  internal/services/ingestor/server_v1.go
Due: none

fix: rm mustparse from api
  api/v1/server/handlers/slack-app/oauth_callback.go
  api/v1/server/handlers/v1/filters/create.go
  api/v1/server/handlers/v1/proxy/proxy.go
  api/v1/server/handlers/v1/tasks/get_metrics.go
  api/v1/server/handlers/v1/workflow-runs/get.go
  api/v1/server/handlers/v1/workflow-runs/list.go
  api/v1/server/handlers/v1/workflow-runs/trigger.go
Due: none

fix: test
  pkg/auth/token/token_test.go
Due: none

fix: frontend lint
  frontend/docs/pages/self-hosting/smtp-server.mdx
Due: frontend-docs-lint

feat: update api clients, openapi schema for new webhook body
  api-contracts/openapi/components/schemas/v1/webhook.yaml
  api/v1/server/handlers/v1/webhooks/create.go
  api/v1/server/handlers/v1/webhooks/update.go
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/data-contracts.ts
  pkg/client/rest/gen.go
  pkg/repository/sqlcv1/webhooks.sql
  pkg/repository/sqlcv1/webhooks.sql.go
  pkg/repository/webhooks.go
Due: frontend-app-lint

WIP: clean resource limits repo
  api/v1/server/handlers/tenants/create.go
  cmd/hatchet-migrate/migrate/migrations/20260131181326_v1_0_73.sql
  pkg/repository/sqlcv1/models.go
  pkg/repository/sqlcv1/tenant_limits.sql
  pkg/repository/sqlcv1/tenant_limits.sql.go
  pkg/repository/tenant_limit.go
  sql/schema/v0.sql
Due: none

fix: compute payload size correctly for pg_notify (#2873)
  internal/msgqueue/postgres/exchange.go
  pkg/repository/mq.go
  pkg/repository/multiplexer.go
  pkg/repository/multiplexer_test.go
Due: none

fix: only fetch finalized workflow runs (#2896)
  cmd/hatchet-engine/engine/run.go
  internal/services/dispatcher/dispatcher.go
  internal/services/dispatcher/server_v1.go
  pkg/config/server/server.go
  pkg/repository/task.go
Due: none

filter metrics for workflows
  api-contracts/openapi/paths/v1/tasks/tasks.yaml
  api/v1/server/handlers/v1/tasks/get_point_metrics.go
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/components/v1/molecules/charts/activity-mini-chart.tsx
  frontend/app/src/lib/api/generated/Api.ts
  frontend/app/src/pages/main/v1/workflows/components/workflow-columns.tsx
  pkg/client/rest/gen.go
  pkg/repository/olap.go
  pkg/repository/sqlcv1/olap.sql
  pkg/repository/sqlcv1/olap.sql.go
Due: frontend-app-lint

filter graph for selected workflows
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
Due: frontend-app-lint

fix counts
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/runs-provider.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/hooks/use-metrics.tsx
Due: frontend-app-lint

fix: merge issues
  pkg/repository/task.go
Due: none

additional metadata filter for metrics
  api-contracts/openapi/paths/v1/tasks/tasks.yaml
  api/v1/server/handlers/v1/tasks/get_point_metrics.go
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/components/v1/molecules/charts/activity-mini-chart.tsx
  frontend/app/src/lib/api/generated/Api.ts
  frontend/app/src/pages/main/v1/recurring/components/recurring-columns.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
  pkg/client/rest/gen.go
  pkg/repository/olap.go
  pkg/repository/sqlcv1/olap.sql
  pkg/repository/sqlcv1/olap.sql.go
Due: frontend-app-lint

fix: handle a bunch more uses of `MustParse` everywhere
  api/v1/server/authn/middleware.go
  api/v1/server/authz/middleware.go
  api/v1/server/handlers/v1/proxy/proxy.go
  api/v1/server/oas/transformers/api_token.go
  api/v1/server/oas/transformers/event.go
  api/v1/server/oas/transformers/metadata.go
  api/v1/server/oas/transformers/slack.go
  api/v1/server/oas/transformers/sns.go
  api/v1/server/oas/transformers/tenant.go
  api/v1/server/oas/transformers/tenant_invite.go
  api/v1/server/oas/transformers/user.go
  api/v1/server/oas/transformers/v1/filters.go
  api/v1/server/oas/transformers/v1/tasks.go
  api/v1/server/oas/transformers/v1/worker.go
  api/v1/server/oas/transformers/v1/workflow_runs.go
  api/v1/server/oas/transformers/webhook_worker.go
  api/v1/server/oas/transformers/worker.go
  api/v1/server/oas/transformers/workflow.go
  api/v1/server/oas/transformers/workflow_run.go
  api/v1/server/run/run.go
  internal/services/controllers/task/process_sleeps.go
  internal/services/controllers/task/process_timeouts.go
  internal/services/ticker/ticker.go
  pkg/auth/cookie/sessionstore.go
  pkg/auth/token/token.go
  pkg/repository/api_token.go
  pkg/repository/olap.go
  pkg/repository/payloadstore.go
  pkg/repository/scheduler_queue.go
  pkg/repository/slack.go
  pkg/repository/sns.go
  pkg/repository/task.go
  pkg/repository/tenant.go
  pkg/repository/tenant_alerting.go
  pkg/repository/tenant_invite.go
  pkg/repository/ticker.go
  pkg/repository/user.go
  pkg/repository/user_session.go
  pkg/repository/workflow.go
Due: none

improved scheduled and cron queued event descriptions
  internal/services/controllers/task/controller.go
  internal/services/ticker/cron_v1.go
  internal/services/ticker/schedule_workflow_v1.go
  pkg/constants/metadata.go
Due: none

feat
  api-contracts/openapi/components/schemas/v1/task.yaml
  api/v1/server/handlers/v1/tasks/get.go
  api/v1/server/oas/gen/openapi.gen.go
  api/v1/server/oas/transformers/v1/tasks.go
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
  internal/services/scheduler/v1/scheduler.go
  pkg/client/rest/gen.go
  pkg/repository/sqlcv1/concurrency.sql
  pkg/repository/sqlcv1/concurrency.sql.go
  pkg/repository/task.go
  pkg/scheduling/v1/concurrency.go
Due: frontend-app-lint

Update frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
Due: frontend-app-lint

cleanup
  api/v1/server/handlers/v1/tasks/get.go
  pkg/repository/sqlcv1/concurrency.sql
  pkg/repository/sqlcv1/concurrency.sql.go
  pkg/repository/task.go
Due: none

fix: send_step_action_event output type bug
  sdks/python/hatchet_sdk/clients/dispatcher/dispatcher.py
  sdks/python/hatchet_sdk/worker/action_listener_process.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

lint
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
Due: frontend-app-lint

chore: changelog, version
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

fix: flaky test improvement
  sdks/python/tests/worker_fixture.py
Due: none

fix: version
  sdks/python/CHANGELOG.md
Due: none

[Python] Fix: Empty Output Serialization (#2902)
  sdks/python/CHANGELOG.md
  sdks/python/hatchet_sdk/clients/dispatcher/dispatcher.py
  sdks/python/hatchet_sdk/worker/action_listener_process.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/pyproject.toml
  sdks/python/tests/worker_fixture.py
Due: none

add: email alert support via SMTP (#2868)
  frontend/docs/pages/self-hosting/_meta.js
  frontend/docs/pages/self-hosting/configuration-options.mdx
  frontend/docs/pages/self-hosting/smtp-server.mdx
  go.mod
  go.sum
  pkg/config/loader/loader.go
  pkg/config/server/server.go
  pkg/integrations/email/email.go
  pkg/integrations/email/postmark/postmark.go
  pkg/integrations/email/smtp/mock_smtp_test.go
  pkg/integrations/email/smtp/smtp.go
  pkg/integrations/email/smtp/smtp_test.go
  pkg/integrations/email/smtp/templates.go
  pkg/integrations/email/smtp/templates/expiring_token.html
  pkg/integrations/email/smtp/templates/layout.html
  pkg/integrations/email/smtp/templates/organization_invite.html
  pkg/integrations/email/smtp/templates/resource_limit_alert.html
  pkg/integrations/email/smtp/templates/user_invite.html
  pkg/integrations/email/smtp/templates/workflow_runs_failed.html
Due: frontend-docs-lint

lint
  pkg/repository/sqlcv1/olap.sql
  pkg/repository/sqlcv1/olap.sql.go
Due: none
