Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

done maybe?
  frontend/app/cypress/e2e/onboarding/learn-workflow.cy.ts
  frontend/app/src/pages/main/v1/overview/components/learn-workflow-section.tsx
Due: frontend-app-lint

update readme to include CLI
  README.md
Due: none

minor readme fix
  README.md
Due: none

minor rename
  .github/workflows/cli-e2e-tests.yml
Due: none

docs link
  README.md
Due: none

no test...
  frontend/app/cypress/e2e/onboarding/learn-workflow.cy.ts
Due: frontend-app-lint

rm summary
  frontend/app/src/pages/onboarding/create-tenant/components/tenant-create-form.tsx
Due: frontend-app-lint

lint
  frontend/app/src/pages/auth/components/auth-layout.tsx
Due: frontend-app-lint

add triggers to e2e tests, simple trigger for go + typescript
  cmd/hatchet-cli/cli/quickstart_e2e_test.go
  cmd/hatchet-cli/cli/templates/go/hatchet.yaml
  cmd/hatchet-cli/cli/templates/typescript/shared/hatchet.yaml
Due: none

feedback
  frontend/app/src/pages/main/v1/overview/components/learn-workflow-section.tsx
  frontend/app/src/pages/main/v1/overview/components/support-section.tsx
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

Auth front-end changes (#2802)
  frontend/app/public/noise.png
  frontend/app/src/index.css
  frontend/app/src/pages/auth/components/auth-layout.tsx
  frontend/app/src/pages/auth/components/hero-panel.tsx
  frontend/app/src/pages/auth/components/social-auth.tsx
Due: frontend-app-lint

empty tenant
  frontend/app/src/components/v1/nav/tenant-switcher.tsx
Due: frontend-app-lint

chore: refactor, add example
  sdks/python/examples/serde/worker.py
  sdks/python/hatchet_sdk/__init__.py
  sdks/python/hatchet_sdk/context/context.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/serde.py
  sdks/python/hatchet_sdk/serde/__init__.py
  sdks/python/hatchet_sdk/serde/pydantic.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

chore: remove duplicate file
  sdks/python/hatchet_sdk/serde.py
Due: none

font
  frontend/app/src/pages/main/v1/overview/components/learn-workflow-section.tsx
Due: frontend-app-lint

chore: add test for serialization
  sdks/python/examples/serde/test_serde.py
  sdks/python/examples/serde/worker.py
  sdks/python/examples/worker.py
Due: none

one more font...
  frontend/app/src/pages/main/v1/overview/components/learn-workflow-section.tsx
Due: frontend-app-lint

docker base
  build/package/dashboard.dockerfile
  build/package/lite.dockerfile
  build/package/servers.dockerfile
  frontend/docs/pages/home/docker.mdx
Due: frontend-docs-lint

fix: minor quickstart issues
  cmd/hatchet-cli/cli/templates/go/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/python/shared/hatchet.yaml
  cmd/hatchet-cli/cli/templates/typescript/pnpm/package.json
  cmd/hatchet-cli/cli/templates/typescript/shared/POST_QUICKSTART.md
Due: none

fix: minor quickstart issues (#2807)
  cmd/hatchet-cli/cli/templates/go/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/python/shared/hatchet.yaml
  cmd/hatchet-cli/cli/templates/typescript/pnpm/package.json
  cmd/hatchet-cli/cli/templates/typescript/shared/POST_QUICKSTART.md
Due: none

fix: typescript post-quickstart
  cmd/hatchet-cli/cli/templates/typescript/bun/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/typescript/npm/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/typescript/pnpm/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/typescript/yarn/POST_QUICKSTART.md
Due: none

package change
  pkg/scheduling/v1/batch_scheduler_test.go
Due: none

package
  pkg/scheduling/v1/lease_manager_test.go
Due: none

migration
  cmd/hatchet-migrate/migrate/migrations/20260116185236_v1_0_69.sql
  sql/schema/v1-core.sql
Due: none

api token fix
  pkg/repository/api_token.go
Due: none

fix: typescript post-quickstart (#2809)
  cmd/hatchet-cli/cli/templates/typescript/bun/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/typescript/npm/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/typescript/pnpm/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/typescript/yarn/POST_QUICKSTART.md
Due: none

message
  internal/services/controllers/task/controller.go
  sdks/typescript/src/examples/simple-worker.e2e.ts
Due: none

docs: make docs more cli-centric
  frontend/docs/pages/home/_meta.js
  frontend/docs/pages/home/environments.mdx
  frontend/docs/pages/home/hatchet-cloud-quickstart.mdx
  frontend/docs/pages/home/setup.mdx
  frontend/docs/pages/self-hosting/hatchet-lite.mdx
  frontend/docs/pages/self-hosting/index.mdx
Due: frontend-docs-lint

docs: make docs more cli-centric (#2810)
  frontend/docs/pages/home/_meta.js
  frontend/docs/pages/home/environments.mdx
  frontend/docs/pages/home/hatchet-cloud-quickstart.mdx
  frontend/docs/pages/home/setup.mdx
  frontend/docs/pages/self-hosting/hatchet-lite.mdx
  frontend/docs/pages/self-hosting/index.mdx
Due: frontend-docs-lint

fix(msgqueue): propagate errors from JSONConvert instead of silent drop
  internal/msgqueue/json_convert_test.go
  internal/msgqueue/mq_sub_buffer.go
  internal/msgqueue/rabbitmq/rabbitmq_test.go
  internal/services/controllers/olap/controller.go
  internal/services/controllers/task/controller.go
  internal/services/dispatcher/dispatcher_v1.go
  internal/services/dispatcher/server_v1.go
  internal/services/scheduler/v1/scheduler.go
Due: none

fix(dispatcher): propagate ListTasks errors instead of silent drop
  internal/services/dispatcher/dispatcher_v1.go
Due: none

test(dispatcher): add regression test for BH-CO-004
  internal/services/dispatcher/bug_co_004_test.go
Due: none

Proposal: Shrink task metrics chart a bunch (#2738)
  frontend/app/src/components/v1/molecules/charts/zoomable.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/runs-table.tsx
Due: frontend-app-lint

fix naming of migration
  cmd/hatchet-migrate/migrate/migrations/20260119123835_v1_0_69.sql
Due: none

chore: changelog + bump
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

fix naming of migration (#2819)
  cmd/hatchet-migrate/migrate/migrations/20260119123835_v1_0_69.sql
Due: none

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
