Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

Update frontend/app/src/components/v1/nav/top-nav.tsx
  frontend/app/src/components/v1/nav/top-nav.tsx
Due: frontend-app-lint

font
  frontend/app/src/components/v1/nav/side-nav.tsx
Due: frontend-app-lint

feat: hatchet server start, hatchet server stop, config hashes
  cmd/hatchet-cli/cli/internal/drivers/docker/ensure.go
  cmd/hatchet-cli/cli/internal/drivers/docker/hatchet_lite.go
  cmd/hatchet-cli/cli/server.go
Due: none

signatures
  api-contracts/v1/workflows.proto
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/events-columns.tsx
  internal/services/admin/v1/server.go
  internal/services/shared/proto/v1/workflows.pb.go
  sdks/python/examples/batch_task/worker.py
  sdks/python/hatchet_sdk/clients/rest/models/scheduled_workflows_bulk_delete_filter.py
  sdks/python/hatchet_sdk/clients/rest/models/workflow_runs_metrics.py
  sdks/python/hatchet_sdk/contracts/dispatcher_pb2.py
  sdks/python/hatchet_sdk/contracts/dispatcher_pb2.pyi
  sdks/python/hatchet_sdk/contracts/dispatcher_pb2_grpc.py
  sdks/python/hatchet_sdk/contracts/v1/workflows_pb2.py
  sdks/python/hatchet_sdk/contracts/v1/workflows_pb2.pyi
  sdks/python/hatchet_sdk/hatchet.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/poetry.lock
  sdks/python/tests/test_batch_task_unit.py
  sdks/typescript/src/protoc/v1/workflows.ts
  sdks/typescript/src/v1/client/duration.ts
  sdks/typescript/src/v1/client/worker/worker-internal.ts
  sdks/typescript/src/v1/declaration.ts
  sdks/typescript/src/v1/examples/batch_assign/batch.e2e.ts
  sdks/typescript/src/v1/examples/batch_assign/task.ts
  sdks/typescript/src/v1/examples/batch_assign/workflow.ts
  sdks/typescript/src/v1/task.ts
  sdks/typescript/src/version.ts
Due: frontend-app-lint

fix versioning, add option to start server on hatchet worker dev
  cmd/hatchet-cli/cli/profile.go
  cmd/hatchet-cli/cli/quickstart.go
  cmd/hatchet-cli/cli/root.go
  cmd/hatchet-cli/cli/server.go
  cmd/hatchet-cli/cli/worker.go
Due: none

go mod tidy
  go.mod
Due: none

Feat: Hatchet Metrics Monitoring, I (#2699)
  Taskfile.yaml
  api/v1/server/handlers/v1/webhooks/receive.go
  cmd/hatchet-admin/cli/seed/seed-cypress.go
  cmd/hatchet-engine/engine/run.go
  frontend/docs/pages/self-hosting/configuration-options.mdx
  go.mod
  go.sum
  internal/msgqueue/v1/rabbitmq/rabbitmq.go
  internal/services/controllers/metrics/collector.go
  internal/services/controllers/v1/task/process_payload_wal.go
  internal/services/dispatcher/dispatcher_v1.go
  pkg/client/dispatcher.go
  pkg/config/server/server.go
  pkg/config/shared/shared.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/pg_health.go
  pkg/repository/v1/repository.go
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
  pkg/repository/v1/sqlcv1/pg_health.sql
  pkg/repository/v1/sqlcv1/pg_health.sql.go
  pkg/repository/v1/sqlcv1/sqlc.yaml
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/repository/v1/sqlcv1/workers.sql
  pkg/repository/v1/sqlcv1/workers.sql.go
  pkg/repository/v1/task.go
  pkg/repository/v1/worker.go
  pkg/telemetry/metrics.go
  pkg/telemetry/telemetry.go
  sql/schema/pg-stubs.sql
Due: frontend-docs-lint

naming
  cmd/hatchet-migrate/migrate/migrations/20251219181212_batching_consolidated.sql
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/events-columns.tsx
  frontend/docs/pages/home/batch-assignment.mdx
  internal/services/admin/v1/server.go
  internal/services/scheduler/v1/scheduler.go
  pkg/repository/postgres/dbsqlc/models.go
  pkg/repository/postgres/dbsqlc/workflow_runs.sql.go
  pkg/repository/postgres/dbsqlc/workflows.sql
  pkg/repository/postgres/dbsqlc/workflows.sql.go
  pkg/repository/v1/scheduler_queue.go
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/queue.sql
  pkg/repository/v1/sqlcv1/queue.sql.go
  pkg/repository/v1/sqlcv1/tasks-overwrite.go
  pkg/repository/v1/sqlcv1/tasks-overwrite.sql
  pkg/repository/v1/sqlcv1/workflows.sql
  pkg/repository/v1/sqlcv1/workflows.sql.go
  pkg/repository/v1/task.go
  pkg/repository/v1/task_test.go
  pkg/repository/v1/workflow.go
  pkg/scheduling/v1/batch_scheduler.go
  pkg/scheduling/v1/batch_scheduler_test.go
  sql/schema/v0.sql
Due: frontend-app-lint, frontend-docs-lint

fix: WithToken should override environment variable
  .pre-commit-config.yaml
  pkg/client/client.go
  pkg/client/loader/loader.go
Due: none

Chore: Remove annoying payload fallback error logs (#2675)
  internal/services/dispatcher/dispatcher_v1.go
  pkg/repository/v1/ids.go
  pkg/repository/v1/match.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/task.go
  pkg/repository/v1/trigger.go
Due: none

signature
  sdks/python/docs/context.md
  sdks/python/docs/runnables.md
  sdks/python/examples/batch_task/trigger.py
  sdks/python/examples/batch_task/worker.py
  sdks/python/hatchet_sdk/hatchet.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/tests/test_batch_task_unit.py
  sdks/typescript/src/v1/client/client.ts
  sdks/typescript/src/v1/client/worker/worker-internal.ts
  sdks/typescript/src/v1/declaration.ts
  sdks/typescript/src/v1/examples/batch_assign/batch.e2e.ts
  sdks/typescript/src/v1/examples/batch_assign/task.ts
  sdks/typescript/src/v1/examples/batch_assign/workflow.ts
  sdks/typescript/src/v1/task.ts
Due: none

last mile
  examples/python/batch_task/trigger.py
  examples/python/batch_task/worker.py
  examples/typescript/batch_assign/run.ts
  examples/typescript/batch_assign/task.ts
  examples/typescript/batch_assign/worker.ts
  examples/typescript/batch_assign/workflow.ts
  frontend/docs/pages/home/batch-assignment.mdx
  pkg/repository/v1/sqlcv1/tasks.sql
Due: frontend-docs-lint

lint
  sdks/typescript/src/v1/examples/batch_assign/batch.e2e.ts
Due: none

feat: tls strategy best-effort, config fixes
  .pre-commit-config.yaml
  cmd/hatchet-cli/cli/internal/config/cli/profile.go
  cmd/hatchet-cli/cli/profile.go
  cmd/hatchet-cli/cli/server.go
  cmd/hatchet-cli/cli/worker.go
  pkg/config/cli/config.go
Due: none

fix: WithToken should override environment variable (#2706)
  .pre-commit-config.yaml
  pkg/client/client.go
  pkg/client/loader/loader.go
Due: none

lint
  frontend/docs/pages/home/batch-assignment.mdx
  sdks/python/examples/batch_task/worker.py
  sdks/python/examples/priority/test_priority.py
  sdks/python/examples/scheduled/programatic-sync.py
  sdks/python/hatchet_sdk/features/scheduled.py
  sdks/python/hatchet_sdk/opentelemetry/instrumentor.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/pyproject.toml
Due: frontend-docs-lint

lint
  sdks/python/hatchet_sdk/opentelemetry/instrumentor.py
Due: none

Revert "lint"
  frontend/docs/pages/home/batch-assignment.mdx
  sdks/python/examples/batch_task/worker.py
  sdks/python/examples/priority/test_priority.py
  sdks/python/examples/scheduled/programatic-sync.py
  sdks/python/hatchet_sdk/features/scheduled.py
  sdks/python/hatchet_sdk/opentelemetry/instrumentor.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/pyproject.toml
Due: frontend-docs-lint

lint
  sdks/python/examples/batch_task/worker.py
  sdks/python/examples/priority/test_priority.py
  sdks/python/examples/scheduled/programatic-sync.py
  sdks/python/hatchet_sdk/features/scheduled.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

timedelta
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/utils/timedelta_to_expression.py
Due: none

lint
  frontend/docs/pages/home/batch-assignment.mdx
Due: frontend-docs-lint

fix: rm cleanup logic for now
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
Due: none

fix tenant stuff
  frontend/app/src/components/v1/molecules/nav-bar/tenant-switcher.tsx
  frontend/app/src/hooks/use-tenant.tsx
Due: frontend-app-lint

generate
  pkg/repository/v1/sqlcv1/batch.go
  pkg/repository/v1/sqlcv1/tasks.sql.go
Due: none

skip flaky test
  sdks/typescript/src/v1/examples/batch_assign/batch.e2e.ts
Due: none

build error
  frontend/app/src/components/v1/molecules/nav-bar/organization-selector.tsx
Due: frontend-app-lint

fix: rm cleanup logic for now (#2707)
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
Due: none

Revert "chore: run list query optimizations (#2670)"
  api/v1/server/handlers/v1/workflow-runs/list.go
  api/v1/server/middleware/populator/populator.go
  cmd/hatchet-migrate/migrate/migrations/20251218153622_v1_0_63.go
  cmd/hatchet-migrate/migrate/run.go
  pkg/repository/v1/olap.go
  sql/schema/v1-olap.sql
Due: none

only time delta
  sdks/python/hatchet_sdk/hatchet.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
  sdks/python/hatchet_sdk/utils/timedelta_to_expression.py
Due: none

cleanup worker logic, create pm package, improve filewatcher buffering
  cmd/hatchet-cli/cli/internal/pm/filewatcher.go
  cmd/hatchet-cli/cli/internal/pm/pm.go
  cmd/hatchet-cli/cli/worker.go
Due: none

attempt windows compatibility
  cmd/hatchet-cli/cli/internal/pm/pm.go
  cmd/hatchet-cli/cli/internal/pm/process_unix.go
  cmd/hatchet-cli/cli/internal/pm/process_windows.go
Due: none

fix: race conditions in profile package
  cmd/hatchet-cli/cli/internal/config/cli/init.go
  cmd/hatchet-cli/cli/internal/config/cli/profile.go
Due: none

Revert "chore: run list query optimizations (#2670)" (#2708)
  api/v1/server/handlers/v1/workflow-runs/list.go
  api/v1/server/middleware/populator/populator.go
  cmd/hatchet-migrate/migrate/migrations/20251218153622_v1_0_63.go
  cmd/hatchet-migrate/migrate/run.go
  pkg/repository/v1/olap.go
  sql/schema/v1-olap.sql
Due: none

could not send to worker OLAP event
  api-contracts/openapi/components/schemas/v1/task.yaml
  api/v1/server/oas/gen/openapi.gen.go
  cmd/hatchet-migrate/migrate/migrations/20251224145920_v1_0_65.sql
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/events-columns.tsx
  internal/services/dispatcher/server.go
  internal/services/dispatcher/subscribed_worker.go
  internal/services/dispatcher/subscribed_worker_v1.go
  pkg/client/rest/gen.go
  pkg/repository/v1/sqlcv1/models.go
  sql/schema/v1-olap.sql
Due: frontend-app-lint

fix scroll
  frontend/app/src/pages/main/v1/index.tsx
Due: frontend-app-lint

remove redundant breadcrumbs
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/header.tsx
Due: frontend-app-lint

pylon button override
  frontend/app/src/components/support-chat.tsx
  frontend/app/src/components/v1/nav/help-dropdown.tsx
  frontend/app/src/components/v1/nav/side-nav.tsx
Due: frontend-app-lint

slightly more on brand
  frontend/app/src/assets/fonts/F37Judge-MediumExtended.woff2
  frontend/app/src/assets/fonts/F37Judge-Regular.woff2
  frontend/app/src/assets/fonts/dm-mono-medium-italic.woff2
  frontend/app/src/assets/fonts/dm-mono-medium.woff2
  frontend/app/src/assets/fonts/dm-mono-regular-italic.woff2
  frontend/app/src/assets/fonts/dm-mono-regular.woff2
  frontend/app/src/assets/fonts/martina-plantijn-italic.woff2
  frontend/app/src/assets/fonts/martina-plantijn-regular.woff2
  frontend/app/src/assets/fonts/noto-webfont.woff2
  frontend/app/src/components/v1/molecules/data-table/data-table-column-header.tsx
  frontend/app/src/components/v1/nav/side-nav.tsx
  frontend/app/src/components/v1/nav/sidebar-buttons.tsx
  frontend/app/src/index.css
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/header.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/components/v1/task-runs-columns.tsx
  frontend/app/tailwind.config.js
Due: frontend-app-lint

collapsed nav padding
  frontend/app/src/components/v1/nav/side-nav.tsx
Due: frontend-app-lint

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
