Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

chore: changelogs
  sdks/python/CHANGELOG.md
  sdks/typescript/CHANGELOG.md
Due: none

fix: add default
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

fix: early return
  sdks/typescript/src/v1/client/worker/worker-internal.ts
Due: none

move event payloads to payloads table, fix env var loading
  cmd/hatchet-migrate/migrate/migrations/20260127145041_v1_0_71.sql
  pkg/config/server/server.go
  pkg/repository/sqlcv1/models.go
  pkg/repository/sqlcv1/tasks-overwrite.go
  pkg/repository/trigger.go
  sql/schema/v1-core.sql
Due: none

[Python, TS] Fix: Cancellation Propagation (#2865)
  sdks/python/CHANGELOG.md
  sdks/python/hatchet_sdk/utils/cache.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
  sdks/typescript/src/v1/client/worker/worker-internal.ts
Due: none

feat: add json schema to putworkflow proto
  api-contracts/v1/workflows.proto
  internal/services/shared/proto/v1/workflows.pb.go
Due: none

feat: send json schema from the python code
  sdks/python/hatchet_sdk/runnables/workflow.py
Due: none

feat: add input json schema to workflow version
  cmd/hatchet-migrate/migrate/migrations/20260123222533_v1_0_71.sql
  pkg/repository/sqlcv1/models.go
  sql/schema/v0.sql
Due: none

feat: wire up writes of the json schema
  internal/services/admin/v1/server.go
  pkg/repository/sqlcv1/workflows.sql
  pkg/repository/sqlcv1/workflows.sql.go
  pkg/repository/workflow.go
Due: none

chore: gen python
  sdks/python/hatchet_sdk/clients/rest/__init__.py
  sdks/python/hatchet_sdk/clients/rest/api/log_api.py
  sdks/python/hatchet_sdk/clients/rest/models/__init__.py
  sdks/python/hatchet_sdk/clients/rest/models/concurrency_scope.py
  sdks/python/hatchet_sdk/clients/rest/models/concurrency_setting.py
  sdks/python/hatchet_sdk/clients/rest/models/workflow_version.py
  sdks/python/hatchet_sdk/contracts/v1/workflows_pb2.py
  sdks/python/hatchet_sdk/contracts/v1/workflows_pb2.pyi
  sdks/python/poetry.lock
Due: none

feat: wiring
  api-contracts/openapi/components/schemas/workflow.yaml
  api/v1/server/handlers/workflows/list.go
  api/v1/server/oas/transformers/workflow.go
  frontend/app/src/lib/api/generated/data-contracts.ts
  pkg/client/rest/gen.go
  pkg/repository/sqlcv1/workflows.sql
  pkg/repository/sqlcv1/workflows.sql.go
  pkg/repository/workflow.go
Due: frontend-app-lint

feat: pass json schema into code editor
  frontend/app/src/components/v1/ui/code-editor.tsx
Due: frontend-app-lint

feat: pass prop
  frontend/app/src/pages/main/v1/workflows/$workflow/components/trigger-workflow-form.tsx
Due: frontend-app-lint

fix: clean up validation stuff
  frontend/app/src/components/v1/ui/code-editor.tsx
Due: frontend-app-lint

fix: try except logic hack
  sdks/python/hatchet_sdk/runnables/workflow.py
Due: none

fix: improve hack slightly
  sdks/python/hatchet_sdk/runnables/workflow.py
Due: none

fix: rename input -> inputValidator for consistency
  sdks/typescript/src/v1/client/worker/worker-internal.ts
  sdks/typescript/src/v1/declaration.ts
Due: none

feat: allow zod `input` as optional ts field
  sdks/typescript/package.json
  sdks/typescript/pnpm-lock.yaml
  sdks/typescript/src/protoc/v1/workflows.ts
  sdks/typescript/src/v1/client/worker/worker-internal.ts
  sdks/typescript/src/v1/declaration.ts
Due: none

chore: gen api
  api/v1/server/oas/gen/openapi.gen.go
Due: none

chore: changelogs, versions
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
  sdks/typescript/CHANGELOG.md
  sdks/typescript/package.json
Due: none

feat: zod example
  sdks/typescript/src/v1/examples/simple/worker.ts
  sdks/typescript/src/v1/examples/simple/zod.ts
Due: none

chore: rework api a bit
  api-contracts/openapi/components/schemas/workflow.yaml
  api/v1/server/oas/gen/openapi.gen.go
  api/v1/server/oas/transformers/workflow.go
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/pages/main/v1/workflows/$workflow/components/trigger-workflow-form.tsx
  pkg/client/rest/gen.go
  pkg/repository/sqlcv1/workflows.sql
Due: frontend-app-lint

fix: tsc, allow schema to update
  frontend/app/src/components/v1/ui/code-editor.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/components/trigger-workflow-form.tsx
Due: frontend-app-lint

fix: improve loading state
  frontend/app/src/components/v1/ui/code-editor.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/components/trigger-workflow-form.tsx
Due: frontend-app-lint

fix: api cleanup, sqlc cleanup
  api/v1/server/handlers/workflows/list.go
  api/v1/server/oas/transformers/workflow.go
  pkg/repository/sqlcv1/workflows.sql.go
  pkg/repository/workflow.go
Due: none

fix: initial mount
  frontend/app/src/components/v1/ui/code-editor.tsx
Due: frontend-app-lint

chore: lint
  frontend/app/src/components/v1/ui/code-editor.tsx
  frontend/app/src/pages/main/v1/workflows/$workflow/components/trigger-workflow-form.tsx
Due: frontend-app-lint

chore: lint
  sdks/python/hatchet_sdk/runnables/workflow.py
Due: none

chore: tsc
  frontend/app/src/components/v1/ui/code-editor.tsx
Due: frontend-app-lint

refactor: small changes to prepare optimistic txs
  cmd/hatchet-migrate/migrate/migrations/20260127201500_v1_0_72.sql
  pkg/repository/idempotency.go
  pkg/repository/olap.go
  pkg/repository/optimistic_tx.go
  pkg/repository/repository.go
  pkg/repository/shared.go
  pkg/repository/trigger.go
  sql/schema/v1-core.sql
Due: none

oldest also in running stats
  frontend/docs/pages/home/autoscaling-workers.mdx
Due: frontend-docs-lint

Add doc about autoscaling workers (#2864)
  frontend/docs/pages/home/_meta.js
  frontend/docs/pages/home/autoscaling-workers.mdx
Due: frontend-docs-lint

fix: lint
  sdks/typescript/src/v1/examples/simple/zod.ts
Due: none

fix: address pr review comments
  cmd/hatchet-migrate/migrate/migrations/20260127145041_v1_0_71.sql
  pkg/repository/sqlcv1/tasks.sql
  sql/schema/v1-core.sql
Due: none

missed save
  pkg/repository/sqlcv1/tasks.sql.go
Due: none

feat: db tables for user events (#2862)
  cmd/hatchet-migrate/migrate/migrations/20260127145041_v1_0_71.sql
  internal/services/controllers/olap/controller.go
  pkg/config/loader/loader.go
  pkg/config/server/server.go
  pkg/repository/olap.go
  pkg/repository/repository.go
  pkg/repository/sqlcv1/models.go
  pkg/repository/sqlcv1/olap-overwrite.sql.go
  pkg/repository/sqlcv1/tasks-overwrite.go
  pkg/repository/sqlcv1/tasks.sql
  pkg/repository/sqlcv1/tasks.sql.go
  pkg/repository/trigger.go
  sql/schema/v1-core.sql
Due: none

add: email alert support via SMTP
  frontend/docs/pages/self-hosting/configuration-options.mdx
  go.mod
  go.sum
  pkg/config/loader/loader.go
  pkg/config/server/server.go
  pkg/integrations/email/email.go
  pkg/integrations/email/postmark/postmark.go
  pkg/integrations/email/smtp/mock_smtp_test.go
  pkg/integrations/email/smtp/smtp.go
  pkg/integrations/email/smtp/smtp_test.go
  pkg/integrations/email/smtp/templates.go
  pkg/integrations/email/smtp/templates/expiring_token.html
  pkg/integrations/email/smtp/templates/layout.html
  pkg/integrations/email/smtp/templates/organization_invite.html
  pkg/integrations/email/smtp/templates/resource_limit_alert.html
  pkg/integrations/email/smtp/templates/user_invite.html
  pkg/integrations/email/smtp/templates/workflow_runs_failed.html
Due: frontend-docs-lint

feat: optimistic scheduling
  .golangci.yml
  cmd/hatchet-engine/engine/run.go
  internal/services/admin/admin.go
  internal/services/admin/server_v1.go
  internal/services/admin/v1/admin.go
  internal/services/admin/v1/server.go
  internal/services/controllers/olap/signal/signal.go
  internal/services/controllers/task/controller.go
  internal/services/controllers/task/process_sleeps.go
  internal/services/dispatcher/dispatcher_v1.go
  internal/services/ingestor/ingestor.go
  internal/services/ingestor/ingestor_v1.go
  internal/services/scheduler/v1/optimistic.go
  internal/services/scheduler/v1/scheduler.go
  internal/services/shared/tasktypes/v1/event.go
  pkg/config/loader/loader.go
  pkg/config/server/server.go
  pkg/repository/scheduler.go
  pkg/repository/scheduler_optimistic.go
  pkg/repository/scheduler_queue.go
  pkg/repository/sqlcv1/queue.sql
  pkg/repository/sqlcv1/queue.sql.go
  pkg/repository/trigger.go
  pkg/scheduling/v1/pool.go
  pkg/scheduling/v1/queuer.go
  pkg/scheduling/v1/tenant_manager.go
Due: none

add: subject lines
  pkg/integrations/email/email.go
  pkg/integrations/email/smtp/smtp.go
  pkg/integrations/email/smtp/smtp_test.go
  pkg/integrations/email/smtp/templates/user_invite.html
Due: none

feat: add buf + generate protos
  api-contracts/buf.lock
  api-contracts/buf.yaml
  api-contracts/v1/otelcol.proto
  hack/proto/proto.sh
  internal/services/grpc/server.go
  internal/services/otelcol/otelcol.go
  internal/services/otelcol/server.go
  internal/services/shared/proto/v1/otelcol.pb.go
  internal/services/shared/proto/v1/otelcol_grpc.pb.go
Due: none

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
