Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

feat: some page cleanup
  frontend/app/src/pages/main/v1/workflows/$workflow/components/workflow-general-settings.tsx
Due: frontend-app-lint

chore: cleanup
  api-contracts/openapi/components/schemas/workflow.yaml
  api/v1/server/oas/gen/openapi.gen.go
  api/v1/server/oas/transformers/workflow.go
  frontend/app/src/lib/api/generated/data-contracts.ts
  pkg/client/rest/gen.go
  sdks/python/examples/dag/worker.py
Due: frontend-app-lint

chore: revert python changes
  sdks/python/examples/dag/worker.py
Due: none

feat: code highlighter
  frontend/app/src/pages/main/v1/workflows/$workflow/components/workflow-general-settings.tsx
Due: frontend-app-lint

chore: lint
  frontend/app/src/pages/main/v1/workflows/$workflow/components/workflow-general-settings.tsx
Due: frontend-app-lint

fix: minor updates to TUI key mappings
  cmd/hatchet-cli/cli/tui.go
  cmd/hatchet-cli/cli/tui/help.go
  cmd/hatchet-cli/cli/tui/runs_list.go
  cmd/hatchet-cli/cli/tui/workflow_details.go
  cmd/hatchet-cli/cli/tui/workflows.go
Due: none

Fix: Concurrency display on workflow page (#2780)
  api-contracts/openapi/components/schemas/workflow.yaml
  api/v1/server/handlers/v1/tasks/get.go
  api/v1/server/handlers/v1/workflow-runs/get.go
  api/v1/server/handlers/workflows/get.go
  api/v1/server/handlers/workflows/get_version.go
  api/v1/server/oas/gen/openapi.gen.go
  api/v1/server/oas/transformers/workflow.go
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/pages/main/v1/workflows/$workflow/components/workflow-general-settings.tsx
  pkg/client/rest/gen.go
  pkg/repository/sqlcv1/concurrency.sql
  pkg/repository/sqlcv1/concurrency.sql.go
  pkg/repository/sqlcv1/workflows.sql
  pkg/repository/sqlcv1/workflows.sql.go
  pkg/repository/workflow.go
Due: frontend-app-lint

initial install script
  hack/install/install.sh
Due: none

install file
  hack/install/install.sh
Due: none

update goreleaser to add homebrew tap support
  .github/workflows/cli-release.yaml
  cmd/hatchet-cli/.goreleaser.yml
Due: none

fix: homebrew error
  cmd/hatchet-cli/.goreleaser.yml
Due: none

fix: migrate homebrew tap
  cmd/hatchet-cli/.goreleaser.yml
Due: none

feat: hatchet worker run, progress bars
  cmd/hatchet-cli/cli/internal/config/worker/config.go
  cmd/hatchet-cli/cli/internal/drivers/docker/hatchet_lite.go
  cmd/hatchet-cli/cli/internal/drivers/docker/image_pull_progress.go
  cmd/hatchet-cli/cli/internal/drivers/docker/image_pull_progress_test.go
  cmd/hatchet-cli/cli/internal/templater/templater.go
  cmd/hatchet-cli/cli/quickstart.go
  cmd/hatchet-cli/cli/templates/python/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/python/hatchet.yaml
  cmd/hatchet-cli/cli/worker.go
  go.mod
  go.sum
Due: none

send referral source data
  api-contracts/openapi/components/schemas/tenant.yaml
  api/v1/server/handlers/tenants/create.go
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/pages/onboarding/create-tenant/components/tenant-create-form.tsx
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
  frontend/app/src/pages/onboarding/create-tenant/types.ts
  pkg/client/rest/gen.go
  pkg/repository/tenant.go
Due: frontend-app-lint

Add tab setup
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

style tabs
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

Add remaining tab steps
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

Add support cards
  frontend/app/src/pages/main/v1/overview/components/onboarding-widget.tsx
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

temp links
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

light mode fixes
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

responsive fixes
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

consolidate nav icons
  frontend/app/src/components/v1/nav/side-nav.tsx
  frontend/app/src/pages/main/v1/side-nav-items.tsx
Due: frontend-app-lint

set nav icon default color
  frontend/app/src/components/v1/nav/sidebar-buttons.tsx
  frontend/app/src/pages/main/v1/overview/index.tsx
  frontend/app/src/pages/main/v1/side-nav-items.tsx
Due: frontend-app-lint

Add custom overview icon
  frontend/app/src/pages/main/v1/side-nav-items.tsx
Due: frontend-app-lint

Animate overview icon
  frontend/app/src/components/v1/nav/side-nav.tsx
  frontend/app/src/pages/main/v1/side-nav-items.tsx
Due: frontend-app-lint

fix race condition
  cmd/hatchet-cli/cli/internal/config/cli/profile.go
Due: none

Onboarding UI work (#2767)
  frontend/app/src/components/v1/nav/side-nav.tsx
  frontend/app/src/components/v1/nav/sidebar-buttons.tsx
  frontend/app/src/components/v1/ui/separator.tsx
  frontend/app/src/index.css
  frontend/app/src/pages/main/v1/index.tsx
  frontend/app/src/pages/main/v1/overview/components/onboarding-widget.tsx
  frontend/app/src/pages/main/v1/overview/components/radial-progress-bar.tsx
  frontend/app/src/pages/main/v1/overview/index.tsx
  frontend/app/src/pages/main/v1/side-nav-items.tsx
  frontend/app/tailwind.config.js
Due: frontend-app-lint

set goreleaser draft -> false
  cmd/hatchet-cli/.goreleaser.yml
Due: none

remove homedir dep
  cmd/hatchet-cli/cli/internal/config/cli/init.go
  go.mod
  go.sum
Due: none

lint
  frontend/docs/pages/cli/index.mdx
  frontend/docs/pages/cli/running-workers-locally.mdx
  frontend/docs/pages/cli/tui.mdx
Due: frontend-docs-lint

fix cli issues from user interview
  cmd/hatchet-cli/cli/profile.go
  cmd/hatchet-cli/cli/quickstart.go
  cmd/hatchet-cli/cli/server.go
  cmd/hatchet-cli/cli/tui.go
Due: none

base app context provider
  frontend/app/src/hooks/use-current-user.ts
  frontend/app/src/hooks/use-organizations.ts
  frontend/app/src/hooks/use-tenant.tsx
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/providers/app-context.tsx
  frontend/app/src/providers/posthog.tsx
Due: frontend-app-lint

home page navigation fix
  frontend/app/src/components/v1/nav/top-nav.tsx
  frontend/app/src/hooks/use-breadcrumbs.ts
  frontend/app/src/hooks/use-tenant-home-route.ts
  frontend/app/src/pages/authenticated.tsx
Due: frontend-app-lint

posthog capture
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

fix error
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
Due: frontend-app-lint

fix verify email onboarding
  frontend/app/src/pages/onboarding/verify-email/index.tsx
Due: frontend-app-lint

overview page after create tenant
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
Due: frontend-app-lint

feat: add max attempts to context
  sdks/python/hatchet_sdk/context/context.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none
