Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

chore: version
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

[Python] Feat: Add `max_attempts` to the `Context` (#2791)
  sdks/python/CHANGELOG.md
  sdks/python/hatchet_sdk/context/context.py
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/pyproject.toml
Due: none

small fixes/improvements to CLI logic
  cmd/hatchet-cli/cli/internal/config/cli/profile.go
  cmd/hatchet-cli/cli/profile.go
  cmd/hatchet-cli/cli/quickstart.go
  cmd/hatchet-cli/cli/tui.go
  cmd/hatchet-cli/cli/worker.go
  frontend/docs/pages/cli/profiles.mdx
  hack/install/install.sh
Due: frontend-docs-lint

fix: quickstart should just show error if dir already exists
  cmd/hatchet-cli/cli/quickstart.go
Due: none

add profile tests
  cmd/hatchet-cli/cli/internal/config/cli/profile.go
  cmd/hatchet-cli/cli/internal/config/cli/profile_test.go
Due: none

cleanup unused icon comment + overview icon animation fixes
  frontend/app/src/pages/main/v1/side-nav-items.tsx
Due: frontend-app-lint

feat: add sentinel to pydantic de/serialization
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/workflow.py
Due: none

small fixes/improvements to CLI logic (#2793)
  cmd/hatchet-cli/cli/internal/config/cli/profile.go
  cmd/hatchet-cli/cli/internal/config/cli/profile_test.go
  cmd/hatchet-cli/cli/profile.go
  cmd/hatchet-cli/cli/quickstart.go
  cmd/hatchet-cli/cli/tui.go
  cmd/hatchet-cli/cli/worker.go
  frontend/docs/pages/cli/profiles.mdx
  hack/install/install.sh
Due: frontend-docs-lint

Add dropdown content
  frontend/app/src/components/v1/nav/top-nav.tsx
  frontend/app/src/index.css
Due: frontend-app-lint

responsive fixes
  frontend/app/src/components/v1/nav/top-nav.tsx
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

Make socialAuth buttons span their full width if only one is visible
  frontend/app/src/pages/auth/components/social-auth.tsx
Due: frontend-app-lint

components
  frontend/app/src/pages/main/v1/overview/components/create-api-token-section.tsx
  frontend/app/src/pages/main/v1/overview/components/learn-workflow-section.tsx
  frontend/app/src/pages/main/v1/overview/components/section-header.tsx
  frontend/app/src/pages/main/v1/overview/components/support-section.tsx
  frontend/app/src/pages/main/v1/overview/components/token-success-dialog.tsx
  frontend/app/src/pages/main/v1/overview/index.tsx
  frontend/app/src/pages/onboarding/create-tenant/components/tenant-create-form.tsx
Due: frontend-app-lint

default token name
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

badge with state
  frontend/app/src/pages/main/v1/overview/components/onboarding-badge.tsx
Due: frontend-app-lint

remove healthcheck
  .github/workflows/test-templates.yml
Due: none

simplify workflow
  .github/workflows/test-templates.yml
Due: none

fix: non-tty environments for image pull
  cmd/hatchet-cli/cli/internal/drivers/docker/image_pull_progress.go
Due: none

feat: more pydantic context
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

increase timeout
  cmd/hatchet-cli/cli/quickstart_e2e_test.go
Due: none

fix: one more missing context
  sdks/python/hatchet_sdk/context/context.py
Due: none

increase timeout for preCmds, keep timeout for cmd
  cmd/hatchet-cli/cli/quickstart_e2e_test.go
  cmd/hatchet-cli/cli/worker.go
Due: none

update tls probe to auto-detect tls
  cmd/hatchet-cli/cli/profile.go
Due: none

Add grid noise + prettier format
  frontend/app/public/noise.png
  frontend/app/src/index.css
  frontend/app/src/pages/auth/components/auth-layout.tsx
  frontend/app/src/pages/auth/components/hero-panel.tsx
Due: frontend-app-lint

fix image pull race condition
  cmd/hatchet-cli/cli/internal/drivers/docker/image_pull_progress.go
Due: none

steps up to the thing
  frontend/app/src/components/v1/ui/code-highlighter.tsx
  frontend/app/src/pages/main/v1/overview/components/learn-workflow-section.tsx
  frontend/app/src/pages/main/v1/overview/components/section-header.tsx
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

copy changes
  frontend/app/src/pages/main/v1/overview/components/learn-workflow-section.tsx
Due: frontend-app-lint

dockerfiles and builds
  cmd/hatchet-cli/cli/quickstart_e2e_test.go
  cmd/hatchet-cli/cli/templates/go/Dockerfile
  cmd/hatchet-cli/cli/templates/python/shared/Dockerfile
Due: none

ordering
  frontend/app/src/pages/main/v1/overview/index.tsx
Due: frontend-app-lint

simplification
  frontend/app/src/pages/onboarding/create-tenant/components/tenant-create-form.tsx
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
Due: frontend-app-lint

no separator
  frontend/app/src/pages/main/v1/overview/components/create-api-token-section.tsx
Due: frontend-app-lint

redirect and nits
  frontend/app/src/components/v1/nav/top-nav.tsx
  frontend/app/src/hooks/use-current-user.ts
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/providers/app-context.tsx
Due: frontend-app-lint

fix: dockerfile for bun/yarn
  cmd/hatchet-cli/cli/templates/typescript/shared/Dockerfile
Due: none

rename scripts to triggers, add manual trigger option
  cmd/hatchet-cli/cli/client.go
  cmd/hatchet-cli/cli/internal/config/worker/config.go
  cmd/hatchet-cli/cli/templates/python/pip/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/python/poetry/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/templates/python/shared/hatchet.yaml
  cmd/hatchet-cli/cli/templates/python/uv/POST_QUICKSTART.md
  cmd/hatchet-cli/cli/trigger.go
  cmd/hatchet-cli/cli/tui.go
  cmd/hatchet-cli/cli/worker.go
  frontend/docs/pages/cli/triggering-workflows.mdx
Due: frontend-docs-lint

fix: poetry dockerfile
  cmd/hatchet-cli/cli/templates/python/shared/Dockerfile
Due: none

fix tests
  frontend/app/cypress/e2e/auth/login.cy.ts
  frontend/app/cypress/e2e/auth/register.cy.ts
  frontend/app/cypress/e2e/auth/tenant-create.cy.ts
  frontend/app/cypress/e2e/layout/v1-sidebar-resize-collapse.cy.ts
  frontend/app/cypress/support/flows/auth.ts
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/pages/root.tsx
Due: frontend-app-lint

lint
  frontend/app/cypress/support/flows/auth.ts
Due: frontend-app-lint

fix tests
  frontend/app/cypress/e2e/auth/tenant-invite-accept.cy.ts
  frontend/app/cypress/e2e/auth/tenant-switching.cy.ts
Due: frontend-app-lint

fix: self-review comments
  .github/workflows/cli-e2e-tests.yml
  cmd/hatchet-cli/cli/profile.go
Due: none
