Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

chore: lint
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-logs.tsx
Due: frontend-app-lint

favicon
  frontend/docs/public/favicon.ico
Due: frontend-docs-lint

Docs: Brand alignment (#2485)
  frontend/docs/.prettierrc
  frontend/docs/components/code/CodeBlock.tsx
  frontend/docs/package-lock.json
  frontend/docs/package.json
  frontend/docs/pnpm-lock.yaml
  frontend/docs/postcss.config.js
  frontend/docs/public/favicon.ico
  frontend/docs/public/logo.svg
  frontend/docs/styles/fonts/F37Judge-MediumExtended.woff2
  frontend/docs/styles/fonts/F37Judge-Regular.woff2
  frontend/docs/styles/global.css
  frontend/docs/styles/nextra.css
  frontend/docs/tailwind.config.js
  frontend/docs/theme.config.tsx
  frontend/snippets/.python-version
Due: frontend-docs-lint

fix: propagate parent id properly
  api/v1/server/oas/transformers/v1/tasks.go
  api/v1/server/oas/transformers/v1/workflow_runs.go
Due: none

fix: pointers
  api/v1/server/oas/transformers/v1/tasks.go
  api/v1/server/oas/transformers/v1/workflow_runs.go
Due: none

Add `SERVER_OTEL_COLLECTOR_AUTH` to selfhosting docs
  frontend/docs/pages/self-hosting/configuration-options.mdx
Due: frontend-docs-lint

Add `SERVER_OTEL_COLLECTOR_AUTH` to selfhosting docs (#2497)
  frontend/docs/pages/self-hosting/configuration-options.mdx
Due: frontend-docs-lint

Fix: Propagate parent id through to `V1TaskSummary` properly (#2496)
  api/v1/server/oas/transformers/v1/tasks.go
  api/v1/server/oas/transformers/v1/workflow_runs.go
Due: none

fix: add min version
  frontend/docs/pages/home/dataclasses.mdx
Due: frontend-docs-lint

feat: dataclass docs
  examples/python/dataclasses/trigger.py
  examples/python/dataclasses/worker.py
  frontend/docs/pages/home/_meta.js
  frontend/docs/pages/home/dataclasses.mdx
  sdks/python/examples/dataclasses/trigger.py
  sdks/python/examples/dataclasses/worker.py
Due: frontend-docs-lint

Docs: Dataclasses (#2488)
  examples/python/dataclasses/trigger.py
  examples/python/dataclasses/worker.py
  frontend/docs/pages/home/_meta.js
  frontend/docs/pages/home/dataclasses.mdx
  sdks/python/examples/dataclasses/trigger.py
  sdks/python/examples/dataclasses/worker.py
Due: frontend-docs-lint

feat: configurable status updates
  internal/services/controllers/v1/olap/controller.go
  internal/services/controllers/v1/olap/process_dag_status_updates.go
  internal/services/controllers/v1/olap/process_task_status_updates.go
  pkg/config/loader/loader.go
  pkg/config/server/server.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/repository.go
Due: none

fix: config
  frontend/docs/pages/self-hosting/configuration-options.mdx
Due: frontend-docs-lint

fix: wiring
  cmd/hatchet-engine/engine/run.go
  internal/services/controllers/v1/olap/controller.go
Due: none

feat: export limits from olap
  pkg/repository/v1/olap.go
Due: none

fix: param drilling
  internal/services/controllers/v1/olap/process_dag_status_updates.go
  internal/services/controllers/v1/olap/process_task_status_updates.go
  pkg/repository/v1/olap.go
Due: none

Feat: Configurable OLAP status update size limits (#2499)
  cmd/hatchet-engine/engine/run.go
  frontend/docs/pages/self-hosting/configuration-options.mdx
  internal/services/controllers/v1/olap/controller.go
  pkg/config/loader/loader.go
  pkg/config/server/server.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/repository.go
Due: frontend-docs-lint

update setup for new Go SDK
  frontend/docs/components/InstallCommand.tsx
  frontend/docs/pages/_setup/_existing/go.mdx
  frontend/docs/pages/_setup/_new/go.mdx
Due: frontend-docs-lint

update setup for new Go SDK (#2500)
  frontend/docs/components/InstallCommand.tsx
  frontend/docs/pages/_setup/_existing/go.mdx
  frontend/docs/pages/_setup/_new/go.mdx
Due: frontend-docs-lint

feat: handle immediate offloads
  pkg/repository/v1/olap.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

fix: event trigger put call
  pkg/repository/v1/olap.go
Due: none

feat: payload store updates for immediate offloads
  pkg/repository/v1/payloadstore.go
Due: none

fix: dynamic payload put depending on if offload worked
  pkg/repository/v1/olap.go
Due: none

feat: start immediate offloads work
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
Due: none

feat: start wiring up immediate offloads
  internal/services/controllers/v1/olap/controller.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/olappayload.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: get rid of payload store return
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: rm put
  internal/services/controllers/v1/olap/controller.go
Due: none

pass labels to durable worker
  pkg/v1/worker/worker.go
Due: none

fix: write event payload from the right place
  pkg/repository/v1/olap.go
Due: none

pass labels to durable worker (#2504)
  pkg/v1/worker/worker.go
Due: none

fix: dummy id for task events to prevent duplication issues with the tasks themselves
  pkg/repository/v1/olap.go
Due: none

fix: rm comments
  pkg/repository/v1/olap.go
Due: none

fix: rm unused struct
  pkg/repository/v1/olap.go
Due: none

fix: enabled wal
  pkg/repository/v1/olap.go
Due: none

fix: rm `RETURNING`
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: small cleanup
  internal/services/controllers/v1/olap/controller.go
  pkg/repository/v1/olappayload.go
Due: none

fix: wal issue
  pkg/repository/v1/olap.go
Due: none

Immediate Payload Offloads OLAP Wiring (#2492)
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/olap.sql
  pkg/repository/v1/sqlcv1/olap.sql.go
Due: none

feat: add pagination support for V1LogLineList (#2354)
  api-contracts/openapi/paths/v1/tasks/tasks.yaml
  api/v1/server/handlers/v1/tasks/list_logs.go
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/components/v1/cloud/logging/logs.tsx
  frontend/app/src/lib/api/generated/Api.ts
  frontend/app/src/lib/api/queries.ts
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-logs.tsx
  pkg/client/rest/gen.go
  pkg/repository/v1/log_line.go
  pkg/repository/v1/sqlcv1/log_line.sql
  pkg/repository/v1/sqlcv1/log_line.sql.go
  sdks/python/hatchet_sdk/clients/rest/api/log_api.py
  sdks/python/hatchet_sdk/features/logs.py
  sdks/typescript/src/clients/rest/generated/Api.ts
Due: frontend-app-lint
