Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

frontend-app-lint:
  name: Frontend App Lint
  entry: bash -c 'cd frontend/app && npm run lint:check'
  language: system

frontend-docs-lint:
  name: Frontend Docs Lint
  entry: bash -c 'cd frontend/docs && npm run lint:check'
  language: system

feat: dlq for dispatcher queues
  internal/msgqueue/v1/msg.go
  internal/msgqueue/v1/msgqueue.go
  internal/msgqueue/v1/postgres/msgqueue.go
  internal/msgqueue/v1/rabbitmq/rabbitmq.go
  internal/msgqueue/v1/rabbitmq/rabbitmq_test.go
  internal/queueutils/backoff.go
  internal/services/controllers/v1/olap/controller.go
  internal/services/scheduler/v1/scheduler.go
  pkg/config/loader/loader.go
Due: none

reduce dispatcher message ttl to 20 seconds
  internal/msgqueue/v1/rabbitmq/rabbitmq.go
Due: none

rename dispatcher queue for clarity
  internal/msgqueue/v1/msgqueue.go
Due: none

fix: comment
  pkg/repository/v1/payloadstore.go
Due: none

hotfix: handle pydantic serialization errors
  sdks/python/hatchet_sdk/worker/runner/runner.py
Due: none

chore: changelog
  sdks/python/CHANGELOG.md
  sdks/python/pyproject.toml
Due: none

fix(python-sdk): Fix RateLimit validation incorrectly rejects valid CEL expression strings (#2536)
  sdks/python/CHANGELOG.md
  sdks/python/hatchet_sdk/rate_limit.py
Due: none

add error logs when dead lettering
  internal/services/scheduler/v1/scheduler.go
Due: none

address comment
  internal/services/scheduler/v1/scheduler.go
Due: none

feat: dlq for dispatcher queues (#2600)
  internal/msgqueue/v1/msg.go
  internal/msgqueue/v1/msgqueue.go
  internal/msgqueue/v1/postgres/msgqueue.go
  internal/msgqueue/v1/rabbitmq/rabbitmq.go
  internal/msgqueue/v1/rabbitmq/rabbitmq_test.go
  internal/queueutils/backoff.go
  internal/services/controllers/v1/olap/controller.go
  internal/services/scheduler/v1/scheduler.go
  pkg/config/loader/loader.go
Due: none

[Python]: Hotfix: Pydantic serialization error from failing to encode bytes (#2602)
  sdks/python/CHANGELOG.md
  sdks/python/hatchet_sdk/rate_limit.py
  sdks/python/hatchet_sdk/worker/runner/runner.py
  sdks/python/pyproject.toml
Due: none

Fix double toast on sidebar
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
Due: frontend-app-lint

Fix double toast on sidebar (#2607)
  frontend/app/src/pages/main/v1/workflow-runs-v1/$run/v2components/step-run-detail/step-run-detail.tsx
Due: frontend-app-lint

Feat: Job for payload cutovers to external (#2586)
  cmd/hatchet-migrate/migrate/migrations/20251128190238_v1_0_54.sql
  internal/services/controllers/v1/task/controller.go
  internal/services/controllers/v1/task/process_payload_wal.go
  pkg/config/loader/loader.go
  pkg/config/server/server.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/repository.go
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/payload-store-overwrite.sql.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
Due: none

refactor: acquire a lease instead of an advisory lock
  cmd/hatchet-migrate/migrate/migrations/20251205170304_v1_0_55.sql
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
Due: none

refactor: partition dates
  pkg/repository/v1/payloadstore.go
Due: none

fix: single query to acquire / extend
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: explicit alias
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: unwind
  pkg/repository/v1/sqlcv1/payload-store.sql
Due: none

fix: Skip relative URLs when checking cross domain links
  frontend/docs/components/CrossDomainLinkHandler.tsx
Due: frontend-docs-lint

fix: hwere clause
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: handle no rows
  pkg/repository/v1/payloadstore.go
Due: none

fix: lease bug
  pkg/repository/v1/payloadstore.go
Due: none

fix: rm debug
  pkg/repository/v1/payloadstore.go
Due: none

fix: comment for clarity
  pkg/repository/v1/payloadstore.go
Due: none

fix: syntax that doesn't actually matter
  cmd/hatchet-migrate/migrate/migrations/20251205170304_v1_0_55.sql
Due: none

fix: error
  pkg/repository/v1/payloadstore.go
Due: none

make changes for billing
  frontend/app/src/components/v1/cloud/billing/index.ts
  frontend/app/src/components/v1/cloud/billing/payment-methods.tsx
  frontend/app/src/components/v1/cloud/billing/subscription.tsx
  frontend/app/src/hooks/use-tenant.tsx
  frontend/app/src/lib/api/generated/cloud/Api.ts
  frontend/app/src/lib/api/generated/cloud/data-contracts.ts
  frontend/app/src/lib/atoms.ts
  frontend/app/src/lib/can/features/managed-compute.ts
  frontend/app/src/pages/main/v1/managed-workers/index.tsx
  frontend/app/src/pages/main/v1/tenant-settings/resource-limits/components/resource-limit-columns.tsx
  frontend/app/src/pages/main/v1/tenant-settings/resource-limits/index.tsx
Due: frontend-app-lint

Fix: Leasing for payload job (#2609)
  cmd/hatchet-migrate/migrate/migrations/20251205170304_v1_0_55.sql
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
Due: none

fix: add validation
  pkg/config/loader/loader.go
Due: none

fix: Skip relative URLs when checking cross domain links (#2608)
  frontend/docs/components/CrossDomainLinkHandler.tsx
Due: frontend-docs-lint

fix: add validation (#2610)
  pkg/config/loader/loader.go
Due: none

feat: remove all v0 paths
  frontend/app/src/router.tsx
Due: frontend-app-lint

fix: gen
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/lib/api/generated/http-client.ts
Due: frontend-app-lint

fix: rm redirect
  frontend/app/src/router.tsx
Due: frontend-app-lint

fix: rm some v0 stuff
  frontend/app/src/components/molecules/nav-bar/nav-bar.tsx
  frontend/app/src/components/molecules/nav-bar/tenant-switcher.tsx
  frontend/app/src/components/v1/molecules/nav-bar/organization-selector.tsx
  frontend/app/src/components/v1/molecules/nav-bar/tenant-switcher.tsx
  frontend/app/src/lib/atoms.ts
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/pages/main/v1/tenant-settings/overview/index.tsx
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
  frontend/app/src/pages/onboarding/invites/index.tsx
Due: frontend-app-lint

fix: rm more unused stuff
  frontend/app/src/components/molecules/nav-bar/nav-bar.tsx
  frontend/app/src/components/molecules/nav-bar/tenant-switcher.tsx
  frontend/app/src/components/v1/molecules/nav-bar/organization-selector.tsx
  frontend/app/src/components/v1/molecules/nav-bar/tenant-switcher.tsx
  frontend/app/src/lib/atoms.ts
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/pages/main/events/components/additional-metadata.tsx
  frontend/app/src/pages/main/index.tsx
  frontend/app/src/pages/main/v1/scheduled-runs/components/expanded-scheduled-run-content.tsx
  frontend/app/src/pages/main/v1/tenant-settings/overview/index.tsx
  frontend/app/src/pages/main/workflow-runs/components/run-statuses.tsx
  frontend/app/src/pages/main/workflow-runs/components/workflow-runs-columns.tsx
  frontend/app/src/pages/main/workflow-runs/components/workflow-runs-metrics.tsx
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
  frontend/app/src/pages/onboarding/invites/index.tsx
Due: frontend-app-lint

Path conditions:
  frontend-app-lint: any of: ^frontend/app/
  frontend-docs-lint: any of: ^frontend/docs/
