Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

update docs
  frontend/docs/pages/self-hosting/configuration-options.mdx
Due: frontend-docs-lint

fix: relative paths in sqlc.yaml
  pkg/repository/sqlcv1/sqlc.yaml
Due: none

chore: clean up buffer config and remove package (#2748)
  frontend/docs/pages/self-hosting/configuration-options.mdx
  pkg/config/database/config.go
  pkg/config/server/server.go
  pkg/repository/buffer/buffered.go
  pkg/repository/buffer/buffered_test.go
  pkg/repository/buffer/config.go
  pkg/repository/buffer/tenant_buffer.go
  pkg/repository/buffer/tenant_buffer_test.go
Due: frontend-docs-lint

refactor: set a connection-level statement timeout
  pkg/config/loader/loader.go
  pkg/repository/api_token.go
  pkg/repository/ids.go
  pkg/repository/match.go
  pkg/repository/olap.go
  pkg/repository/payloadstore.go
  pkg/repository/rate_limit.go
  pkg/repository/scheduler_concurrency.go
  pkg/repository/scheduler_lease.go
  pkg/repository/scheduler_queue.go
  pkg/repository/sqlchelpers/tx.go
  pkg/repository/task.go
  pkg/repository/tenant.go
  pkg/repository/tenant_invite.go
  pkg/repository/trigger.go
  pkg/repository/user.go
  pkg/repository/workflow.go
Due: none

reset to 30 seconds instead of 0
  pkg/repository/sqlchelpers/tx.go
Due: none

remove comment
  pkg/repository/sqlchelpers/tx.go
Due: none

chore: redirect blog to new blog site
  frontend/docs/next.config.mjs
  frontend/docs/pages/_meta.js
  frontend/docs/pages/blog/_alice.json
  frontend/docs/pages/blog/_celery_prefetch.json
  frontend/docs/pages/blog/_fairness.json
  frontend/docs/pages/blog/_meta.js
  frontend/docs/pages/blog/_multi.json
  frontend/docs/pages/blog/automated-documentation.mdx
  frontend/docs/pages/blog/background-tasks-fastapi-hatchet.mdx
  frontend/docs/pages/blog/connections-throughput.tsx
  frontend/docs/pages/blog/er-diagram.png
  frontend/docs/pages/blog/fastest-postgres-inserts.mdx
  frontend/docs/pages/blog/go-agents.mdx
  frontend/docs/pages/blog/latency-bench.tsx
  frontend/docs/pages/blog/mergent-migration-guide.mdx
  frontend/docs/pages/blog/migrating-off-prisma.mdx
  frontend/docs/pages/blog/multi-tenant-queues.mdx
  frontend/docs/pages/blog/postgres-events-table.mdx
  frontend/docs/pages/blog/problems-with-celery.mdx
  frontend/docs/pages/blog/step-run-events.png
  frontend/docs/pages/blog/task-queue-modern-python.mdx
  frontend/docs/pages/blog/warning-event-loop-blocked.mdx
  frontend/docs/pages/home/_meta.js
Due: frontend-docs-lint

docs: add link to durable execution blog post
  frontend/docs/pages/home/durable-execution.mdx
Due: frontend-docs-lint

move callback into cb.Do
  pkg/config/loader/loader.go
  pkg/repository/user.go
Due: none

fix: colors
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
Due: frontend-app-lint

fix: table background
  frontend/app/src/components/v1/molecules/simple-table/simple-table.tsx
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
Due: frontend-app-lint

fix: colors, move side panel provider
  frontend/app/src/pages/main/v1/index.tsx
  frontend/app/src/pages/main/v1/workers/$worker/index.tsx
  frontend/app/src/pages/root.tsx
Due: frontend-app-lint

fix: broken redirect
  frontend/app/src/pages/main/v1/managed-workers/create/components/create-worker-form.tsx
Due: frontend-app-lint

docs: add link to durable execution blog post (#2752)
  frontend/docs/pages/home/durable-execution.mdx
Due: frontend-docs-lint

chore: redirect blog to new blog site (#2751)
  frontend/docs/next.config.mjs
  frontend/docs/pages/_meta.js
  frontend/docs/pages/blog/_alice.json
  frontend/docs/pages/blog/_celery_prefetch.json
  frontend/docs/pages/blog/_fairness.json
  frontend/docs/pages/blog/_meta.js
  frontend/docs/pages/blog/_multi.json
  frontend/docs/pages/blog/automated-documentation.mdx
  frontend/docs/pages/blog/background-tasks-fastapi-hatchet.mdx
  frontend/docs/pages/blog/connections-throughput.tsx
  frontend/docs/pages/blog/er-diagram.png
  frontend/docs/pages/blog/fastest-postgres-inserts.mdx
  frontend/docs/pages/blog/go-agents.mdx
  frontend/docs/pages/blog/latency-bench.tsx
  frontend/docs/pages/blog/mergent-migration-guide.mdx
  frontend/docs/pages/blog/migrating-off-prisma.mdx
  frontend/docs/pages/blog/multi-tenant-queues.mdx
  frontend/docs/pages/blog/postgres-events-table.mdx
  frontend/docs/pages/blog/problems-with-celery.mdx
  frontend/docs/pages/blog/step-run-events.png
  frontend/docs/pages/blog/task-queue-modern-python.mdx
  frontend/docs/pages/blog/warning-event-loop-blocked.mdx
  frontend/docs/pages/home/_meta.js
Due: frontend-docs-lint

use connections with larger statement timeouts for certain queries
  pkg/repository/olap.go
  pkg/repository/payloadstore.go
  pkg/repository/sqlchelpers/tx.go
  pkg/repository/task.go
Due: none

refactor: set a connection-level statement timeout (#2750)
  pkg/config/loader/loader.go
  pkg/repository/api_token.go
  pkg/repository/ids.go
  pkg/repository/match.go
  pkg/repository/olap.go
  pkg/repository/payloadstore.go
  pkg/repository/rate_limit.go
  pkg/repository/scheduler_concurrency.go
  pkg/repository/scheduler_lease.go
  pkg/repository/scheduler_queue.go
  pkg/repository/sqlchelpers/tx.go
  pkg/repository/task.go
  pkg/repository/tenant.go
  pkg/repository/tenant_invite.go
  pkg/repository/trigger.go
  pkg/repository/user.go
  pkg/repository/workflow.go
Due: none

fix: typing for dependency injection
  sdks/python/hatchet_sdk/runnables/task.py
  sdks/python/hatchet_sdk/runnables/types.py
Due: none

use try advisory for replat tasks
  pkg/repository/task.go
Due: none

use try advisory for replat tasks (#2755)
  pkg/repository/task.go
Due: none

fix: propagate parent external id through to count query
  pkg/repository/olap.go
  pkg/repository/sqlcv1/olap-overwrite.sql
  pkg/repository/sqlcv1/olap-overwrite.sql.go
Due: none

chore: remove duplicate olap overwrite sql
  pkg/repository/sqlcv1/olap-overwrite.sql
Due: none

fix workflow
  pkg/repository/workflow.go
Due: none

revert: UI version removal
  cmd/hatchet-migrate/migrate/migrations/20251229174938_v1_0_67.sql
  cmd/hatchet-migrate/migrate/migrations/20260106185235_v1_0_68.sql
  pkg/repository/sqlcv1/models.go
  pkg/repository/sqlcv1/tenants.sql.go
  sql/schema/v0.sql
Due: none

fix lint
  internal/msgqueue/mq_pub_buffer.go
  internal/msgqueue/mq_sub_buffer.go
  internal/msgqueue/mq_sub_buffer_test.go
  internal/msgqueue/msg.go
  internal/msgqueue/postgres/exchange.go
  internal/msgqueue/rabbitmq/gzip.go
  internal/services/controllers/olap/controller.go
  internal/services/controllers/task/controller.go
  internal/services/dispatcher/server_v1.go
Due: none

Send `create:user` Event from OAuth Flow (#2683)
  api/v1/server/handlers/tenants/create.go
  api/v1/server/handlers/users/create.go
  internal/msgqueue/postgres/msgqueue.go
  internal/msgqueue/rabbitmq/rabbitmq.go
  internal/msgqueue/rabbitmq/rabbitmq_test.go
  internal/services/controllers/metrics/collector.go
  pkg/config/loader/loader.go
  pkg/repository/mq.go
  pkg/repository/scheduler_queue.go
  pkg/repository/tenant.go
  pkg/repository/user.go
  pkg/repository/worker.go
  pkg/repository/workflow_schedules.go
Due: none

Apply suggestion from @Copilot
  cmd/hatchet-migrate/migrate/migrations/20260106185235_v1_0_68.sql
Due: none

revert: UI version removal (#2756)
  cmd/hatchet-migrate/migrate/migrations/20251229174938_v1_0_67.sql
  cmd/hatchet-migrate/migrate/migrations/20260106185235_v1_0_68.sql
  pkg/repository/sqlcv1/models.go
  pkg/repository/sqlcv1/tenants.sql.go
  sql/schema/v0.sql
Due: none

remove questionnaire from onboarding
  api-contracts/openapi/components/schemas/tenant.yaml
  api/v1/server/handlers/tenants/create.go
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/pages/onboarding/create-tenant/components/hear-about-us-form.tsx
  frontend/app/src/pages/onboarding/create-tenant/components/step-progress.tsx
  frontend/app/src/pages/onboarding/create-tenant/components/what-building-form.tsx
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
  frontend/app/src/pages/onboarding/create-tenant/types.ts
  pkg/client/rest/gen.go
  pkg/repository/tenant.go
Due: frontend-app-lint

keep the tenant name simple
  frontend/app/src/pages/onboarding/create-tenant/components/tenant-create-form.tsx
Due: frontend-app-lint

lint fix
  Taskfile.yaml
  frontend/app/src/pages/onboarding/create-tenant/components/tenant-create-form.tsx
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
Due: frontend-app-lint

current user hook
  frontend/app/src/hooks/use-current-user.ts
  frontend/app/src/pages/auth/no-auth.tsx
  frontend/app/src/pages/authenticated.tsx
  frontend/app/src/pages/error/components/tenant-forbidden.tsx
  frontend/app/src/pages/main/v1/tenant-settings/members/index.tsx
  frontend/app/src/pages/onboarding/create-tenant/components/tenant-create-form.tsx
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
  frontend/app/src/pages/onboarding/verify-email/index.tsx
  frontend/app/src/pages/organizations/$organization/index.tsx
Due: frontend-app-lint

styling
  Taskfile.yaml
  frontend/app/src/pages/onboarding/create-tenant/components/tenant-create-form.tsx
  frontend/app/src/pages/onboarding/create-tenant/index.tsx
  frontend/app/src/router.tsx
Due: frontend-app-lint

chore: version
  sdks/python/pyproject.toml
Due: none

fix: log truncation
  sdks/python/hatchet_sdk/clients/events.py
Due: none

chore: lint
  sdks/python/hatchet_sdk/clients/events.py
Due: none
