Repository hatchet-dev/hatchet: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-app-lint, frontend-docs-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        exclude: ^examples/
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: ^examples/
      - id: end-of-file-fixer
        exclude: ^examples/
      - id: trailing-whitespace
        exclude: ^examples/
      - id: check-yaml
        exclude: ^examples/
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.4.0
    hooks:
      - id: golangci-lint
        args: ["--config=.golangci.yml"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: frontend-app-lint
        name: Frontend App Lint
        entry: bash -c 'cd frontend/app && npm run lint:check'
        language: system
        files: ^frontend/app/
      - id: frontend-docs-lint
        name: Frontend Docs Lint
        entry: bash -c 'cd frontend/docs && npm run lint:check'
        language: system
        files: ^frontend/docs/

support legacy flags as well
  cmd/hatchet-lite/main.go
Due: none

fix: missing cols
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

feat: cut over query finalizer
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: rm operations
  pkg/repository/v1/sqlcv1/models.go
  sql/schema/v1-core.sql
Due: none

feat: add cutover job
  internal/services/controllers/v1/task/controller.go
  internal/services/controllers/v1/task/process_payload_wal.go
  pkg/repository/v1/payloadstore.go
Due: none

fix: fn
  cmd/hatchet-migrate/migrate/migrations/20251001155231_v1_0_46.sql
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
Due: none

fix: select records to offload properly
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

chore: lint
  pkg/repository/v1/sqlcv1/payload-store.sql
Due: none

feat: attempt 1 at doing the cutover + the offload in the same query
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

feat: modify operations
  cmd/hatchet-migrate/migrate/migrations/20251001155231_v1_0_46.sql
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
Due: none

fix: operation write
  pkg/repository/v1/payloadstore.go
Due: none

feat: add query for cut over polling
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: for update
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: check constraint
  cmd/hatchet-migrate/migrate/migrations/20251001155231_v1_0_46.sql
  sql/schema/v1-core.sql
Due: none

fix: select
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: simplify into single query
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

debug: add some print lines
  pkg/repository/v1/payloadstore.go
Due: none

feat: add second table to hold queued cutovers
  cmd/hatchet-migrate/migrate/migrations/20251001155231_v1_0_46.sql
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
Due: none

fix: revert debug
  pkg/repository/v1/payloadstore.go
Due: none

feat: write cutover queue items at the same time as setting payload keys
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

feat: query for writes into cutover queue
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: start reworking queries
  pkg/repository/v1/sqlcv1/payload-store.sql
Due: none

fix: query name for finalize
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
Due: none

fix: don't remove operation column yet
  cmd/hatchet-migrate/migrate/migrations/20251001155231_v1_0_46.sql
  pkg/repository/v1/sqlcv1/models.go
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  sql/schema/v1-core.sql
Due: none

feat: refactor into struct of opts and make job intervals configurable
  internal/services/controllers/v1/task/controller.go
  pkg/config/loader/loader.go
  pkg/config/server/server.go
  pkg/repository/v1/olap.go
  pkg/repository/v1/payloadstore.go
  pkg/repository/v1/repository.go
  pkg/repository/v1/shared.go
Due: none

fix: add analyze for payload table
  pkg/repository/v1/sqlcv1/payload-store.sql
  pkg/repository/v1/sqlcv1/payload-store.sql.go
  pkg/repository/v1/task.go
Due: none

fix: schema copy paste
  sql/schema/v1-core.sql
Due: none

fix: override prismjs version
  frontend/docs/package.json
  frontend/docs/pnpm-lock.yaml
Due: frontend-docs-lint

fix: confusing inter-service triggering page
  frontend/docs/pages/home/_meta.js
  frontend/docs/pages/home/inter-service-triggering.mdx
  frontend/docs/pages/home/running-tasks.mdx
Due: frontend-docs-lint

fix: grammar
  frontend/docs/pages/home/inter-service-triggering.mdx
Due: frontend-docs-lint

address PR comments
  internal/services/controllers/v1/task/cleanup.go
  pkg/repository/v1/sqlcv1/queue.sql
  pkg/repository/v1/sqlcv1/queue.sql.go
  pkg/repository/v1/sqlcv1/tasks.sql
  pkg/repository/v1/sqlcv1/tasks.sql.go
  pkg/repository/v1/task.go
Due: none

fix timeout
  pkg/repository/v1/task.go
Due: none

[Docs]: Improve triggering from external services section, fix dependabot vuln (#2393)
  frontend/docs/package.json
  frontend/docs/pages/home/_meta.js
  frontend/docs/pages/home/inter-service-triggering.mdx
  frontend/docs/pages/home/running-tasks.mdx
  frontend/docs/pnpm-lock.yaml
Due: frontend-docs-lint

properly case on output byte length
  internal/services/dispatcher/dispatcher_v1.go
Due: none

feat: update query, patch route
  api-contracts/openapi/components/schemas/_index.yaml
  api-contracts/openapi/components/schemas/workflow_run.yaml
  api-contracts/openapi/paths/workflow/workflow.yaml
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/Api.ts
  frontend/app/src/lib/api/generated/data-contracts.ts
  pkg/client/rest/gen.go
  pkg/repository/postgres/dbsqlc/workflows.sql
  pkg/repository/postgres/dbsqlc/workflows.sql.go
Due: frontend-app-lint

feat: api for update
  api/v1/server/handlers/workflows/update_cron.go
  pkg/repository/postgres/dbsqlc/workflows.sql
  pkg/repository/postgres/dbsqlc/workflows.sql.go
  pkg/repository/postgres/workflow.go
  pkg/repository/workflow.go
Due: none

fix: simplify ui a bit
  frontend/app/src/pages/main/v1/recurring/components/recurring-table.tsx
  frontend/app/src/pages/main/v1/recurring/index.tsx
Due: frontend-app-lint

feat: wire up fe
  frontend/app/src/pages/main/v1/recurring/components/recurring-columns.tsx
  frontend/app/src/pages/main/v1/recurring/hooks/use-crons.tsx
  frontend/app/src/pages/main/v1/recurring/index.tsx
  pkg/repository/postgres/dbsqlc/workflows.sql
  pkg/repository/postgres/dbsqlc/workflows.sql.go
Due: frontend-app-lint

feat: improve copy, spinners
  frontend/app/src/pages/main/v1/recurring/components/recurring-columns.tsx
Due: frontend-app-lint

fix: invert naming to avoid horrible double negative
  api-contracts/openapi/components/schemas/workflow_run.yaml
  api/v1/server/handlers/workflows/update_cron.go
  api/v1/server/oas/gen/openapi.gen.go
  frontend/app/src/lib/api/generated/data-contracts.ts
  frontend/app/src/pages/main/v1/recurring/index.tsx
  pkg/client/rest/gen.go
  pkg/repository/postgres/dbsqlc/workflows.sql
  pkg/repository/postgres/dbsqlc/workflows.sql.go
  pkg/repository/postgres/workflow.go
  pkg/repository/workflow.go
Due: frontend-app-lint
